<%= form_with(model: mail_dato) do |form| %>
  <% if mail_dato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mail_dato.errors.count, "error") %> prohibited this mail_dato from being saved:</h2>

      <ul>
        <% mail_dato.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_usu %>
    <%= form.number_field :id_usu %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :id_sol %>
    <%= form.number_field :id_sol %>
  </div>

  <div class="field">
    <%= form.label :id_nota %>
    <%= form.number_field :id_nota %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_field :comentario %>
  </div>

  <div class="field">
    <%= form.label :creada %>
    <%= form.text_field :creada %>
  </div>

  <div class="field">
    <%= form.label :actualizada %>
    <%= form.text_field :actualizada %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :dias %>
    <%= form.text_field :dias %>
  </div>

  <div class="field">
    <%= form.label :fase %>
    <%= form.number_field :fase %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
