<p id="notice"><%= notice %></p>

<p>
  <strong>Id usu:</strong>
  <%= @mail_dato.id_usu %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @mail_dato.nombre %>
</p>

<p>
  <strong>Id sol:</strong>
  <%= @mail_dato.id_sol %>
</p>

<p>
  <strong>Id nota:</strong>
  <%= @mail_dato.id_nota %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @mail_dato.comentario %>
</p>

<p>
  <strong>Creada:</strong>
  <%= @mail_dato.creada %>
</p>

<p>
  <strong>Actualizada:</strong>
  <%= @mail_dato.actualizada %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mail_dato.email %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @mail_dato.estado %>
</p>

<p>
  <strong>Dias:</strong>
  <%= @mail_dato.dias %>
</p>

<p>
  <strong>Fase:</strong>
  <%= @mail_dato.fase %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @mail_dato.fecha %>
</p>

<%= link_to 'Edit', edit_mail_dato_path(@mail_dato) %> |
<%= link_to 'Back', mail_datos_path %>
