<p id="notice"><%= notice %></p>

<h1>Entidads</h1>

<table>
  <thead>
    <tr>
      <th>Entidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entidads.each do |entidad| %>
      <tr>
        <td><%= entidad.entidad %></td>
        <td><%= link_to 'Show', entidad %></td>
        <td><%= link_to 'Edit', edit_entidad_path(entidad) %></td>
        <td><%= link_to 'Destroy', entidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entidad', new_entidad_path %>
