<table border="0" width="100%">
	<tr>
		<td><img src="/images/ssslp-smp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><b>Seguimiento a Pacientes con Complicaciones durante el Embarazo o Puerperio</b></br><hr/>
							<h2>Domicilios</h2>
			<% if @paciente_id != nil %>
				<%= link_to @paciente_id,paciente_path(@paciente_id) %>-<%= Paciente.find(:first, :conditions=>{:id => @paciente_id}).name %>
			<% end %>
        </td>
		<td align="right" valign="bottom">
			<% if @paciente_id != nil && (17..20).include?(current_user.rol_id) %>
					<%= link_to 'Nuevo Domicilio', new_domicilio_path(:paciente => @paciente_id) %><br/><br/>
			<% end %>
			<%= link_to 'Inicio', url_for("/") %>
		</td>	
	</tr>
</table>
<table border='10' width='100%'>
  <tr>
<% if @paciente_id == nil %>
    <th>Pac.</th>
<% end %>	
    <th>Ent.</th>
    <th>Municipio</th>
    <th>Calle</th>
    <th>Numero</th>
    <th>Colonia</th>
    <th>CP</th>
    <th>Telefono</th>
    <th>Obs.</th>
    <th>MD</th>
  </tr>

<% @domicilios.each do |domicilio| %>
  <tr>
<% if @paciente_id == nil %>
    <td align="center"><%= link_to domicilio.paciente_id,paciente_path(domicilio.paciente_id) %></td>
<% end %>	
    <td align="center"><%=h domicilio.entidad_id == nil ? "": Entidad.find(:first, :conditions=>{:id=>domicilio.entidad_id}).entidad%></td>
    <td align="center"><%=h domicilio.municipio %></td>
    <td align="center"><%=h domicilio.calle %></td>
    <td align="center"><%=h domicilio.numero %></td>
    <td align="center"><%=h domicilio.colonia %></td>
    <td align="center"><%=h domicilio.cp %></td>
    <td align="center"><%=h domicilio.telefono %></td>
    <td align="center"><%=h domicilio.observa %></td>
    <td align="center"><%=h User.find(domicilio.user_id).login %></td>
	<% if [10,18].include?(current_user.rol_id) %>
		<td align="center"><%= link_to 'Mod.', edit_domicilio_path(domicilio) %></td>
	<% end %>
	<% if [10,18].include?(current_user.rol_id) %>
		<td align="center"><%= link_to 'X', domicilio, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>	
  </tr>
<% end %>
</table>
<br />
