<p id="notice"><%= notice %></p>

<h1>Domicilios</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Entidad</th>
      <th>Municipio</th>
      <th>Calle</th>
      <th>Numero</th>
      <th>Colonia</th>
      <th>Cp</th>
      <th>Telefono</th>
      <th>Observa</th>
      <th>User</th>
      <th>Muni</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @domicilios.each do |domicilio| %>
      <tr>
        <td><%= domicilio.paciente_id %></td>
        <td><%= domicilio.entidad_id %></td>
        <td><%= domicilio.municipio %></td>
        <td><%= domicilio.calle %></td>
        <td><%= domicilio.numero %></td>
        <td><%= domicilio.colonia %></td>
        <td><%= domicilio.cp %></td>
        <td><%= domicilio.telefono %></td>
        <td><%= domicilio.observa %></td>
        <td><%= domicilio.user_id %></td>
        <td><%= domicilio.muni_id %></td>
        <td><%= link_to 'Show', domicilio %></td>
        <td><%= link_to 'Edit', edit_domicilio_path(domicilio) %></td>
        <td><%= link_to 'Destroy', domicilio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domicilio', new_domicilio_path %>
