<p>
  <b>Paciente:</b>
  <%=h @domicilio.paciente_id %>
</p>

<p>
  <b>Entidad:</b>
  <%=h @domicilio.entidad_id %>
</p>

<p>
  <b>Municipio:</b>
  <%=h @domicilio.municipio %>
</p>

<p>
  <b>Calle:</b>
  <%=h @domicilio.calle %>
</p>

<p>
  <b>Numero:</b>
  <%=h @domicilio.numero %>
</p>

<p>
  <b>Colonia:</b>
  <%=h @domicilio.colonia %>
</p>

<p>
  <b>Cp:</b>
  <%=h @domicilio.cp %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @domicilio.telefono %>
</p>

<p>
  <b>Observa:</b>
  <%=h @domicilio.observa %>
</p>

<p>
  <b>User:</b>
  <%=h @domicilio.user_id %>
</p>


<%= link_to 'Edit', edit_domicilio_path(@domicilio) %> |
<%= link_to 'Back', domicilios_path %>