<p id="notice"><%= notice %></p>

<h1>Renglons</h1>

<table>
  <thead>
    <tr>
      <th>Requisicion</th>
      <th>Renglon</th>
      <th>Proyecto</th>
      <th>Programa</th>
      <th>Clues</th>
      <th>Partida</th>
      <th>Ejercicio</th>
      <th>Descripcion</th>
      <th>Importe</th>
      <th>Etiqueta</th>
      <th>Cant detpeds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @renglons.each do |renglon| %>
      <tr>
        <td><%= renglon.requisicion_id %></td>
        <td><%= renglon.renglon %></td>
        <td><%= renglon.proyecto_id %></td>
        <td><%= renglon.programa_id %></td>
        <td><%= renglon.clues_id %></td>
        <td><%= renglon.partida_id %></td>
        <td><%= renglon.ejercicio %></td>
        <td><%= renglon.descripcion %></td>
        <td><%= renglon.importe %></td>
        <td><%= renglon.etiqueta_id %></td>
        <td><%= renglon.cant_detpeds %></td>
        <td><%= link_to 'Show', renglon %></td>
        <td><%= link_to 'Edit', edit_renglon_path(renglon) %></td>
        <td><%= link_to 'Destroy', renglon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Renglon', new_renglon_path %>
