<p id="notice"><%= notice %></p>

<p>
  <strong>Requisicion:</strong>
  <%= @renglon.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @renglon.renglon %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @renglon.proyecto_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @renglon.programa_id %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @renglon.clues_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @renglon.partida_id %>
</p>

<p>
  <strong>Ejercicio:</strong>
  <%= @renglon.ejercicio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @renglon.descripcion %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @renglon.importe %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @renglon.etiqueta_id %>
</p>

<p>
  <strong>Cant detpeds:</strong>
  <%= @renglon.cant_detpeds %>
</p>

<%= link_to 'Edit', edit_renglon_path(@renglon) %> |
<%= link_to 'Back', renglons_path %>
