<%= form_with(model: mail_notum) do |form| %>
  <% if mail_notum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mail_notum.errors.count, "error") %> prohibited this mail_notum from being saved:</h2>

      <ul>
        <% mail_notum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.text_field :fecha %>
  </div>

  <div class="field">
    <%= form.label :id_nota %>
    <%= form.number_field :id_nota %>
  </div>

  <div class="field">
    <%= form.label :fase %>
    <%= form.number_field :fase %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
