<p id="notice"><%= notice %></p>

<h1>Mail Nota</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Fecha</th>
      <th>Id nota</th>
      <th>Fase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_nota.each do |mail_notum| %>
      <tr>
        <td><%= mail_notum.nombre %></td>
        <td><%= mail_notum.correo %></td>
        <td><%= mail_notum.fecha %></td>
        <td><%= mail_notum.id_nota %></td>
        <td><%= mail_notum.fase %></td>
        <td><%= link_to 'Show', mail_notum %></td>
        <td><%= link_to 'Edit', edit_mail_notum_path(mail_notum) %></td>
        <td><%= link_to 'Destroy', mail_notum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail Notum', new_mail_notum_path %>
