<%= link_to 'Regresar a Solicitud', solicitud_path(@solnota.solicitud_id) %> |
<%= link_to 'Solicitudes', solicituds_path %><p>
<p>
  <b>Solicitud:</b>
  <%=h @solnota.solicitud_id %>
</p>

<p>
  <b>User:</b>
  <%=h @solnota.user_id %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @solnota.fecha %>
</p>

<p>
  <b>Comenta:</b>
  <%=h @solnota.comenta %>
</p>
