<table border="0" width="100%">
	<tr>
		<td><a href="<%=url_for("/")%>"><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101"></a></td>
		<td align="center"><b><%= @tipo != 3 ? 'SISOLC/SIECI' : 'Sistema Integral Estatal de Control de Inventarios' %></b><hr/>
		<h2><%=raw case
					when @tipo == 0 
						'Dispersi&oacute;n de Pedido'
					when @tipo == 2 
						'Lotes sin fuente' 
					when @tipo == 3 
						'Lotes por caducar en el periodo'
				end %></h2>
			<%= @tipo == 3 ? Almacen.find(@reporte.rango1).nombre : '' %>
		</td>		
		<td align="center" valign="center">
			</br></br>Fecha Reporte:</br> <%= Date.today %>
		</td>
		<td align="center">
		<% if @tipo != 3 %>
			Nota: El objetivo de &eacute;ste reporte<br/>es seguir la ruta de los bienes.<br/>Las existencias s&oacute;lo ser&aacute;n reales<br/>en almacenes donde se registran<br/>las salidas o bajas en el SIECI.
		<% else %>
			Periodo:</br></br>
		  	<%= 'Desde: '+@reporte.desde.to_s %><br/><br/>
			<%= 'Hasta: '+@reporte.hasta.to_s %>  
		<% end %>
		</td>
	</tr>
</table>

<table border="10" width="100%">
  <tr>
    <th>Part.</th>
    <th>Clave</th>
    <th>Ped.</th>
	<% if @tipo != 3 %> <th>Piezas</th>
	<% else %> <th>Descripci&oacute;n</th>
	<% end %>	
    <th>Exist.</th>
    <th>Caducidad</th>
    <th><%= @tipo != 3 ? 'Almacen' : 'D&iacute;as' %></th>
    <th>Lote</th>
    <th>Fuente</th>
    <th>Precio</th>
    <th>Obs.</th>
    <th>Mov.</th>
  </tr>

<% @lotes.each do |lote| %>
	<% catalogo = Catalogo.where("id=?",lote.catalogo_id).first() %>
  <tr>
    <td align="center"><%=h !catalogo ? '' : catalogo.partida.cog2011 %></td>
    <td align="center"><%=h !catalogo ? '' : catalogo.clave %></td>
    <td align="center"><%=h lote.ped_id %></td>
    <% if @tipo != 3 %> <td align="center"><%=h lote.cantidadp %></td>
	<% else %> <td align="center"><%=h !catalogo ? '' : catalogo.descripcion %></td>
	<% end %>
    <td align="center"><%=h lote.existencia %></td>
    <td align="center"><%=h lote.caducidad %></td>
    <td align="center"><%=h @tipo == 3 ? lote.caducidad - Date.today : (lote.almacen_id.blank? ? '' : lote.almacen.nombre) %></td>
    <td align="center"><%=h lote.lote %></td>
    <td align="center"><%=h lote.fuente_id.blank? ? '' : lote.fuente.fuente%></td>
    <td align="center"><%=h number_to_currency(lote.precio, :unit => '$', :separator => ".", :delimiter => ",") %></td>
    <td align="center"><%=h lote.observacion %></td>
    <td align="center"><%= lote.movimiento_id.blank? ? (lote.salida_id.blank? ? '' : link_to('SAL',movimiento_path(lote.salida_id))) : link_to(lote.movimiento.consec,movimiento_path(lote.movimiento_id)) %></td>
  </tr>
<% end %>
</table>
