<p id="notice"><%= notice %></p>

<p>
  <strong>Catalogo:</strong>
  <%= @lote.catalogo_id %>
</p>

<p>
  <strong>Ped:</strong>
  <%= @lote.ped_id %>
</p>

<p>
  <strong>Cantidadp:</strong>
  <%= @lote.cantidadp %>
</p>

<p>
  <strong>Cantidadu:</strong>
  <%= @lote.cantidadu %>
</p>

<p>
  <strong>Existencia:</strong>
  <%= @lote.existencia %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @lote.caducidad %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @lote.almacen_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @lote.fecha %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @lote.lote %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @lote.fuente_id %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @lote.precio %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @lote.observacion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @lote.estado_id %>
</p>

<p>
  <strong>Movimiento:</strong>
  <%= @lote.movimiento_id %>
</p>

<p>
  <strong>Barras:</strong>
  <%= @lote.barras %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @lote.requisicion_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @lote.programa_id %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @lote.proyecto_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @lote.partida_id %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @lote.etiqueta_id %>
</p>

<p>
  <strong>Detped:</strong>
  <%= @lote.detped_id %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @lote.lote_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @lote.renglon_id %>
</p>

<p>
  <strong>Salida:</strong>
  <%= @lote.salida_id %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @lote.cargo %>
</p>

<p>
  <strong>Abono:</strong>
  <%= @lote.abono %>
</p>

<p>
  <strong>Observsal:</strong>
  <%= @lote.observsal %>
</p>

<p>
  <strong>Prov:</strong>
  <%= @lote.prov_id %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @lote.iva %>
</p>

<p>
  <strong>Cartacom:</strong>
  <%= @lote.cartacom_id %>
</p>

<%= link_to 'Edit', edit_lote_path(@lote) %> |
<%= link_to 'Back', lotes_path %>
