<%= form_with(model: programa) do |form| %>
  <% if programa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programa.errors.count, "error") %> prohibited this programa from being saved:</h2>

      <ul>
        <% programa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :programa %>
    <%= form.text_field :programa %>
  </div>

  <div class="field">
    <%= form.label :numpro %>
    <%= form.number_field :numpro %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
