<%= form_with(model: ajuste) do |form| %>
  <% if ajuste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ajuste.errors.count, "error") %> prohibited this ajuste from being saved:</h2>

      <ul>
        <% ajuste.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :almacen_id %>
    <%= form.text_field :almacen_id %>
  </div>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :fuente_id %>
    <%= form.text_field :fuente_id %>
  </div>

  <div class="field">
    <%= form.label :ajuste %>
    <%= form.text_field :ajuste %>
  </div>

  <div class="field">
    <%= form.label :lote_id %>
    <%= form.text_field :lote_id %>
  </div>

  <div class="field">
    <%= form.label :lote %>
    <%= form.text_field :lote %>
  </div>

  <div class="field">
    <%= form.label :caducidad %>
    <%= form.date_select :caducidad %>
  </div>

  <div class="field">
    <%= form.label :existen %>
    <%= form.text_field :existen %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="field">
    <%= form.label :fecharep %>
    <%= form.date_select :fecharep %>
  </div>

  <div class="field">
    <%= form.label :catalogo_id %>
    <%= form.text_field :catalogo_id %>
  </div>

  <div class="field">
    <%= form.label :descrip %>
    <%= form.text_field :descrip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
