<p id="notice"><%= notice %></p>

<p>
  <strong>Almacen:</strong>
  <%= @ajuste.almacen_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @ajuste.partida_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @ajuste.fuente_id %>
</p>

<p>
  <strong>Ajuste:</strong>
  <%= @ajuste.ajuste %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @ajuste.lote_id %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @ajuste.lote %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @ajuste.caducidad %>
</p>

<p>
  <strong>Existen:</strong>
  <%= @ajuste.existen %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @ajuste.precio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ajuste.estado_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @ajuste.tipo_id %>
</p>

<p>
  <strong>Fecharep:</strong>
  <%= @ajuste.fecharep %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @ajuste.catalogo_id %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @ajuste.descrip %>
</p>

<%= link_to 'Edit', edit_ajuste_path(@ajuste) %> |
<%= link_to 'Back', ajustes_path %>
