<p id="notice"><%= notice %></p>

<h1>Temp16s</h1>

<table>
  <thead>
    <tr>
      <th>Clues</th>
      <th>User</th>
      <th>Autoriza</th>
      <th>Estado</th>
      <th>Vobo</th>
      <th>Fecha</th>
      <th>Fuente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp16s.each do |temp16| %>
      <tr>
        <td><%= temp16.clues_id %></td>
        <td><%= temp16.user_id %></td>
        <td><%= temp16.autoriza_id %></td>
        <td><%= temp16.estado_id %></td>
        <td><%= temp16.vobo_id %></td>
        <td><%= temp16.fecha %></td>
        <td><%= temp16.fuente_id %></td>
        <td><%= link_to 'Show', temp16 %></td>
        <td><%= link_to 'Edit', edit_temp16_path(temp16) %></td>
        <td><%= link_to 'Destroy', temp16, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp16', new_temp16_path %>
