<p id="notice"><%= notice %></p>

<p>
  <strong>Clues:</strong>
  <%= @temp16.clues_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @temp16.user_id %>
</p>

<p>
  <strong>Autoriza:</strong>
  <%= @temp16.autoriza_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temp16.estado_id %>
</p>

<p>
  <strong>Vobo:</strong>
  <%= @temp16.vobo_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @temp16.fecha %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp16.fuente_id %>
</p>

<%= link_to 'Edit', edit_temp16_path(@temp16) %> |
<%= link_to 'Back', temp16s_path %>
