<table border="0" width="100%">
	<tr>
		<td><img src="/images/ssslp-smp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><b>Seguimiento a Pacientes con Complicaciones durante el Embarazo y/o Puerperio</b><hr/>
							<h2>Pacientes<%= @tipo > 0 ? (@tipo == 23 ? ' en UCI' : ' en GyO') : '' %></h2></td>
		<td align="right" valign="bottom">
			<% if [17,18,19,20].include?(current_user.rol_id) %>
				<%= link_to 'Nuevo Paciente', new_paciente_path %><br/><br/>
			<% end %>
			<%= link_to 'Inicio', url_for("/") %>
		<% if [10].include?(current_user.rol_id) && false %>
			<br/><%= link_to "Detalle Solicitudes", articulos_url %> 
		<% end %></td>	
	</tr>
</table>
<table border='10' width='100%'>
  <tr>
    <th>No.</th>
    <th>U</th>
    <th>G</th>
    <th>Apellido Paterno</th>
    <th>Apellido Materno</th>
    <th>Nombre(s)</th>
    <th>Ed.</th>
    <th>RFC</th>
    <th>Ingreso</th>
    <th>Egreso</th>
    <th>Jur.</th>
    <th>Dom.</th>
    <th>Afil.</th>
    <th>Atn.</th>
	<% if @tipo == 23  %>
    <th>Evol.</th>
    <th>Nac.</th>
	<% end  %>
    <th>MD</th>
  </tr>

<% @pacientes.each do |paciente| %>
	<% uci = Atencion.find(:first,:conditions=>['paciente_id = ? and fechaeg is null and tipo_id = 23',paciente.id]) %>
	<% gyo = Atencion.find(:first,:conditions=>['paciente_id = ? and fechaeg is null and tipo_id = 24',paciente.id]) %>
  <tr>
    <td align="center"><%= link_to paciente.id, paciente %></td>
    <td align="center"><%= uci == nil && gyo == nil ? ((17..20).include?(current_user.rol_id) ? link_to('+',new_atencion_path(:paciente => paciente.id,:tipo=>23)) : '') : uci != nil ? 'U' : '' %></td>
    <td align="center"><%= uci == nil && gyo == nil ? ((17..20).include?(current_user.rol_id) ? link_to('+',new_atencion_path(:paciente => paciente.id,:tipo=>24)) : '') : gyo != nil ? 'U' : '' %></td>
    <td align="center"><%=h paciente.paterno %></td>
    <td align="center"><%=h paciente.materno %></td>
    <td align="center"><%=h paciente.nombre %></td>
    <td align="center"><%=h Date.today == paciente.nacimiento ? 0 : ((Date.today-paciente.nacimiento).to_i/365) %></td>
    <td align="center"><%=h paciente.curp %></td>
	<% aten = Atencion.find(:last, :conditions=>{:paciente_id=>paciente.id}, :order=>"id") %>
    <td align="center"><%= aten ? (aten.fecha ? aten.fecha.to_date : '') : '' %></td>
    <td align="center"><%= aten ? (aten.fechaeg ? aten.fechaeg.to_date  : '') : '' %></td>
	<%  domi = Domicilio.find(:last,:conditions=>{:paciente_id=>paciente.id})
		muni = (domi == nil ? nil : domi.municipio)
		municipio = (muni == nil ? nil : Municipio.find(:first,:conditions=>{:municipio=>muni}))
		juris = (municipio == nil ? nil : municipio.juris) %>
    <td align="center"><%= juris %></td>
	<% numero = paciente.domicilios.count %>
    <td align="center"><%= link_to numero, numero > 0 || !(17..20).include?(current_user.rol_id) ? domicilios_path(:paciente => paciente.id): new_domicilio_path(:paciente => paciente.id) %></td>
	<% numero = paciente.afiliacions.count %>
    <td align="center"><%= link_to numero, numero > 0 || !(17..20).include?(current_user.rol_id) ? afiliacions_path(:paciente => paciente.id): new_afiliacion_path(:paciente => paciente.id) %></td>
 	<% numero = paciente.atencions.count %>
    <td align="center"><%= numero > 0 ? link_to(numero,atencions_path(:paciente => paciente.id)) : numero %></td>
	<% if @tipo == 23  %>
	<% numero = paciente.evolucions.count %>
    <td align="center"><%= link_to numero, numero > 0 || !(17..20).include?(current_user.rol_id) ? evolucions_path(:paciente => paciente.id): new_evolucion_path(:paciente => paciente.id) %></td>
	<% numero = paciente.nacidos.count %>
    <td align="center"><%= link_to numero, numero > 0 || !(17..20).include?(current_user.rol_id) ? nacidos_path(:paciente => paciente.id): new_nacido_path(:paciente => paciente.id) %></td>
	<% end %>
	<td align="center"><%=h User.find(paciente.user_id).login %></td>
	<% if [10,18].include?(current_user.rol_id) %>
		<td><%= link_to 'Mod.', edit_paciente_path(paciente) %></td>
		<% if [10,18].include?(current_user.rol_id) %>
			<td><%= link_to 'X', paciente, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>
