<p id="notice"><%= notice %></p>

<p>
  <strong>Paterno:</strong>
  <%= @paciente.paterno %>
</p>

<p>
  <strong>Materno:</strong>
  <%= @paciente.materno %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @paciente.nombre %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @paciente.nacimiento %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @paciente.curp %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @paciente.observa %>
</p>

<p>
  <strong>Cambio:</strong>
  <%= @paciente.cambio %>
</p>

<p>
  <strong>User:</strong>
  <%= @paciente.user_id %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
