<%= form_with(model: catalogo) do |form| %>
  <% if catalogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalogo.errors.count, "error") %> prohibited this catalogo from being saved:</h2>

      <ul>
        <% catalogo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :partida %>
    <%= form.number_field :partida %>
  </div>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :presentacion %>
    <%= form.text_field :presentacion %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="field">
    <%= form.label :proceso %>
    <%= form.text_field :proceso %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :precio2 %>
    <%= form.text_field :precio2 %>
  </div>

  <div class="field">
    <%= form.label :fecha2 %>
    <%= form.date_select :fecha2 %>
  </div>

  <div class="field">
    <%= form.label :iva %>
    <%= form.text_field :iva %>
  </div>

  <div class="field">
    <%= form.label :unidades %>
    <%= form.number_field :unidades %>
  </div>

  <div class="field">
    <%= form.label :existencia %>
    <%= form.text_field :existencia %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="field">
    <%= form.label :grupo_id %>
    <%= form.text_field :grupo_id %>
  </div>

  <div class="field">
    <%= form.label :programa_id %>
    <%= form.text_field :programa_id %>
  </div>

  <div class="field">
    <%= form.label :prog0_id %>
    <%= form.text_field :prog0_id %>
  </div>

  <div class="field">
    <%= form.label :prog1_id %>
    <%= form.text_field :prog1_id %>
  </div>

  <div class="field">
    <%= form.label :prog2_id %>
    <%= form.text_field :prog2_id %>
  </div>

  <div class="field">
    <%= form.label :prog3_id %>
    <%= form.text_field :prog3_id %>
  </div>

  <div class="field">
    <%= form.label :prog4_id %>
    <%= form.text_field :prog4_id %>
  </div>

  <div class="field">
    <%= form.label :prog5_id %>
    <%= form.text_field :prog5_id %>
  </div>

  <div class="field">
    <%= form.label :prog6_id %>
    <%= form.text_field :prog6_id %>
  </div>

  <div class="field">
    <%= form.label :prog7_id %>
    <%= form.text_field :prog7_id %>
  </div>

  <div class="field">
    <%= form.label :prog8_id %>
    <%= form.text_field :prog8_id %>
  </div>

  <div class="field">
    <%= form.label :prog9_id %>
    <%= form.text_field :prog9_id %>
  </div>

  <div class="field">
    <%= form.label :casuses_basico_id %>
    <%= form.text_field :casuses_basico_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
