<%= yield %>
<table border="0" width="60%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><h2>Catalogo Articulos</h2></td>
	</tr>
</table>

<% if current_user.rol_id==10 %>
<h2><%= link_to 'Nuevo catalogo', new_catalogo_path %></h2>
	<table border="1" width="100%">
	<tr>
		<th>Partida</th>
		<th>Partida</th>
		<th>Clave</th>
		<th>Descripcion</th>
		<th>Presentacion</th>
		<th>Precio</th>
		<th>Proceso</th>
		<th>Fecha</th>
		<th>Precio2</th>
        <th>Fecha2</th>
        <th></th>
        <th></th>
        <th></th>
	</tr>

	<% @catalogos.each do |catalogo| %>
	<tr>
		<td><%=raw catalogo.partida_id %></td>
		<%begin%>
		<td><%=raw catalogo.partida.partida %></td>
		<%rescue%>
		<%end%>
		<td><%=raw catalogo.clave %></td>
		<td><%=raw catalogo.descripcion %></td>
		<td><%=raw catalogo.presentacion %></td>
		<td><%=raw catalogo.precio %></td>
		<td><%=raw catalogo.proceso %></td>
		<td><%=raw catalogo.fecha %></td>
		<td><%=raw catalogo.precio2 %></td>
		<td><%=raw catalogo.fecha2 %></td>
		<td><%= link_to 'Show', catalogo %></td>
		<td><%= link_to 'Edit', edit_catalogo_path(catalogo) %></td>
		<td><%= link_to 'Destroy', catalogo_path(catalogo), data: { :confirm => '¿Estas seguro de eliminar el registro?'}, method: :delete %></td>
	</tr>
	<% end %>
	</table>

	<br />
<% else %>
<h1 align="center" >No tiene el rol necesario para ver esta pantalla</h1>
<% end %>
