<p id="notice"><%= notice %></p>

<p>
  <strong>Partida:</strong>
  <%= @catalogo.partida_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @catalogo.partida %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @catalogo.clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @catalogo.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @catalogo.presentacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @catalogo.precio %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @catalogo.proceso %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @catalogo.fecha %>
</p>

<p>
  <strong>Precio2:</strong>
  <%= @catalogo.precio2 %>
</p>

<p>
  <strong>Fecha2:</strong>
  <%= @catalogo.fecha2 %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @catalogo.iva %>
</p>

<p>
  <strong>Unidades:</strong>
  <%= @catalogo.unidades %>
</p>

<p>
  <strong>Existencia:</strong>
  <%= @catalogo.existencia %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @catalogo.estado_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @catalogo.tipo_id %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @catalogo.grupo_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @catalogo.programa_id %>
</p>

<p>
  <strong>Prog0:</strong>
  <%= @catalogo.prog0_id %>
</p>

<p>
  <strong>Prog1:</strong>
  <%= @catalogo.prog1_id %>
</p>

<p>
  <strong>Prog2:</strong>
  <%= @catalogo.prog2_id %>
</p>

<p>
  <strong>Prog3:</strong>
  <%= @catalogo.prog3_id %>
</p>

<p>
  <strong>Prog4:</strong>
  <%= @catalogo.prog4_id %>
</p>

<p>
  <strong>Prog5:</strong>
  <%= @catalogo.prog5_id %>
</p>

<p>
  <strong>Prog6:</strong>
  <%= @catalogo.prog6_id %>
</p>

<p>
  <strong>Prog7:</strong>
  <%= @catalogo.prog7_id %>
</p>

<p>
  <strong>Prog8:</strong>
  <%= @catalogo.prog8_id %>
</p>

<p>
  <strong>Prog9:</strong>
  <%= @catalogo.prog9_id %>
</p>

<p>
  <strong>Casuses basico:</strong>
  <%= @catalogo.casuses_basico_id %>
</p>

<%= link_to 'Edit', edit_catalogo_path(@catalogo) %> |
<%= link_to 'Back', catalogos_path %>
