<%= form_with(model: partida) do |form| %>
  <% if partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
        <% partida.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :partida %>
    <%= form.number_field :partida %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :indice %>
    <%= form.text_field :indice %>
  </div>

  <div class="field">
    <%= form.label :cog2011 %>
    <%= form.number_field :cog2011 %>
  </div>

  <div class="field">
    <%= form.label :descripcion2 %>
    <%= form.text_field :descripcion2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
