<table border="0" width="95%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="left"><h3>Catalogo Partida: <%=h @partida.cog2011.to_s+' ('+@partida.partida.to_s+')' %></h3></td><td align="left"><h3><%=h @partida.descripcion %></h3></td>
	</tr>
</table>
<table border="10" width="100%">
  <THEAD>
  <tr>
    <th>Clave</th>
	<th>Descripcion</th>
    <th>Presentacion</th>
	<th>Precio c/IVA</th>
	<th>Proceso</th>
	<th>Fecha</th>
	<th>Precio Proy.</th>
	<th>Fecha</th>
  </tr>
  </THEAD>

<% for catalogo in @catalogos %> 
  <tr>
    <td align="center"><%=raw catalogo.clave %></td>
	<td align="left"><%=raw catalogo.descripcion %></td>
    <td><%=raw catalogo.presentacion %></td>
	<td align="right"><%=raw catalogo.precio %></td>
	<td align="center"><%=raw catalogo.proceso %></td>
	<td align="center"><%=raw catalogo.fecha %></td>
	<td align="right"><%=raw catalogo.precio2 %></td>
	<td align="center"><%=raw catalogo.fecha2 %></td>
  </tr>
<% end %>
</table>
