<%= render :partial => '/navigation' %>
<table border="0" width="85%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="left"><h2>Catalogo por Partida</h2></td>
		<td align="right">
			<% if current_user.rol_id==10 %>
				<%= link_to 'Nueva partida', new_partida_path %>
			<% end%>	
		</td>
	</tr>
</table>
<table border="10">
  <tr>
    <th>Par.</th>
    <th>COG 2011</th>
	<th>Descripcion</th>
    <th>Indice</th>
  </tr>

<% @partidas.each do |partida| %>
  <tr>
	<td><b><%=link_to partida.partida, partida %></b></td>
    <td align="center"><%=raw partida.cog2011 %></td>
    <td><%=raw partida.descripcion+"/2011-"+(!partida.descripcion2.blank? ? partida.descripcion2 : "") %></td>
    <td><%=raw partida.indice %></td>
	<% if [10].include?(current_user.rol_id) %>
		<td><%= link_to 'Mod.', edit_partida_path(partida) %></td>
	<% end %>	
	<% if [10].include?(current_user.rol_id) %>
		<td><%= link_to 'X', partida, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end%>
  </tr>
<% end %>
</table>
<br />
