<%= form_with(model: temporal) do |form| %>
  <% if temporal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temporal.errors.count, "error") %> prohibited this temporal from being saved:</h2>

      <ul>
        <% temporal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :c1 %>
    <%= form.text_area :c1 %>
  </div>

  <div class="field">
    <%= form.label :c2 %>
    <%= form.text_area :c2 %>
  </div>

  <div class="field">
    <%= form.label :c3 %>
    <%= form.text_area :c3 %>
  </div>

  <div class="field">
    <%= form.label :c4 %>
    <%= form.text_area :c4 %>
  </div>

  <div class="field">
    <%= form.label :c5 %>
    <%= form.text_area :c5 %>
  </div>

  <div class="field">
    <%= form.label :c6 %>
    <%= form.text_area :c6 %>
  </div>

  <div class="field">
    <%= form.label :c7 %>
    <%= form.text_area :c7 %>
  </div>

  <div class="field">
    <%= form.label :c8 %>
    <%= form.text_area :c8 %>
  </div>

  <div class="field">
    <%= form.label :c9 %>
    <%= form.text_area :c9 %>
  </div>

  <div class="field">
    <%= form.label :c10 %>
    <%= form.text_area :c10 %>
  </div>

  <div class="field">
    <%= form.label :c11 %>
    <%= form.text_area :c11 %>
  </div>

  <div class="field">
    <%= form.label :c12 %>
    <%= form.text_area :c12 %>
  </div>

  <div class="field">
    <%= form.label :c13 %>
    <%= form.text_area :c13 %>
  </div>

  <div class="field">
    <%= form.label :c14 %>
    <%= form.text_area :c14 %>
  </div>

  <div class="field">
    <%= form.label :c15 %>
    <%= form.text_area :c15 %>
  </div>

  <div class="field">
    <%= form.label :c16 %>
    <%= form.text_area :c16 %>
  </div>

  <div class="field">
    <%= form.label :c17 %>
    <%= form.text_area :c17 %>
  </div>

  <div class="field">
    <%= form.label :c18 %>
    <%= form.text_area :c18 %>
  </div>

  <div class="field">
    <%= form.label :c19 %>
    <%= form.text_area :c19 %>
  </div>

  <div class="field">
    <%= form.label :c20 %>
    <%= form.text_area :c20 %>
  </div>

  <div class="field">
    <%= form.label :c21 %>
    <%= form.text_area :c21 %>
  </div>

  <div class="field">
    <%= form.label :c22 %>
    <%= form.text_area :c22 %>
  </div>

  <div class="field">
    <%= form.label :c23 %>
    <%= form.text_area :c23 %>
  </div>

  <div class="field">
    <%= form.label :c24 %>
    <%= form.text_area :c24 %>
  </div>

  <div class="field">
    <%= form.label :c25 %>
    <%= form.text_area :c25 %>
  </div>

  <div class="field">
    <%= form.label :c26 %>
    <%= form.text_area :c26 %>
  </div>

  <div class="field">
    <%= form.label :c27 %>
    <%= form.text_area :c27 %>
  </div>

  <div class="field">
    <%= form.label :c28 %>
    <%= form.text_area :c28 %>
  </div>

  <div class="field">
    <%= form.label :c29 %>
    <%= form.text_area :c29 %>
  </div>

  <div class="field">
    <%= form.label :c30 %>
    <%= form.text_area :c30 %>
  </div>

  <div class="field">
    <%= form.label :c31 %>
    <%= form.text_area :c31 %>
  </div>

  <div class="field">
    <%= form.label :c32 %>
    <%= form.text_area :c32 %>
  </div>

  <div class="field">
    <%= form.label :c33 %>
    <%= form.text_area :c33 %>
  </div>

  <div class="field">
    <%= form.label :c34 %>
    <%= form.text_area :c34 %>
  </div>

  <div class="field">
    <%= form.label :c35 %>
    <%= form.text_area :c35 %>
  </div>

  <div class="field">
    <%= form.label :c36 %>
    <%= form.text_area :c36 %>
  </div>

  <div class="field">
    <%= form.label :c37 %>
    <%= form.text_area :c37 %>
  </div>

  <div class="field">
    <%= form.label :c38 %>
    <%= form.text_area :c38 %>
  </div>

  <div class="field">
    <%= form.label :c39 %>
    <%= form.text_area :c39 %>
  </div>

  <div class="field">
    <%= form.label :c40 %>
    <%= form.text_area :c40 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
