<p id="notice"><%= notice %></p>

<p>
  <strong>C1:</strong>
  <%= @temporal.c1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @temporal.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @temporal.c3 %>
</p>

<p>
  <strong>C4:</strong>
  <%= @temporal.c4 %>
</p>

<p>
  <strong>C5:</strong>
  <%= @temporal.c5 %>
</p>

<p>
  <strong>C6:</strong>
  <%= @temporal.c6 %>
</p>

<p>
  <strong>C7:</strong>
  <%= @temporal.c7 %>
</p>

<p>
  <strong>C8:</strong>
  <%= @temporal.c8 %>
</p>

<p>
  <strong>C9:</strong>
  <%= @temporal.c9 %>
</p>

<p>
  <strong>C10:</strong>
  <%= @temporal.c10 %>
</p>

<p>
  <strong>C11:</strong>
  <%= @temporal.c11 %>
</p>

<p>
  <strong>C12:</strong>
  <%= @temporal.c12 %>
</p>

<p>
  <strong>C13:</strong>
  <%= @temporal.c13 %>
</p>

<p>
  <strong>C14:</strong>
  <%= @temporal.c14 %>
</p>

<p>
  <strong>C15:</strong>
  <%= @temporal.c15 %>
</p>

<p>
  <strong>C16:</strong>
  <%= @temporal.c16 %>
</p>

<p>
  <strong>C17:</strong>
  <%= @temporal.c17 %>
</p>

<p>
  <strong>C18:</strong>
  <%= @temporal.c18 %>
</p>

<p>
  <strong>C19:</strong>
  <%= @temporal.c19 %>
</p>

<p>
  <strong>C20:</strong>
  <%= @temporal.c20 %>
</p>

<p>
  <strong>C21:</strong>
  <%= @temporal.c21 %>
</p>

<p>
  <strong>C22:</strong>
  <%= @temporal.c22 %>
</p>

<p>
  <strong>C23:</strong>
  <%= @temporal.c23 %>
</p>

<p>
  <strong>C24:</strong>
  <%= @temporal.c24 %>
</p>

<p>
  <strong>C25:</strong>
  <%= @temporal.c25 %>
</p>

<p>
  <strong>C26:</strong>
  <%= @temporal.c26 %>
</p>

<p>
  <strong>C27:</strong>
  <%= @temporal.c27 %>
</p>

<p>
  <strong>C28:</strong>
  <%= @temporal.c28 %>
</p>

<p>
  <strong>C29:</strong>
  <%= @temporal.c29 %>
</p>

<p>
  <strong>C30:</strong>
  <%= @temporal.c30 %>
</p>

<p>
  <strong>C31:</strong>
  <%= @temporal.c31 %>
</p>

<p>
  <strong>C32:</strong>
  <%= @temporal.c32 %>
</p>

<p>
  <strong>C33:</strong>
  <%= @temporal.c33 %>
</p>

<p>
  <strong>C34:</strong>
  <%= @temporal.c34 %>
</p>

<p>
  <strong>C35:</strong>
  <%= @temporal.c35 %>
</p>

<p>
  <strong>C36:</strong>
  <%= @temporal.c36 %>
</p>

<p>
  <strong>C37:</strong>
  <%= @temporal.c37 %>
</p>

<p>
  <strong>C38:</strong>
  <%= @temporal.c38 %>
</p>

<p>
  <strong>C39:</strong>
  <%= @temporal.c39 %>
</p>

<p>
  <strong>C40:</strong>
  <%= @temporal.c40 %>
</p>

<%= link_to 'Edit', edit_temporal_path(@temporal) %> |
<%= link_to 'Back', temporals_path %>
