<%= form_with(model: temp8) do |form| %>
  <% if temp8.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp8.errors.count, "error") %> prohibited this temp8 from being saved:</h2>

      <ul>
        <% temp8.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :solicitud_id %>
    <%= form.text_field :solicitud_id %>
  </div>

  <div class="field">
    <%= form.label :clues_id %>
    <%= form.text_field :clues_id %>
  </div>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :clave_id %>
    <%= form.text_field :clave_id %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :presentacion %>
    <%= form.text_field :presentacion %>
  </div>

  <div class="field">
    <%= form.label :marca_mod %>
    <%= form.text_field :marca_mod %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="field">
    <%= form.label :caducidad %>
    <%= form.number_field :caducidad %>
  </div>

  <div class="field">
    <%= form.label :almacen_id %>
    <%= form.text_field :almacen_id %>
  </div>

  <div class="field">
    <%= form.label :entregas %>
    <%= form.number_field :entregas %>
  </div>

  <div class="field">
    <%= form.label :requisicion_id %>
    <%= form.text_field :requisicion_id %>
  </div>

  <div class="field">
    <%= form.label :renglon_id %>
    <%= form.text_field :renglon_id %>
  </div>

  <div class="field">
    <%= form.label :capacitacion %>
    <%= form.text_field :capacitacion %>
  </div>

  <div class="field">
    <%= form.label :muestra %>
    <%= form.text_field :muestra %>
  </div>

  <div class="field">
    <%= form.label :notas %>
    <%= form.text_field :notas %>
  </div>

  <div class="field">
    <%= form.label :anexos %>
    <%= form.check_box :anexos %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :proceso_id %>
    <%= form.text_field :proceso_id %>
  </div>

  <div class="field">
    <%= form.label :ped_id %>
    <%= form.text_field :ped_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
