<p id="notice"><%= notice %></p>

<h1>Temp8s</h1>

<table>
  <thead>
    <tr>
      <th>Solicitud</th>
      <th>Clues</th>
      <th>Partida</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Marca mod</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Caducidad</th>
      <th>Almacen</th>
      <th>Entregas</th>
      <th>Requisicion</th>
      <th>Renglon</th>
      <th>Capacitacion</th>
      <th>Muestra</th>
      <th>Notas</th>
      <th>Anexos</th>
      <th>User</th>
      <th>Proceso</th>
      <th>Ped</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp8s.each do |temp8| %>
      <tr>
        <td><%= temp8.solicitud_id %></td>
        <td><%= temp8.clues_id %></td>
        <td><%= temp8.partida_id %></td>
        <td><%= temp8.clave_id %></td>
        <td><%= temp8.descripcion %></td>
        <td><%= temp8.presentacion %></td>
        <td><%= temp8.marca_mod %></td>
        <td><%= temp8.cantidad %></td>
        <td><%= temp8.precio %></td>
        <td><%= temp8.caducidad %></td>
        <td><%= temp8.almacen_id %></td>
        <td><%= temp8.entregas %></td>
        <td><%= temp8.requisicion_id %></td>
        <td><%= temp8.renglon_id %></td>
        <td><%= temp8.capacitacion %></td>
        <td><%= temp8.muestra %></td>
        <td><%= temp8.notas %></td>
        <td><%= temp8.anexos %></td>
        <td><%= temp8.user_id %></td>
        <td><%= temp8.proceso_id %></td>
        <td><%= temp8.ped_id %></td>
        <td><%= link_to 'Show', temp8 %></td>
        <td><%= link_to 'Edit', edit_temp8_path(temp8) %></td>
        <td><%= link_to 'Destroy', temp8, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp8', new_temp8_path %>
