<p id="notice"><%= notice %></p>

<p>
  <strong>Solicitud:</strong>
  <%= @temp8.solicitud_id %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @temp8.clues_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp8.partida_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @temp8.clave_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp8.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp8.presentacion %>
</p>

<p>
  <strong>Marca mod:</strong>
  <%= @temp8.marca_mod %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp8.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @temp8.precio %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @temp8.caducidad %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp8.almacen_id %>
</p>

<p>
  <strong>Entregas:</strong>
  <%= @temp8.entregas %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp8.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp8.renglon_id %>
</p>

<p>
  <strong>Capacitacion:</strong>
  <%= @temp8.capacitacion %>
</p>

<p>
  <strong>Muestra:</strong>
  <%= @temp8.muestra %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @temp8.notas %>
</p>

<p>
  <strong>Anexos:</strong>
  <%= @temp8.anexos %>
</p>

<p>
  <strong>User:</strong>
  <%= @temp8.user_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp8.proceso_id %>
</p>

<p>
  <strong>Ped:</strong>
  <%= @temp8.ped_id %>
</p>

<%= link_to 'Edit', edit_temp8_path(@temp8) %> |
<%= link_to 'Back', temp8s_path %>
