<%= form_with(model: v_dblink_conexion) do |form| %>
  <% if v_dblink_conexion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(v_dblink_conexion.errors.count, "error") %> prohibited this v_dblink_conexion from being saved:</h2>

      <ul>
        <% v_dblink_conexion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :conexion_presup %>
    <%= form.text_area :conexion_presup %>
  </div>

  <div class="field">
    <%= form.label :ejercicio %>
    <%= form.number_field :ejercicio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
