<p id="notice"><%= notice %></p>

<p>
  <strong>Conexion presup:</strong>
  <%= @v_dblink_conexion.conexion_presup %>
</p>

<p>
  <strong>Ejercicio:</strong>
  <%= @v_dblink_conexion.ejercicio %>
</p>

<%= link_to 'Edit', edit_v_dblink_conexion_path(@v_dblink_conexion) %> |
<%= link_to 'Back', v_dblink_conexions_path %>
