<p id="notice"><%= notice %></p>

<p>
  <strong>Reporte:</strong>
  <%= @reporte.reporte %>
</p>

<p>
  <strong>Desde:</strong>
  <%= @reporte.desde %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @reporte.hasta %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @reporte.unidad %>
</p>

<p>
  <strong>Cpini:</strong>
  <%= @reporte.cpini %>
</p>

<p>
  <strong>Cpfin:</strong>
  <%= @reporte.cpfin %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @reporte.usuario %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @reporte.texto %>
</p>

<p>
  <strong>Rango1:</strong>
  <%= @reporte.rango1 %>
</p>

<p>
  <strong>Rango2:</strong>
  <%= @reporte.rango2 %>
</p>

<p>
  <strong>Sistema:</strong>
  <%= @reporte.sistema_id %>
</p>

<%= link_to 'Edit', edit_reporte_path(@reporte) %> |
<%= link_to 'Back', reportes_path %>
