<%= form_with(model: smpnotum) do |form| %>
  <% if smpnotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(smpnotum.errors.count, "error") %> prohibited this smpnotum from being saved:</h2>

      <ul>
        <% smpnotum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :comenta %>
    <%= form.text_area :comenta %>
  </div>

  <div class="field">
    <%= form.label :fecharesp %>
    <%= form.date_select :fecharesp %>
  </div>

  <div class="field">
    <%= form.label :respuesta %>
    <%= form.text_area :respuesta %>
  </div>

  <div class="field">
    <%= form.label :destinatario_id %>
    <%= form.text_field :destinatario_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
