<p id="notice"><%= notice %></p>

<h1>Smpnota</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Fecha</th>
      <th>Comenta</th>
      <th>Fecharesp</th>
      <th>Respuesta</th>
      <th>Destinatario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smpnota.each do |smpnotum| %>
      <tr>
        <td><%= smpnotum.user_id %></td>
        <td><%= smpnotum.fecha %></td>
        <td><%= smpnotum.comenta %></td>
        <td><%= smpnotum.fecharesp %></td>
        <td><%= smpnotum.respuesta %></td>
        <td><%= smpnotum.destinatario_id %></td>
        <td><%= link_to 'Show', smpnotum %></td>
        <td><%= link_to 'Edit', edit_smpnotum_path(smpnotum) %></td>
        <td><%= link_to 'Destroy', smpnotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smpnotum', new_smpnotum_path %>
