<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @smpnotum.user_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @smpnotum.fecha %>
</p>

<p>
  <strong>Comenta:</strong>
  <%= @smpnotum.comenta %>
</p>

<p>
  <strong>Fecharesp:</strong>
  <%= @smpnotum.fecharesp %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @smpnotum.respuesta %>
</p>

<p>
  <strong>Destinatario:</strong>
  <%= @smpnotum.destinatario_id %>
</p>

<%= link_to 'Edit', edit_smpnotum_path(@smpnotum) %> |
<%= link_to 'Back', smpnota_path %>
