<p id="notice"><%= notice %></p>

<p>
  <strong>Almacen:</strong>
  <%= @temp9.almacen %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp9.almacen_id %>
</p>

<p>
  <strong>Fuentecve:</strong>
  <%= @temp9.fuentecve %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp9.fuente %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp9.fuente_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp9.partida %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp9.partida_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @temp9.clave %>
</p>

<p>
  <strong>Sinonimo:</strong>
  <%= @temp9.sinonimo %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @temp9.catalogo_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp9.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp9.presentacion %>
</p>

<p>
  <strong>Cantidadp:</strong>
  <%= @temp9.cantidadp %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @temp9.precio %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @temp9.lote %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @temp9.caducidad %>
</p>

<p>
  <strong>Existencia:</strong>
  <%= @temp9.existencia %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @temp9.monto %>
</p>

<p>
  <strong>Movimiento:</strong>
  <%= @temp9.movimiento_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temp9.estado_id %>
</p>

<%= link_to 'Edit', edit_temp9_path(@temp9) %> |
<%= link_to 'Back', temp9s_path %>
