<p id="notice"><%= notice %></p>

<h1>Paciente Ids</h1>

<table>
  <thead>
    <tr>
      <th>Institu</th>
      <th>Afiliacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paciente_ids.each do |paciente_id| %>
      <tr>
        <td><%= paciente_id.institu_id %></td>
        <td><%= paciente_id.afiliacion %></td>
        <td><%= link_to 'Show', paciente_id %></td>
        <td><%= link_to 'Edit', edit_paciente_id_path(paciente_id) %></td>
        <td><%= link_to 'Destroy', paciente_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paciente', new_paciente_id_path %>
