<%= form_with(model: subpro) do |form| %>
  <% if subpro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subpro.errors.count, "error") %> prohibited this subpro from being saved:</h2>

      <ul>
        <% subpro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :programa_id %>
    <%= form.text_field :programa_id %>
  </div>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :programa %>
    <%= form.text_field :programa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
