<p id="notice"><%= notice %></p>

<h1>Subpros</h1>

<table>
  <thead>
    <tr>
      <th>Programa</th>
      <th>Clave</th>
      <th>Programa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subpros.each do |subpro| %>
      <tr>
        <td><%= subpro.programa_id %></td>
        <td><%= subpro.clave %></td>
        <td><%= subpro.programa %></td>
        <td><%= link_to 'Show', subpro %></td>
        <td><%= link_to 'Edit', edit_subpro_path(subpro) %></td>
        <td><%= link_to 'Destroy', subpro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subpro', new_subpro_path %>
