<p id="notice"><%= notice %></p>

<p>
  <strong>Programa:</strong>
  <%= @subpro.programa_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @subpro.clave %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @subpro.programa %>
</p>

<%= link_to 'Edit', edit_subpro_path(@subpro) %> |
<%= link_to 'Back', subpros_path %>
