<p id="notice"><%= notice %></p>

<h1>Temp6s</h1>

<table>
  <thead>
    <tr>
      <th>Cvealma</th>
      <th>Nombre</th>
      <th>Fiscal</th>
      <th>Domicilio</th>
      <th>Colonia</th>
      <th>Ciudad</th>
      <th>Telefonos</th>
      <th>Fax</th>
      <th>Rfc</th>
      <th>Cp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp6s.each do |temp6| %>
      <tr>
        <td><%= temp6.cvealma_id %></td>
        <td><%= temp6.nombre %></td>
        <td><%= temp6.fiscal %></td>
        <td><%= temp6.domicilio %></td>
        <td><%= temp6.colonia %></td>
        <td><%= temp6.ciudad %></td>
        <td><%= temp6.telefonos %></td>
        <td><%= temp6.fax %></td>
        <td><%= temp6.rfc %></td>
        <td><%= temp6.cp %></td>
        <td><%= link_to 'Show', temp6 %></td>
        <td><%= link_to 'Edit', edit_temp6_path(temp6) %></td>
        <td><%= link_to 'Destroy', temp6, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp6', new_temp6_path %>
