<p id="notice"><%= notice %></p>

<p>
  <strong>Cvealma:</strong>
  <%= @temp6.cvealma_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @temp6.nombre %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @temp6.fiscal %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @temp6.domicilio %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @temp6.colonia %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @temp6.ciudad %>
</p>

<p>
  <strong>Telefonos:</strong>
  <%= @temp6.telefonos %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @temp6.fax %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @temp6.rfc %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @temp6.cp %>
</p>

<%= link_to 'Edit', edit_temp6_path(@temp6) %> |
<%= link_to 'Back', temp6s_path %>
