<% if current_user.rol_id == 10 %>
<table border="0" width="80%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><h2>Modificar Usuario</h2></td>
		<td align="center">
			<b>Usuario:<br/><%= @user.login %></b>
		</td>
	</tr>
</table>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="titulo">Titulo</label><br/>
<%= f.text_field :titulo %></p>

<p><label for="nombre">Nombre</label><br/>
<%= f.text_field :nombre, :size=>80 %></p>

<p><label for="puesto">Puesto</label><br/>
<%= f.text_field :puesto, :size=>80 %></p>

<p><%= f.label :area_id %><br />
<%= f.select :area_id, Area.find(:all , :order => "id").collect {|s| [s.area, s.id]} %></p>

<p><%= f.label :rol_id %><br />
<%= f.select :rol_id, Rol.find(:all , :order => "id").collect {|s| [s.rol, s.id]} %></p>

<p><label for="dato1">Dato 1</label><br/>
<%= f.text_field :dato1 %></p>

<p><label for="dato2">Dato 2</label><br/>
<%= f.text_field :dato2 %></p>

<p><label for="estructura_id">Estructura</label><br/>
<%= f.text_field :estructura_id %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email, :size=>80 %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>	
<% end %>	
