<p id="notice"><%= notice %></p>

<h1>Temps</h1>

<table>
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Claveuni</th>
      <th>Nombreuni</th>
      <th>Articulo</th>
      <th>Partida</th>
      <th>Preciouni</th>
      <th>Cantidad</th>
      <th>Marca</th>
      <th>Clavepro</th>
      <th>Proveedor</th>
      <th>Entrega</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Requisicion</th>
      <th>Proceso</th>
      <th>Fuente</th>
      <th>Pedidounico</th>
      <th>Almacen</th>
      <th>Archivo</th>
      <th>Cantfac</th>
      <th>Cantcanc</th>
      <th>Elaboracion</th>
      <th>Etiqueta</th>
      <th>Proyecto</th>
      <th>Programa</th>
      <th>Subprograma</th>
      <th>Comenta</th>
      <th>Iva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temps.each do |temp| %>
      <tr>
        <td><%= temp.pedido %></td>
        <td><%= temp.claveuni %></td>
        <td><%= temp.nombreuni %></td>
        <td><%= temp.articulo %></td>
        <td><%= temp.partida %></td>
        <td><%= temp.preciouni %></td>
        <td><%= temp.cantidad %></td>
        <td><%= temp.marca %></td>
        <td><%= temp.clavepro %></td>
        <td><%= temp.proveedor %></td>
        <td><%= temp.entrega %></td>
        <td><%= temp.descripcion %></td>
        <td><%= temp.presentacion %></td>
        <td><%= temp.requisicion %></td>
        <td><%= temp.proceso %></td>
        <td><%= temp.fuente %></td>
        <td><%= temp.pedidounico %></td>
        <td><%= temp.almacen %></td>
        <td><%= temp.archivo %></td>
        <td><%= temp.cantfac %></td>
        <td><%= temp.cantcanc %></td>
        <td><%= temp.elaboracion %></td>
        <td><%= temp.etiqueta %></td>
        <td><%= temp.proyecto %></td>
        <td><%= temp.programa %></td>
        <td><%= temp.subprograma %></td>
        <td><%= temp.comenta %></td>
        <td><%= temp.iva %></td>
        <td><%= link_to 'Show', temp %></td>
        <td><%= link_to 'Edit', edit_temp_path(temp) %></td>
        <td><%= link_to 'Destroy', temp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp', new_temp_path %>
