<p id="notice"><%= notice %></p>

<p>
  <strong>Pedido:</strong>
  <%= @temp.pedido %>
</p>

<p>
  <strong>Claveuni:</strong>
  <%= @temp.claveuni %>
</p>

<p>
  <strong>Nombreuni:</strong>
  <%= @temp.nombreuni %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @temp.articulo %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp.partida %>
</p>

<p>
  <strong>Preciouni:</strong>
  <%= @temp.preciouni %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp.cantidad %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @temp.marca %>
</p>

<p>
  <strong>Clavepro:</strong>
  <%= @temp.clavepro %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @temp.proveedor %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @temp.entrega %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp.presentacion %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp.requisicion %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp.proceso %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp.fuente %>
</p>

<p>
  <strong>Pedidounico:</strong>
  <%= @temp.pedidounico %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp.almacen %>
</p>

<p>
  <strong>Archivo:</strong>
  <%= @temp.archivo %>
</p>

<p>
  <strong>Cantfac:</strong>
  <%= @temp.cantfac %>
</p>

<p>
  <strong>Cantcanc:</strong>
  <%= @temp.cantcanc %>
</p>

<p>
  <strong>Elaboracion:</strong>
  <%= @temp.elaboracion %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @temp.etiqueta %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @temp.proyecto %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp.programa %>
</p>

<p>
  <strong>Subprograma:</strong>
  <%= @temp.subprograma %>
</p>

<p>
  <strong>Comenta:</strong>
  <%= @temp.comenta %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @temp.iva %>
</p>

<%= link_to 'Edit', edit_temp_path(@temp) %> |
<%= link_to 'Back', temps_path %>
