<%= form_with(model: temp21) do |form| %>
  <% if temp21.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp21.errors.count, "error") %> prohibited this temp21 from being saved:</h2>

      <ul>
        <% temp21.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :almacen %>
    <%= form.text_field :almacen %>
  </div>

  <div class="field">
    <%= form.label :almacen_id %>
    <%= form.text_field :almacen_id %>
  </div>

  <div class="field">
    <%= form.label :fuentecve %>
    <%= form.text_field :fuentecve %>
  </div>

  <div class="field">
    <%= form.label :fuente %>
    <%= form.text_field :fuente %>
  </div>

  <div class="field">
    <%= form.label :fuente_id %>
    <%= form.text_field :fuente_id %>
  </div>

  <div class="field">
    <%= form.label :partida %>
    <%= form.number_field :partida %>
  </div>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :sinonimo %>
    <%= form.text_field :sinonimo %>
  </div>

  <div class="field">
    <%= form.label :catalogo_id %>
    <%= form.text_field :catalogo_id %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :presentacion %>
    <%= form.text_field :presentacion %>
  </div>

  <div class="field">
    <%= form.label :cantidadp %>
    <%= form.text_field :cantidadp %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="field">
    <%= form.label :lote %>
    <%= form.text_field :lote %>
  </div>

  <div class="field">
    <%= form.label :caducidad %>
    <%= form.date_select :caducidad %>
  </div>

  <div class="field">
    <%= form.label :existencia %>
    <%= form.text_field :existencia %>
  </div>

  <div class="field">
    <%= form.label :monto %>
    <%= form.text_field :monto %>
  </div>

  <div class="field">
    <%= form.label :movimiento_id %>
    <%= form.text_field :movimiento_id %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
