<p id="notice"><%= notice %></p>

<h1>Temp21s</h1>

<table>
  <thead>
    <tr>
      <th>Almacen</th>
      <th>Almacen</th>
      <th>Fuentecve</th>
      <th>Fuente</th>
      <th>Fuente</th>
      <th>Partida</th>
      <th>Partida</th>
      <th>Clave</th>
      <th>Sinonimo</th>
      <th>Catalogo</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Cantidadp</th>
      <th>Precio</th>
      <th>Lote</th>
      <th>Caducidad</th>
      <th>Existencia</th>
      <th>Monto</th>
      <th>Movimiento</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp21s.each do |temp21| %>
      <tr>
        <td><%= temp21.almacen %></td>
        <td><%= temp21.almacen_id %></td>
        <td><%= temp21.fuentecve %></td>
        <td><%= temp21.fuente %></td>
        <td><%= temp21.fuente_id %></td>
        <td><%= temp21.partida %></td>
        <td><%= temp21.partida_id %></td>
        <td><%= temp21.clave %></td>
        <td><%= temp21.sinonimo %></td>
        <td><%= temp21.catalogo_id %></td>
        <td><%= temp21.descripcion %></td>
        <td><%= temp21.presentacion %></td>
        <td><%= temp21.cantidadp %></td>
        <td><%= temp21.precio %></td>
        <td><%= temp21.lote %></td>
        <td><%= temp21.caducidad %></td>
        <td><%= temp21.existencia %></td>
        <td><%= temp21.monto %></td>
        <td><%= temp21.movimiento_id %></td>
        <td><%= temp21.estado_id %></td>
        <td><%= link_to 'Show', temp21 %></td>
        <td><%= link_to 'Edit', edit_temp21_path(temp21) %></td>
        <td><%= link_to 'Destroy', temp21, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp21', new_temp21_path %>
