<p id="notice"><%= notice %></p>

<p>
  <strong>Almacen:</strong>
  <%= @temp21.almacen %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp21.almacen_id %>
</p>

<p>
  <strong>Fuentecve:</strong>
  <%= @temp21.fuentecve %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp21.fuente %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp21.fuente_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp21.partida %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp21.partida_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @temp21.clave %>
</p>

<p>
  <strong>Sinonimo:</strong>
  <%= @temp21.sinonimo %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @temp21.catalogo_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp21.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp21.presentacion %>
</p>

<p>
  <strong>Cantidadp:</strong>
  <%= @temp21.cantidadp %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @temp21.precio %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @temp21.lote %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @temp21.caducidad %>
</p>

<p>
  <strong>Existencia:</strong>
  <%= @temp21.existencia %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @temp21.monto %>
</p>

<p>
  <strong>Movimiento:</strong>
  <%= @temp21.movimiento_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temp21.estado_id %>
</p>

<%= link_to 'Edit', edit_temp21_path(@temp21) %> |
<%= link_to 'Back', temp21s_path %>
