<p id="notice"><%= notice %></p>

<h1>Reqnota</h1>

<table>
  <thead>
    <tr>
      <th>Requisicion</th>
      <th>User</th>
      <th>Fecha</th>
      <th>Comenta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reqnota.each do |reqnotum| %>
      <tr>
        <td><%= reqnotum.requisicion_id %></td>
        <td><%= reqnotum.user_id %></td>
        <td><%= reqnotum.fecha %></td>
        <td><%= reqnotum.comenta %></td>
        <td><%= link_to 'Show', reqnotum %></td>
        <td><%= link_to 'Edit', edit_reqnotum_path(reqnotum) %></td>
        <td><%= link_to 'Destroy', reqnotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reqnotum', new_reqnotum_path %>
