<p id="notice"><%= notice %></p>

<h1>Detpeds</h1>

<table>
  <thead>
    <tr>
      <th>Ped</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Marca mod</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Iva</th>
      <th>Caducidad</th>
      <th>Importe</th>
      <th>Total</th>
      <th>Recibido</th>
      <th>Cancelado</th>
      <th>Estado</th>
      <th>Requisicion</th>
      <th>Renglon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detpeds.each do |detped| %>
      <tr>
        <td><%= detped.ped_id %></td>
        <td><%= detped.clave_id %></td>
        <td><%= detped.descripcion %></td>
        <td><%= detped.presentacion %></td>
        <td><%= detped.marca_mod %></td>
        <td><%= detped.cantidad %></td>
        <td><%= detped.precio %></td>
        <td><%= detped.iva %></td>
        <td><%= detped.caducidad %></td>
        <td><%= detped.importe %></td>
        <td><%= detped.total %></td>
        <td><%= detped.recibido %></td>
        <td><%= detped.cancelado %></td>
        <td><%= detped.estado_id %></td>
        <td><%= detped.requisicion_id %></td>
        <td><%= detped.renglon_id %></td>
        <td><%= link_to 'Show', detped %></td>
        <td><%= link_to 'Edit', edit_detped_path(detped) %></td>
        <td><%= link_to 'Destroy', detped, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detped', new_detped_path %>
