<p id="notice"><%= notice %></p>

<p>
  <strong>Ped:</strong>
  <%= @detped.ped_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @detped.clave_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @detped.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @detped.presentacion %>
</p>

<p>
  <strong>Marca mod:</strong>
  <%= @detped.marca_mod %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @detped.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @detped.precio %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @detped.iva %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @detped.caducidad %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @detped.importe %>
</p>

<p>
  <strong>Total:</strong>
  <%= @detped.total %>
</p>

<p>
  <strong>Recibido:</strong>
  <%= @detped.recibido %>
</p>

<p>
  <strong>Cancelado:</strong>
  <%= @detped.cancelado %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @detped.estado_id %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @detped.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @detped.renglon_id %>
</p>

<%= link_to 'Edit', edit_detped_path(@detped) %> |
<%= link_to 'Back', detpeds_path %>
