<%= form_with(model: cat_cabm) do |form| %>
  <% if cat_cabm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cat_cabm.errors.count, "error") %> prohibited this cat_cabm from being saved:</h2>

      <ul>
        <% cat_cabm.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nivel %>
    <%= form.number_field :nivel %>
  </div>

  <div class="field">
    <%= form.label :partida %>
    <%= form.number_field :partida %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
