<p id="notice"><%= notice %></p>

<h1>Cat Cabms</h1>

<table>
  <thead>
    <tr>
      <th>Nivel</th>
      <th>Partida</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cat_cabms.each do |cat_cabm| %>
      <tr>
        <td><%= cat_cabm.nivel %></td>
        <td><%= cat_cabm.partida %></td>
        <td><%= cat_cabm.descripcion %></td>
        <td><%= link_to 'Show', cat_cabm %></td>
        <td><%= link_to 'Edit', edit_cat_cabm_path(cat_cabm) %></td>
        <td><%= link_to 'Destroy', cat_cabm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat Cabm', new_cat_cabm_path %>
