<p id="notice"><%= notice %></p>

<p>
  <strong>Clues:</strong>
  <%= @ped.clues_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @ped.proceso_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ped.fecha %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @ped.proveedor_id %>
</p>

<p>
  <strong>Condiciones:</strong>
  <%= @ped.condiciones_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @ped.almacen_id %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @ped.entrega %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @ped.requisicion_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @ped.programa_id %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @ped.observaciones %>
</p>

<p>
  <strong>User:</strong>
  <%= @ped.user_id %>
</p>

<p>
  <strong>Jda:</strong>
  <%= @ped.jda_id %>
</p>

<p>
  <strong>So:</strong>
  <%= @ped.so_id %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @ped.cp_id %>
</p>

<p>
  <strong>Da:</strong>
  <%= @ped.da_id %>
</p>

<p>
  <strong>Dg:</strong>
  <%= @ped.dg_id %>
</p>

<p>
  <strong>Adq:</strong>
  <%= @ped.adq_id %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @ped.subtotal %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @ped.iva %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ped.total %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ped.estado_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @ped.renglon_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @ped.tipo_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @ped.partida_id %>
</p>

<p>
  <strong>Pena:</strong>
  <%= @ped.pena %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @ped.contrato %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @ped.fuente_id %>
</p>

<p>
  <strong>Fianza:</strong>
  <%= @ped.fianza_id %>
</p>

<p>
  <strong>Facfianza:</strong>
  <%= @ped.facfianza %>
</p>

<p>
  <strong>Reqexterna:</strong>
  <%= @ped.reqexterna %>
</p>

<p>
  <strong>Requi2:</strong>
  <%= @ped.requi2_id %>
</p>

<p>
  <strong>Requi3:</strong>
  <%= @ped.requi3_id %>
</p>

<p>
  <strong>Requi4:</strong>
  <%= @ped.requi4_id %>
</p>

<p>
  <strong>Montoreq:</strong>
  <%= @ped.montoreq %>
</p>

<p>
  <strong>Montoreq2:</strong>
  <%= @ped.montoreq2 %>
</p>

<p>
  <strong>Montoreq3:</strong>
  <%= @ped.montoreq3 %>
</p>

<p>
  <strong>Montoreq4:</strong>
  <%= @ped.montoreq4 %>
</p>

<p>
  <strong>Requi5:</strong>
  <%= @ped.requi5_id %>
</p>

<%= link_to 'Edit', edit_ped_path(@ped) %> |
<%= link_to 'Back', peds_path %>
