<%= render :partial => '/navped' %>
<div class="container boder_div">
	<table class="table">
		<thead>
			<tr>
				<td><%= image_tag("LOGO SERVICIOS DE SALUD-1 fondo claro.png",size:"250x80",alt: :"Servicios de Salud de S.L.P." ) %></td>
				<td align="left">
				PROVEEDOR: 
				<% if @ped.proveedor_id != nil %>	
					<% proveedor = Prov.find(@ped.proveedor_id) %>
					(#<%= proveedor.id %>)<br/>
					<%= proveedor.fiscal %> <br/>
					<%= proveedor.domicilio %> <br/>
					<%= proveedor.colonia %> <br/>
					<%= proveedor.ciudad %> C.P.<%= proveedor.cp %><br/>
					<%= proveedor.telefonos %>
					<% if proveedor.fax != nil %>
						FAX: <%= proveedor.fax %>
					<% end %> <br/>	
					R.F.C. <%= proveedor.rfc %>
				<% end %>	
		</td>
		<td align="left">EFECTUAR ENTREGA EN UNIDAD:<br/>
		<% if @ped.almacen_id != nil %>
			<% if current_user.id == 165 or @ped.id > 367 %>
				<% almacen = Almacen.find(@ped.almacen_id) %>
				<% codpos = almacen.cpostal %>
				<%= almacen.nombre %><br/>
			<% else %>	
				<% almacen = Clue.find(@ped.almacen_id) %>
				<% codpos = almacen.cp %>
				<%= almacen.nomunidad %><br/>
			<% end %>	
			<% if almacen!= nil %>
				<%= almacen.domicilio %><br/>
				<%= almacen.municipio %>, S.L.P.
				C.P. <%= codpos %>
			<% end %>	
		<% end %>	
		</td>
		<td align="left">
		FACTURAR A:<br/>
		SERVICIOS DE SALUD DE SAN LUIS POTOSI<br/>
		Jesus Goytortua 340<br/>
		Fracc. Tangamanga, S.L.P.<br/>
		78269 San Luis Potosi, S.L.P.<br/>
		RFC: SSS-960912-HW9
		</td>
	</tr>
	<tr>
		<td align="left">
		Pedido: <b><%=h @ped.id %>/<%= @ped.fecha.year%></b> &nbsp; &nbsp; Fecha:<%=h @ped.fecha %><br/>
		Unidad:<b><%= @ped.clues_id.blank? ? '' : Clue.find(@ped.clues_id).nomunidad %></b><br/>
		Proceso:<%=h @ped.proceso.blank? ? @ped.tipo.tipo : @ped.proceso.proceso+" (#"+@ped.proceso.id.to_s+")" %>
		</td>
		<td align="center">
			CONDICIONES DE PAGO:<b></b><br/><br/>
			<% if @ped.tipo_id != 15 %>
				<%=h @ped.condiciones_id == 1 ? 'CONTADO' : 'CREDITO A 20 DIAS' %><br/>		
				<% tipo = Tipo.find(@ped.cp_id) %>
				<%= tipo == nil ? '' : (@ped.cp_id == 6 || 
					@ped.fianza_id == nil || @ped.fianza_id == 0 ? 
					tipo.tipo + (@ped.fianza_id == 0 ? ' *' : '') : 
					link_to(tipo.tipo,fianza_path(@ped.fianza_id))) %>
			<% else %>
				SIN OBLIGACION DE PAGO
			<% end %>
		</td>
		<td align="center">
		FECHA LIMITE DE ENTREGA:<b></b><br/>
		<%=h @ped.entrega %>
		<b></b><br/>
		HORARIO DE RECEPCION<b></b><br/>
		8:00 A 13:30 HORAS
		</td>
		<td align="center">
		<% if @ped.tipo_id != 15 %>
			REQUISICION/RECURSO:<br/>
		<% end %>
		<FONT face="arial" size="1">		
		<% if @ped.requisicion != nil %>
			<b><%= link_to (@ped.requisicion_id % 100000).to_s,requisicions_path+"/"+@ped.requisicion_id.to_s %>: </b>
			<%=h @ped.requisicion.fuente.fuente %>
			<% if @ped.montoreq != nil %>
				<%=h number_to_currency(@ped.montoreq, :unit => '$', :separator => ".", :delimiter => ",")%>
			<% end %>
			<br/>
		<% else %>
			<% if @ped.reqexterna != nil %>
				<b><%= @ped.reqexterna %></b> E:
			<% else %>
				SIN REQUISICION 
			<% end %>
			<%= @ped.fuente_id == nil ? 'SIN FUENTE' : Fuente.find(@ped.fuente_id).fuente %><br/>
		<% end %>
		<% if @ped.requi2_id != nil %>
			<b><%= link_to(@ped.requi2_id % 100000 ,requisicions_path(@ped.requi2_id)) %>: </b>
				<%=h Fuente.find(Requisicion.find(@ped.requi2_id).fuente_id).fuente %>
			<% if @ped.montoreq2 != nil %>
				<%=h number_to_currency(@ped.montoreq2, :unit => '$', :separator => ".", :delimiter => ",")%>
			<% end %>
			<br/>
		<% end %>	
		<% if @ped.requi3_id != nil %>
			<b><%= link_to(@ped.requi3_id % 100000,requisicion_path(@ped.requi3_id)) %>: </b>
				<%=h Fuente.find(Requisicion.find(@ped.requi3_id).fuente_id).fuente %>
			<% if @ped.montoreq3 != nil %>
				<%=h number_to_currency(@ped.montoreq3, :unit => '$', :separator => ".", :delimiter => ",")%>
			<% end %>
			<br/>
		<% end %>	
		<% if @ped.requi4_id != nil %>
			<b><%= link_to(@ped.requi4_id % 100000,requisicion_path(@ped.requi4_id)) %>: </b><%=h 
				Fuente.find(Requisicion.find(@ped.requi4_id).fuente_id).fuente %>
			<% if @ped.montoreq4 != nil %>
				<%=h number_to_currency(@ped.montoreq4, :unit => '$', :separator => ".", :delimiter => ",")%>
			<% end %>
			<br/>
		<% end %>	
		</FONT>
		<% if @ped.proceso != nil || @ped.partida_id != nil %>
			PARTIDA: <%=h partida = @ped.proceso == nil || 
				@ped.partida_id != nil ? 
				@ped.partida.partida_armonizada : 
				Partida.find_by_sql(["select * from partidas where partida = ?",@ped.proceso.partida_id]).cog2011 %><br/>
		<% end %>		
		</td>
	</tr>
</table>
<table class="table table-striped">
	<thead class="table-dark">
		<th>CLAVE</th>
    	<th>DESCRIPCION</th>
    	<th>PRESENTACION</th>
    	<th>PRECIO<br/>UNITARIO</th>
    	<th>CANTIDAD</th>
    	<th>IMPORTE</th>
	</thead>
	<tbody>		
		<% for detped in @detpeds %> 
		<tr>
			<td align="center">
				<% if detped.clave_id != nil %>
					<%=h Catalogo.find(detped.clave_id).clave %>
					<% if detped.estado_id == 9 %>
						<br/>Cancelado
					<% end %>	
				<% end %>	
			</td>
			<td align="center"><%=h detped.descripcion %> <b>MARCA: <%=h detped.marca_mod %></b></td>
			<td align="center"><%=h detped.presentacion %></td>
			<td align="center"><%=h number_to_currency(detped.precio, :unit => '$', :separator => ".", :delimiter => ",") %></td>
			<td align="center"><%=h detped.cantidad %>
				<% if detped.cancelado != nil &&  detped.cancelado > 0.0 %>
					<br/> - <%= detped.cancelado %>
				<% end %>
				<% if detped.recibido != nil &&  detped.recibido > 0.0 %>
					<br/> Rec. <%= link_to(detped.recibido,lotes_path(:ped=>detped.ped_id)) %>
				<% end %>
			</td>
			<td align="right"><%=h number_to_currency(detped.importe, :unit => '$', :separator => ".", :delimiter => ",") %></td>
			<% if false %>	
				<td align="center"><%= link_to 'Ver', detped %></td>
			<% end %>
			<% if [1,3].include?(@ped.estado_id) || [10].include?(current_user.rol_id) %>
				<td><%= link_to 'Mod.', edit_detped_path(detped) %></td>
				<td><%= link_to 'X', detped, :confirm => 'Estas seguro(a)?', :method => :delete %></td>
			<% end %>	
		</tr>
		<% end %>
		<tr>
   			<td colspan="3"><%=h @ped.observaciones %></td>
			<td align=right>
				<b>Subtotal:</b>
				<br/><b>Iva:</b><br/>
				<b>Total:</b>
			</td>	
    		<td colspan="2" align="right">
				<%=h number_to_currency(@ped.subtotal, :unit => '$', :separator => ".", :delimiter => ",")%><br/>
				<%=h number_to_currency(@ped.iva, :unit => '$', :separator => ".", :delimiter => ",")%><br/>
				<%=h number_to_currency(@ped.total, :unit => '$', :separator => ".", :delimiter => ",")%><br/>
			</td>
  		</tr>
	</tbody>
</table>
<table border="1" width="100%" style="text-align:center">	
	<% @columnas=0%>
	<tbody>
	<% if @ped.tipo_id != 15 && @ped.estado_id == 12 %>
		<tr>
			<% if @ped.adq_id != nil %>
				<% @columnas+=1%>
				<td>
					<%= User.find(@ped.adq_id ).puesto %><br/><br/>
					<%= User.find(@ped.adq_id).name %>
				</td>
			<% end %>
			<td>
				<% @columnas+=1%>
				ADQUISICIONES<br/><br/>
				<%= User.find(@ped.jda_id).name %>
			</td>
			<td>
				<% @columnas+=1%>
				SUBDIRECCION OPERATIVA<br/><br/>
				<%= User.find(@ped.so_id).name %>
			</td>
			<td>
				<% @columnas+=1%>
				DIRECCION ADMINISTRATIVA<br/><br/>
				<%= User.find(@ped.da_id).name %>
			</td>
			<% periodo = @ped.fecha.year.to_i %>
			<% if @ped.subtotal != nil && ((@ped.subtotal >= 66465.00 && periodo == 2012) || (@ped.subtotal >= 50000.00 && periodo < 2012)) %>
				<% @columnas+=1%>
				<td>
					<% @director = User.find(@ped.dg_id) %>
					<%= true ? 'DIRECCION GENERAL' : @director.puesto %><br/><br/>
					<%= @director.name %>
				</td>
			<% end %>
		</tr>
	<% end %>	
	<tr>
		<td colspan="<%= @columnas%>" align="center">
			<b> Pedido No. <%=h @ped.id %>/<%= @ped.fecha.year%>. Estado del pedido: <%= 
				@ped.estado.estado %> / Elabora: <%= User.find(@ped.user_id).name %>
			<%=(@ped.renglon_id != nil && 
			@ped.renglon_id != 0 ? " / " + 
			link_to("Solicitud No."+@ped.renglon_id.to_s,solicitud_path(@ped.renglon_id)) : "") %></b>
		</td>
	</tr>	
	</tbody>
</table>