<p id="notice"><%= notice %></p>

<h1>Temp11s</h1>

<table>
  <thead>
    <tr>
      <th>Ped</th>
      <th>Detped</th>
      <th>Anexo</th>
      <th>Renglon</th>
      <th>Partida</th>
      <th>Partida</th>
      <th>Catalogo</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Precio</th>
      <th>Prov</th>
      <th>Fiscal</th>
      <th>Marca</th>
      <th>Proceso</th>
      <th>Proceso</th>
      <th>Empates</th>
      <th>Fuente</th>
      <th>Fuente</th>
      <th>Clue</th>
      <th>Almacen</th>
      <th>Unidad</th>
      <th>Programa</th>
      <th>Cveprog</th>
      <th>Programa</th>
      <th>Subprog2011</th>
      <th>Accion2011</th>
      <th>Cantidad</th>
      <th>Importe</th>
      <th>Requisicion</th>
      <th>Renglon</th>
      <th>Sinonimo</th>
      <th>Actividad</th>
      <th>Entrega</th>
      <th>Cp</th>
      <th>Etiqueta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp11s.each do |temp11| %>
      <tr>
        <td><%= temp11.ped_id %></td>
        <td><%= temp11.detped_id %></td>
        <td><%= temp11.anexo %></td>
        <td><%= temp11.renglon %></td>
        <td><%= temp11.partida_id %></td>
        <td><%= temp11.partida %></td>
        <td><%= temp11.catalogo_id %></td>
        <td><%= temp11.clave %></td>
        <td><%= temp11.descripcion %></td>
        <td><%= temp11.presentacion %></td>
        <td><%= temp11.precio %></td>
        <td><%= temp11.prov_id %></td>
        <td><%= temp11.fiscal %></td>
        <td><%= temp11.marca %></td>
        <td><%= temp11.proceso_id %></td>
        <td><%= temp11.proceso %></td>
        <td><%= temp11.empates %></td>
        <td><%= temp11.fuente_id %></td>
        <td><%= temp11.fuente %></td>
        <td><%= temp11.clue_id %></td>
        <td><%= temp11.almacen_id %></td>
        <td><%= temp11.unidad %></td>
        <td><%= temp11.programa_id %></td>
        <td><%= temp11.cveprog %></td>
        <td><%= temp11.programa %></td>
        <td><%= temp11.subprog2011 %></td>
        <td><%= temp11.accion2011 %></td>
        <td><%= temp11.cantidad %></td>
        <td><%= temp11.importe %></td>
        <td><%= temp11.requisicion_id %></td>
        <td><%= temp11.renglon_id %></td>
        <td><%= temp11.sinonimo %></td>
        <td><%= temp11.actividad %></td>
        <td><%= temp11.entrega %></td>
        <td><%= temp11.cp_id %></td>
        <td><%= temp11.etiqueta %></td>
        <td><%= link_to 'Show', temp11 %></td>
        <td><%= link_to 'Edit', edit_temp11_path(temp11) %></td>
        <td><%= link_to 'Destroy', temp11, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp11', new_temp11_path %>
