<p id="notice"><%= notice %></p>

<p>
  <strong>Ped:</strong>
  <%= @temp11.ped_id %>
</p>

<p>
  <strong>Detped:</strong>
  <%= @temp11.detped_id %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @temp11.anexo %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp11.renglon %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp11.partida_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp11.partida %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @temp11.catalogo_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @temp11.clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp11.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp11.presentacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @temp11.precio %>
</p>

<p>
  <strong>Prov:</strong>
  <%= @temp11.prov_id %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @temp11.fiscal %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @temp11.marca %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp11.proceso_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp11.proceso %>
</p>

<p>
  <strong>Empates:</strong>
  <%= @temp11.empates %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp11.fuente_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp11.fuente %>
</p>

<p>
  <strong>Clue:</strong>
  <%= @temp11.clue_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp11.almacen_id %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @temp11.unidad %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp11.programa_id %>
</p>

<p>
  <strong>Cveprog:</strong>
  <%= @temp11.cveprog %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp11.programa %>
</p>

<p>
  <strong>Subprog2011:</strong>
  <%= @temp11.subprog2011 %>
</p>

<p>
  <strong>Accion2011:</strong>
  <%= @temp11.accion2011 %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp11.cantidad %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @temp11.importe %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp11.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp11.renglon_id %>
</p>

<p>
  <strong>Sinonimo:</strong>
  <%= @temp11.sinonimo %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @temp11.actividad %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @temp11.entrega %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @temp11.cp_id %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @temp11.etiqueta %>
</p>

<%= link_to 'Edit', edit_temp11_path(@temp11) %> |
<%= link_to 'Back', temp11s_path %>
