<table border="0" width="90%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><b>Sistema Integral Estatal de Control de Inventarios</b><hr/>
		<h2>Alertas</h2>
		<td align="center">
			<%= link_to 'Inicio', url_for("/") %>
			<br/><br/><%= link_to 'Almacenes', almacens_path %>
			<% if [5].include?(current_user.rol_id) %>
				<br/><br/><%= link_to 'Nueva Alerta', new_reorden_path %>
			<% end %>
		</td>
	</tr>
</table>
<table border="10" width="100%">
  <tr>
    <th>Almacen</th>
    <th>Nombre</th>
    <th>Partida</th>
    <th>Clave</th>
    <th>Tipo</th>
    <th>Cant.</th>
    <th>Exis.</th>
    <th>Desv.</th>
    <th>Vigencia</th>
  </tr>

<% @reordens.each do |reorden| %>
    <% desvia = (reorden.existencia == nil || reorden.punto == nil) ? nil : reorden.existencia-reorden.punto %></td>
	<% tono = 	case
					when desvia == nil 
						'#E0E0E0'
					when reorden.tipo_id == 14 && desvia < 0.0 
						'#FF3333'
					when reorden.tipo_id == 15 && desvia > 0.0 
						'#FFCC66'
					when reorden.tipo_id == 13 && desvia < 0.0 
						'#FFFF99'
					else 
						desvia = 0.0
						'#FFFFFF'
				end %>
  <tr>
    <td align="center" bgcolor=<%= tono %>><%=raw reorden.almacen_id.blank? ? 'TODOS' : reorden.almacen.nombre %></td>
    <td align="center" bgcolor=<%= tono %>><%=raw reorden.nombre %></td>
    <td align="center" bgcolor=<%= tono %>><%=raw reorden.partida_id.blank? ? '' : reorden.partida.partida_armonizada %></td>
    <td align="center" bgcolor=<%= tono %>><%= link_to (reorden.catalogo_id.blank? ? '' : reorden.catalogo.clave), catalogo_path(reorden.catalogo_id,:acceso=>2) %></td>
    <td align="center" bgcolor=<%= tono %>><%=raw reorden.tipo_id.blank? ? '' : reorden.tipo.tipo %></td>
    <td align="center" bgcolor=<%= tono %>><%=raw reorden.punto %></td>
    <td align="center" bgcolor=<%= tono %>><%=raw reorden.existencia %></td>
	
    <td align="center" bgcolor=<%= tono %>><%=raw desvia %></td>
    <td align="center" bgcolor=<%= tono %>><%=raw reorden.vigenciai %>-<%=raw reorden.vigenciaf %></td>
    <td align="center" bgcolor=<%= tono %>><%= link_to 'Mod.', edit_reorden_path(reorden) %></td>    
    <td align="center" bgcolor=<%= tono %>><%= link_to 'X', reorden_path(reorden), data: { :confirm => '¿Estas seguro de eliminar el registro?'}, method: :delete %></td>
  </tr>
<% end %>
</table>
