<p>
    <b>Nombre:</b>
    <%=h @reorden.nombre %>
  </p>
  
  <p>
    <b>Partida:</b>
    <%=h @reorden.partida_id %>
  </p>
  
  <p>
    <b>Catalogo:</b>
    <%=h @reorden.catalogo_id %>
  </p>
  
  <p>
    <b>Punto:</b>
    <%=h @reorden.punto %>
  </p>
  
  <p>
    <b>Tipo:</b>
    <%=h @reorden.tipo_id %>
  </p>
  
  <p>
    <b>Almacen:</b>
    <%=h @reorden.almacen_id %>
  </p>
  
  <p>
    <b>User:</b>
    <%=h @reorden.user_id %>
  </p>
  
  <p>
    <b>Notifica:</b>
    <%=h @reorden.notifica_id %>
  </p>
  
  
  <%= link_to 'Edit', edit_reorden_path(@reorden) %> |
  <%= link_to 'Back', reordens_path %>