<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @solicitud.area_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @solicitud.user_id %>
</p>

<p>
  <strong>Vobotecnico:</strong>
  <%= @solicitud.vobotecnico_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @solicitud.tipo_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @solicitud.partida_id %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @solicitud.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @solicitud.renglon_id %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @solicitud.notas %>
</p>

<p>
  <strong>Anexos:</strong>
  <%= @solicitud.anexos %>
</p>

<p>
  <strong>Recepcion:</strong>
  <%= @solicitud.recepcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @solicitud.estado_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @solicitud.fuente_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @solicitud.programa_id %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @solicitud.proyecto_id %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @solicitud.importe %>
</p>

<p>
  <strong>Adqui:</strong>
  <%= @solicitud.adqui_id %>
</p>

<p>
  <strong>Techo:</strong>
  <%= @solicitud.techo %>
</p>

<p>
  <strong>Tipotecho:</strong>
  <%= @solicitud.tipotecho %>
</p>

<%= link_to 'Edit', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Back', solicituds_path %>
