<%= form_with(model: nacido) do |form| %>
  <% if nacido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nacido.errors.count, "error") %> prohibited this nacido from being saved:</h2>

      <ul>
        <% nacido.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :paciente_id %>
    <%= form.text_field :paciente_id %>
  </div>

  <div class="field">
    <%= form.label :atencion_id %>
    <%= form.text_field :atencion_id %>
  </div>

  <div class="field">
    <%= form.label :evolucion %>
    <%= form.text_field :evolucion %>
  </div>

  <div class="field">
    <%= form.label :atencion %>
    <%= form.text_field :atencion %>
  </div>

  <div class="field">
    <%= form.label :egreso %>
    <%= form.date_select :egreso %>
  </div>

  <div class="field">
    <%= form.label :defuncion %>
    <%= form.text_field :defuncion %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
