<p>
  <b>Paciente:</b>
  <%=h @nacido.paciente_id %>
</p>

<p>
  <b>Atencion:</b>
  <%=h @nacido.atencion_id %>
</p>

<p>
  <b>Evolucion:</b>
  <%=h @nacido.evolucion %>
</p>

<p>
  <b>Atencion:</b>
  <%=h @nacido.atencion %>
</p>

<p>
  <b>Egreso:</b>
  <%=h @nacido.egreso %>
</p>

<p>
  <b>Defuncion:</b>
  <%=h @nacido.defuncion %>
</p>

<p>
  <b>Defuncion:</b>
  <%=h @nacido.defuncion %>
</p>

<p>
  <b>User:</b>
  <%=h @nacido.user_id %>
</p>


<%= link_to 'Edit', edit_nacido_path(@nacido) %> |
<%= link_to 'Back', nacidos_path %>