<%# render :partial => '/navigation' %>
<table border="0" width="84%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><h2>Pedidos Lics. 3, 4 y 7 del 2010 (Primera Entrega)</h2></td>
	</tr>
</table>
<table border='10'>
  <tr>
    <th>Pedido</th>
    <th>Proceso</th>
    <th>Unidad</th>
    <th>Part.</th>
    <th>Clave</th>
    <th>Descripcion</th>
    <th>Presentacion</th>
    <th>Cantidad</th>
    <th>Precio s/IVA</th>
    <th>Marca</th>
    <th>Entrega</th>
    <th>Almacen</th>
    <th>Etiq.</th>
    <th>Req.#</th>
    <th>Fuente</th>
    <th>Prog.</th>
    <th>Proy.</th>
  </tr>

<% @pedidos.each do |pedido| %>
  <tr>
    <td><%=raw pedido.pedido %></td>
    <td><%=raw pedido.proceso %></td>
    <td><%=raw pedido.nombreuni %></td>
    <td><%=raw pedido.partida %></td>
    <td><%=raw pedido.articulo %></td>
    <td><%=raw pedido.descripcion %></td>
    <td><%=raw pedido.presentacion %></td>
    <td align="right"><%=raw pedido.cantidad %></td>
    <td align="right"><%=raw pedido.preciouni %></td>
    <td><%=raw pedido.marca %></td>
    <td><%=raw pedido.entrega %></td>
    <td><%=raw pedido.almacen %></td>
    <td><%=raw pedido.etiqueta %></td>
    <td><%=raw pedido.requisicion %></td>
    <td><%=raw pedido.fuente %></td>
    <td><%=raw pedido.programa.to_s+pedido.subprograma.to_s %></td>
    <td><%=raw pedido.proyecto %></td>
	<% if current_user.rol_id==10 %>
    <td><%= link_to 'Show', pedido %></td>
    <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
    <td><%= link_to 'Destroy', pedido, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.rol_id==10 %>
<%= link_to 'New pedido', new_pedido_path %>
<% end %>
