<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Claveuni</th>
      <th>Nombreuni</th>
      <th>Articulo</th>
      <th>Partida</th>
      <th>Preciouni</th>
      <th>Cantidad</th>
      <th>Marca</th>
      <th>Clavepro</th>
      <th>Proveedor</th>
      <th>Entrega</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Requisicion</th>
      <th>Proceso</th>
      <th>Fuente</th>
      <th>Pedidounico</th>
      <th>Almacen</th>
      <th>Archivo</th>
      <th>Cantfac</th>
      <th>Cantcanc</th>
      <th>Elaboracion</th>
      <th>Etiqueta</th>
      <th>Proyecto</th>
      <th>Programa</th>
      <th>Subprograma</th>
      <th>Comenta</th>
      <th>Estado</th>
      <th>Iva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.pedido %></td>
        <td><%= pedido.claveuni %></td>
        <td><%= pedido.nombreuni %></td>
        <td><%= pedido.articulo %></td>
        <td><%= pedido.partida %></td>
        <td><%= pedido.preciouni %></td>
        <td><%= pedido.cantidad %></td>
        <td><%= pedido.marca %></td>
        <td><%= pedido.clavepro %></td>
        <td><%= pedido.proveedor %></td>
        <td><%= pedido.entrega %></td>
        <td><%= pedido.descripcion %></td>
        <td><%= pedido.presentacion %></td>
        <td><%= pedido.requisicion %></td>
        <td><%= pedido.proceso %></td>
        <td><%= pedido.fuente %></td>
        <td><%= pedido.pedidounico %></td>
        <td><%= pedido.almacen %></td>
        <td><%= pedido.archivo %></td>
        <td><%= pedido.cantfac %></td>
        <td><%= pedido.cantcanc %></td>
        <td><%= pedido.elaboracion %></td>
        <td><%= pedido.etiqueta %></td>
        <td><%= pedido.proyecto %></td>
        <td><%= pedido.programa %></td>
        <td><%= pedido.subprograma %></td>
        <td><%= pedido.comenta %></td>
        <td><%= pedido.estado_id %></td>
        <td><%= pedido.iva %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>
