<p id="notice"><%= notice %></p>

<p>
  <strong>Pedido:</strong>
  <%= @pedido.pedido %>
</p>

<p>
  <strong>Claveuni:</strong>
  <%= @pedido.claveuni %>
</p>

<p>
  <strong>Nombreuni:</strong>
  <%= @pedido.nombreuni %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @pedido.articulo %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @pedido.partida %>
</p>

<p>
  <strong>Preciouni:</strong>
  <%= @pedido.preciouni %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @pedido.cantidad %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @pedido.marca %>
</p>

<p>
  <strong>Clavepro:</strong>
  <%= @pedido.clavepro %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @pedido.proveedor %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @pedido.entrega %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pedido.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @pedido.presentacion %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @pedido.requisicion %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @pedido.proceso %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @pedido.fuente %>
</p>

<p>
  <strong>Pedidounico:</strong>
  <%= @pedido.pedidounico %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @pedido.almacen %>
</p>

<p>
  <strong>Archivo:</strong>
  <%= @pedido.archivo %>
</p>

<p>
  <strong>Cantfac:</strong>
  <%= @pedido.cantfac %>
</p>

<p>
  <strong>Cantcanc:</strong>
  <%= @pedido.cantcanc %>
</p>

<p>
  <strong>Elaboracion:</strong>
  <%= @pedido.elaboracion %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @pedido.etiqueta %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @pedido.proyecto %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @pedido.programa %>
</p>

<p>
  <strong>Subprograma:</strong>
  <%= @pedido.subprograma %>
</p>

<p>
  <strong>Comenta:</strong>
  <%= @pedido.comenta %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pedido.estado_id %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @pedido.iva %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
