<p>
  <b>Pedido:</b>
  <%=h @pedido.pedido %>
</p>

<p>
  <b>Claveuni:</b>
  <%=h @pedido.claveuni %>
</p>

<p>
  <b>Nombreuni:</b>
  <%=h @pedido.nombreuni %>
</p>

<p>
  <b>Articulo:</b>
  <%=h @pedido.articulo %>
</p>

<p>
  <b>Partida:</b>
  <%=h @pedido.partida %>
</p>

<p>
  <b>Preciouni:</b>
  <%=h @pedido.preciouni %>
</p>

<p>
  <b>Cantidad:</b>
  <%=h @pedido.cantidad %>
</p>

<p>
  <b>Marca:</b>
  <%=h @pedido.marca %>
</p>

<p>
  <b>Clavepro:</b>
  <%=h @pedido.clavepro %>
</p>

<p>
  <b>Proveedor:</b>
  <%=h @pedido.proveedor %>
</p>

<p>
  <b>Entrega:</b>
  <%=h @pedido.entrega %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @pedido.descripcion %>
</p>

<p>
  <b>Presentacion:</b>
  <%=h @pedido.presentacion %>
</p>

<p>
  <b>Requisicion:</b>
  <%=h @pedido.requisicion %>
</p>

<p>
  <b>Proceso:</b>
  <%=h @pedido.proceso %>
</p>

<p>
  <b>Fuente:</b>
  <%=h @pedido.fuente %>
</p>

<p>
  <b>Pedidounico:</b>
  <%=h @pedido.pedidounico %>
</p>

<p>
  <b>Almacen:</b>
  <%=h @pedido.almacen %>
</p>

<p>
  <b>Archivo:</b>
  <%=h @pedido.archivo %>
</p>

<p>
  <b>Cantfac:</b>
  <%=h @pedido.cantfac %>
</p>

<p>
  <b>Cantcanc:</b>
  <%=h @pedido.cantcanc %>
</p>

<p>
  <b>Elaboracion:</b>
  <%=h @pedido.elaboracion %>
</p>

<p>
  <b>Etiqueta:</b>
  <%=h @pedido.etiqueta %>
</p>

<p>
  <b>Proyecto:</b>
  <%=h @pedido.proyecto %>
</p>

<p>
  <b>Programa:</b>
  <%=h @pedido.programa %>
</p>

<p>
  <b>Subprograma:</b>
  <%=h @pedido.subprograma %>
</p>


<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>