<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @prov.nombre %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @prov.fiscal %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @prov.domicilio %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @prov.colonia %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @prov.ciudad %>
</p>

<p>
  <strong>Telefonos:</strong>
  <%= @prov.telefonos %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @prov.fax %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @prov.rfc %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @prov.cp %>
</p>

<p>
  <strong>Situacion:</strong>
  <%= @prov.situacion_id %>
</p>

<p>
  <strong>Cvealma:</strong>
  <%= @prov.cvealma_id %>
</p>

<%= link_to 'Edit', edit_prov_path(@prov) %> |
<%= link_to 'Back', provs_path %>
