<p id="notice"><%= notice %></p>

<p>
  <strong>Ped:</strong>
  <%= @temp14.ped_id %>
</p>

<p>
  <strong>Detped:</strong>
  <%= @temp14.detped_id %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @temp14.anexo %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp14.renglon %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp14.partida_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp14.partida %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @temp14.catalogo_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @temp14.clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp14.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp14.presentacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @temp14.precio %>
</p>

<p>
  <strong>Prov:</strong>
  <%= @temp14.prov_id %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @temp14.fiscal %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @temp14.marca %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp14.proceso_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp14.proceso %>
</p>

<p>
  <strong>Empates:</strong>
  <%= @temp14.empates %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp14.fuente_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp14.fuente %>
</p>

<p>
  <strong>Clue:</strong>
  <%= @temp14.clue_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp14.almacen_id %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @temp14.unidad %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp14.programa_id %>
</p>

<p>
  <strong>Cveprog:</strong>
  <%= @temp14.cveprog %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp14.programa %>
</p>

<p>
  <strong>Subprog2011:</strong>
  <%= @temp14.subprog2011 %>
</p>

<p>
  <strong>Accion2011:</strong>
  <%= @temp14.accion2011 %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp14.cantidad %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @temp14.importe %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp14.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp14.renglon_id %>
</p>

<p>
  <strong>Sinonimo:</strong>
  <%= @temp14.sinonimo %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @temp14.actividad %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @temp14.entrega %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @temp14.cp_id %>
</p>

<%= link_to 'Edit', edit_temp14_path(@temp14) %> |
<%= link_to 'Back', temp14s_path %>
