<p id="notice"><%= notice %></p>

<h1>Temp13s</h1>

<table>
  <thead>
    <tr>
      <th>Ped</th>
      <th>Detped</th>
      <th>Anexo</th>
      <th>Renglon</th>
      <th>Partida</th>
      <th>Partida</th>
      <th>Catalogo</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Precio</th>
      <th>Prov</th>
      <th>Fiscal</th>
      <th>Marca</th>
      <th>Proceso</th>
      <th>Proceso</th>
      <th>Empates</th>
      <th>Fuente</th>
      <th>Fuente</th>
      <th>Clue</th>
      <th>Almacen</th>
      <th>Unidad</th>
      <th>Programa</th>
      <th>Cveprog</th>
      <th>Programa</th>
      <th>Subprog2011</th>
      <th>Accion2011</th>
      <th>Cantidad</th>
      <th>Importe</th>
      <th>Requisicion</th>
      <th>Renglon</th>
      <th>Sinonimo</th>
      <th>Actividad</th>
      <th>Entrega</th>
      <th>Cp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp13s.each do |temp13| %>
      <tr>
        <td><%= temp13.ped_id %></td>
        <td><%= temp13.detped_id %></td>
        <td><%= temp13.anexo %></td>
        <td><%= temp13.renglon %></td>
        <td><%= temp13.partida_id %></td>
        <td><%= temp13.partida %></td>
        <td><%= temp13.catalogo_id %></td>
        <td><%= temp13.clave %></td>
        <td><%= temp13.descripcion %></td>
        <td><%= temp13.presentacion %></td>
        <td><%= temp13.precio %></td>
        <td><%= temp13.prov_id %></td>
        <td><%= temp13.fiscal %></td>
        <td><%= temp13.marca %></td>
        <td><%= temp13.proceso_id %></td>
        <td><%= temp13.proceso %></td>
        <td><%= temp13.empates %></td>
        <td><%= temp13.fuente_id %></td>
        <td><%= temp13.fuente %></td>
        <td><%= temp13.clue_id %></td>
        <td><%= temp13.almacen_id %></td>
        <td><%= temp13.unidad %></td>
        <td><%= temp13.programa_id %></td>
        <td><%= temp13.cveprog %></td>
        <td><%= temp13.programa %></td>
        <td><%= temp13.subprog2011 %></td>
        <td><%= temp13.accion2011 %></td>
        <td><%= temp13.cantidad %></td>
        <td><%= temp13.importe %></td>
        <td><%= temp13.requisicion_id %></td>
        <td><%= temp13.renglon_id %></td>
        <td><%= temp13.sinonimo %></td>
        <td><%= temp13.actividad %></td>
        <td><%= temp13.entrega %></td>
        <td><%= temp13.cp_id %></td>
        <td><%= link_to 'Show', temp13 %></td>
        <td><%= link_to 'Edit', edit_temp13_path(temp13) %></td>
        <td><%= link_to 'Destroy', temp13, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp13', new_temp13_path %>
