<p id="notice"><%= notice %></p>

<p>
  <strong>Ped:</strong>
  <%= @temp13.ped_id %>
</p>

<p>
  <strong>Detped:</strong>
  <%= @temp13.detped_id %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @temp13.anexo %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp13.renglon %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp13.partida_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp13.partida %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @temp13.catalogo_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @temp13.clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp13.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp13.presentacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @temp13.precio %>
</p>

<p>
  <strong>Prov:</strong>
  <%= @temp13.prov_id %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @temp13.fiscal %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @temp13.marca %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp13.proceso_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp13.proceso %>
</p>

<p>
  <strong>Empates:</strong>
  <%= @temp13.empates %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp13.fuente_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp13.fuente %>
</p>

<p>
  <strong>Clue:</strong>
  <%= @temp13.clue_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp13.almacen_id %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @temp13.unidad %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp13.programa_id %>
</p>

<p>
  <strong>Cveprog:</strong>
  <%= @temp13.cveprog %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp13.programa %>
</p>

<p>
  <strong>Subprog2011:</strong>
  <%= @temp13.subprog2011 %>
</p>

<p>
  <strong>Accion2011:</strong>
  <%= @temp13.accion2011 %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp13.cantidad %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @temp13.importe %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp13.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp13.renglon_id %>
</p>

<p>
  <strong>Sinonimo:</strong>
  <%= @temp13.sinonimo %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @temp13.actividad %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @temp13.entrega %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @temp13.cp_id %>
</p>

<%= link_to 'Edit', edit_temp13_path(@temp13) %> |
<%= link_to 'Back', temp13s_path %>
