<p id="notice"><%= notice %></p>

<h1>Temp5s</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Fecha</th>
      <th>Clues</th>
      <th>Fuente</th>
      <th>User</th>
      <th>Autoriza</th>
      <th>Estado</th>
      <th>Anexos</th>
      <th>Etiqueta</th>
      <th>Importe</th>
      <th>Vobo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp5s.each do |temp5| %>
      <tr>
        <td><%= temp5.id %></td>
        <td><%= temp5.fecha %></td>
        <td><%= temp5.clues_id %></td>
        <td><%= temp5.fuente_id %></td>
        <td><%= temp5.user_id %></td>
        <td><%= temp5.autoriza_id %></td>
        <td><%= temp5.estado_id %></td>
        <td><%= temp5.anexos %></td>
        <td><%= temp5.etiqueta %></td>
        <td><%= temp5.importe %></td>
        <td><%= temp5.vobo_id %></td>
        <td><%= link_to 'Show', temp5 %></td>
        <td><%= link_to 'Edit', edit_temp5_path(temp5) %></td>
        <td><%= link_to 'Destroy', temp5, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp5', new_temp5_path %>
