<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @temp5.id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @temp5.fecha %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @temp5.clues_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp5.fuente_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @temp5.user_id %>
</p>

<p>
  <strong>Autoriza:</strong>
  <%= @temp5.autoriza_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temp5.estado_id %>
</p>

<p>
  <strong>Anexos:</strong>
  <%= @temp5.anexos %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @temp5.etiqueta %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @temp5.importe %>
</p>

<p>
  <strong>Vobo:</strong>
  <%= @temp5.vobo_id %>
</p>

<%= link_to 'Edit', edit_temp5_path(@temp5) %> |
<%= link_to 'Back', temp5s_path %>
