<p id="notice"><%= notice %></p>

<h1>Pacnota</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>User</th>
      <th>Fecha</th>
      <th>Comenta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pacnota.each do |pacnotum| %>
      <tr>
        <td><%= pacnotum.paciente_id %></td>
        <td><%= pacnotum.user_id %></td>
        <td><%= pacnotum.fecha %></td>
        <td><%= pacnotum.comenta %></td>
        <td><%= link_to 'Show', pacnotum %></td>
        <td><%= link_to 'Edit', edit_pacnotum_path(pacnotum) %></td>
        <td><%= link_to 'Destroy', pacnotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pacnotum', new_pacnotum_path %>
