<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @pacnotum.paciente_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @pacnotum.user_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pacnotum.fecha %>
</p>

<p>
  <strong>Comenta:</strong>
  <%= @pacnotum.comenta %>
</p>

<%= link_to 'Edit', edit_pacnotum_path(@pacnotum) %> |
<%= link_to 'Back', pacnota_path %>
