<%= form_with(model: temp20) do |form| %>
  <% if temp20.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp20.errors.count, "error") %> prohibited this temp20 from being saved:</h2>

      <ul>
        <% temp20.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :clues_id %>
    <%= form.text_field :clues_id %>
  </div>

  <div class="field">
    <%= form.label :fuente_id %>
    <%= form.text_field :fuente_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :autoriza_id %>
    <%= form.text_field :autoriza_id %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="field">
    <%= form.label :anexos %>
    <%= form.check_box :anexos %>
  </div>

  <div class="field">
    <%= form.label :etiqueta %>
    <%= form.number_field :etiqueta %>
  </div>

  <div class="field">
    <%= form.label :importe %>
    <%= form.text_field :importe %>
  </div>

  <div class="field">
    <%= form.label :vobo_id %>
    <%= form.text_field :vobo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
