<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @temp20.id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @temp20.fecha %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @temp20.clues_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp20.fuente_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @temp20.user_id %>
</p>

<p>
  <strong>Autoriza:</strong>
  <%= @temp20.autoriza_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temp20.estado_id %>
</p>

<p>
  <strong>Anexos:</strong>
  <%= @temp20.anexos %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @temp20.etiqueta %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @temp20.importe %>
</p>

<p>
  <strong>Vobo:</strong>
  <%= @temp20.vobo_id %>
</p>

<%= link_to 'Edit', edit_temp20_path(@temp20) %> |
<%= link_to 'Back', temp20s_path %>
