<p id="notice"><%= notice %></p>

<h1>Temp12s</h1>

<table>
  <thead>
    <tr>
      <th>Almacen</th>
      <th>Catalogo</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp12s.each do |temp12| %>
      <tr>
        <td><%= temp12.almacen_id %></td>
        <td><%= temp12.catalogo_id %></td>
        <td><%= temp12.total %></td>
        <td><%= link_to 'Show', temp12 %></td>
        <td><%= link_to 'Edit', edit_temp12_path(temp12) %></td>
        <td><%= link_to 'Destroy', temp12, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp12', new_temp12_path %>
