<p id="notice"><%= notice %></p>

<p>
  <strong>Almacen:</strong>
  <%= @temp12.almacen_id %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @temp12.catalogo_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @temp12.total %>
</p>

<%= link_to 'Edit', edit_temp12_path(@temp12) %> |
<%= link_to 'Back', temp12s_path %>
