<%= form_with(model: temp19) do |form| %>
  <% if temp19.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp19.errors.count, "error") %> prohibited this temp19 from being saved:</h2>

      <ul>
        <% temp19.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clue_id %>
    <%= form.text_field :clue_id %>
  </div>

  <div class="field">
    <%= form.label :fuente_id %>
    <%= form.text_field :fuente_id %>
  </div>

  <div class="field">
    <%= form.label :programa_id %>
    <%= form.text_field :programa_id %>
  </div>

  <div class="field">
    <%= form.label :importe %>
    <%= form.text_field :importe %>
  </div>

  <div class="field">
    <%= form.label :proyecto_id %>
    <%= form.text_field :proyecto_id %>
  </div>

  <div class="field">
    <%= form.label :requisicion_id %>
    <%= form.text_field :requisicion_id %>
  </div>

  <div class="field">
    <%= form.label :ejercicio %>
    <%= form.date_select :ejercicio %>
  </div>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
