<p id="notice"><%= notice %></p>

<p>
  <strong>Clue:</strong>
  <%= @temp19.clue_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp19.fuente_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp19.programa_id %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @temp19.importe %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @temp19.proyecto_id %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp19.requisicion_id %>
</p>

<p>
  <strong>Ejercicio:</strong>
  <%= @temp19.ejercicio %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp19.partida_id %>
</p>

<%= link_to 'Edit', edit_temp19_path(@temp19) %> |
<%= link_to 'Back', temp19s_path %>
