<p id="notice"><%= notice %></p>

<p>
  <strong>Ped:</strong>
  <%= @temp15.ped_id %>
</p>

<p>
  <strong>Detped:</strong>
  <%= @temp15.detped_id %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @temp15.anexo %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp15.renglon %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp15.partida_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp15.partida %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @temp15.catalogo_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @temp15.clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp15.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp15.presentacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @temp15.precio %>
</p>

<p>
  <strong>Prov:</strong>
  <%= @temp15.prov_id %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @temp15.fiscal %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @temp15.marca %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp15.proceso_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp15.proceso %>
</p>

<p>
  <strong>Empates:</strong>
  <%= @temp15.empates %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp15.fuente_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp15.fuente %>
</p>

<p>
  <strong>Clue:</strong>
  <%= @temp15.clue_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp15.almacen_id %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @temp15.unidad %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp15.programa_id %>
</p>

<p>
  <strong>Cveprog:</strong>
  <%= @temp15.cveprog %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp15.programa %>
</p>

<p>
  <strong>Subprog2011:</strong>
  <%= @temp15.subprog2011 %>
</p>

<p>
  <strong>Accion2011:</strong>
  <%= @temp15.accion2011 %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp15.cantidad %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @temp15.importe %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp15.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp15.renglon_id %>
</p>

<p>
  <strong>Sinonimo:</strong>
  <%= @temp15.sinonimo %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @temp15.actividad %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @temp15.entrega %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @temp15.cp_id %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @temp15.etiqueta %>
</p>

<%= link_to 'Edit', edit_temp15_path(@temp15) %> |
<%= link_to 'Back', temp15s_path %>
