<p id="notice"><%= notice %></p>

<p>
  <strong>Uniresp:</strong>
  <%= @temp2.uniresp %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp2.programa %>
</p>

<p>
  <strong>Subprograma:</strong>
  <%= @temp2.subprograma %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp2.descripcion %>
</p>

<p>
  <strong>Ff:</strong>
  <%= @temp2.ff %>
</p>

<p>
  <strong>Obra:</strong>
  <%= @temp2.obra %>
</p>

<p>
  <strong>Partest:</strong>
  <%= @temp2.partest %>
</p>

<p>
  <strong>Cvejur:</strong>
  <%= @temp2.cvejur %>
</p>

<p>
  <strong>Cveunidad:</strong>
  <%= @temp2.cveunidad %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @temp2.unidad %>
</p>

<p>
  <strong>Cveprog:</strong>
  <%= @temp2.cveprog %>
</p>

<p>
  <strong>Progabrev:</strong>
  <%= @temp2.progabrev %>
</p>

<p>
  <strong>Nom prog:</strong>
  <%= @temp2.nom_prog %>
</p>

<p>
  <strong>Cvesubprog:</strong>
  <%= @temp2.cvesubprog %>
</p>

<p>
  <strong>Nomsubprog:</strong>
  <%= @temp2.nomsubprog %>
</p>

<p>
  <strong>Cveaccion:</strong>
  <%= @temp2.cveaccion %>
</p>

<p>
  <strong>Nomaccion:</strong>
  <%= @temp2.nomaccion %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @temp2.rubro %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp2.partida %>
</p>

<p>
  <strong>Cveart:</strong>
  <%= @temp2.cveart %>
</p>

<p>
  <strong>Sinonimo:</strong>
  <%= @temp2.sinonimo %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @temp2.articulo %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp2.presentacion %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp2.fuente %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp2.cantidad %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @temp2.costo %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @temp2.observaciones %>
</p>

<p>
  <strong>Nup:</strong>
  <%= @temp2.nup %>
</p>

<%= link_to 'Edit', edit_temp2_path(@temp2) %> |
<%= link_to 'Back', temp2s_path %>
