<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @area.area %>
</p>

<p>
  <strong>Estructura:</strong>
  <%= @area.estructura_id %>
</p>

<p>
  <strong>Area abrev:</strong>
  <%= @area.area_abrev %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
