<p id="notice"><%= notice %></p>

<h1>Propuesta</h1>

<table>
  <thead>
    <tr>
      <th>Proceso</th>
      <th>Anexo</th>
      <th>Reng</th>
      <th>Partida</th>
      <th>Catalogo</th>
      <th>Provee</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Iva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propuesta.each do |propuestum| %>
      <tr>
        <td><%= propuestum.proceso_id %></td>
        <td><%= propuestum.anexo %></td>
        <td><%= propuestum.reng_id %></td>
        <td><%= propuestum.partida_id %></td>
        <td><%= propuestum.catalogo_id %></td>
        <td><%= propuestum.provee_id %></td>
        <td><%= propuestum.cantidad %></td>
        <td><%= propuestum.precio %></td>
        <td><%= propuestum.iva %></td>
        <td><%= link_to 'Show', propuestum %></td>
        <td><%= link_to 'Edit', edit_propuestum_path(propuestum) %></td>
        <td><%= link_to 'Destroy', propuestum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propuestum', new_propuestum_path %>
