<p id="notice"><%= notice %></p>

<p>
  <strong>Proceso:</strong>
  <%= @propuestum.proceso_id %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @propuestum.anexo %>
</p>

<p>
  <strong>Reng:</strong>
  <%= @propuestum.reng_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @propuestum.partida_id %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @propuestum.catalogo_id %>
</p>

<p>
  <strong>Provee:</strong>
  <%= @propuestum.provee_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @propuestum.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @propuestum.precio %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @propuestum.iva %>
</p>

<%= link_to 'Edit', edit_propuestum_path(@propuestum) %> |
<%= link_to 'Back', propuesta_path %>
