<%= form_with(model: contabilidad) do |form| %>
  <% if contabilidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contabilidad.errors.count, "error") %> prohibited this contabilidad from being saved:</h2>

      <ul>
        <% contabilidad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cuenta %>
    <%= form.text_field :cuenta %>
  </div>

  <div class="field">
    <%= form.label :sistema_id %>
    <%= form.text_field :sistema_id %>
  </div>

  <div class="field">
    <%= form.label :fuente_id %>
    <%= form.text_field :fuente_id %>
  </div>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :almacen_id %>
    <%= form.text_field :almacen_id %>
  </div>

  <div class="field">
    <%= form.label :prov_id %>
    <%= form.text_field :prov_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :programa_id %>
    <%= form.text_field :programa_id %>
  </div>

  <div class="field">
    <%= form.label :proyecto_id %>
    <%= form.text_field :proyecto_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
