<p id="notice"><%= notice %></p>

<p>
  <strong>Cuenta:</strong>
  <%= @contabilidad.cuenta %>
</p>

<p>
  <strong>Sistema:</strong>
  <%= @contabilidad.sistema_id %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @contabilidad.fuente_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @contabilidad.partida_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @contabilidad.almacen_id %>
</p>

<p>
  <strong>Prov:</strong>
  <%= @contabilidad.prov_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @contabilidad.tipo_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @contabilidad.user_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @contabilidad.programa_id %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @contabilidad.proyecto_id %>
</p>

<%= link_to 'Edit', edit_contabilidad_path(@contabilidad) %> |
<%= link_to 'Back', contabilidads_path %>
