<%= form_with(model: poa) do |form| %>
  <% if poa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poa.errors.count, "error") %> prohibited this poa from being saved:</h2>

      <ul>
        <% poa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombreuni %>
    <%= form.text_field :nombreuni %>
  </div>

  <div class="field">
    <%= form.label :programa %>
    <%= form.text_field :programa %>
  </div>

  <div class="field">
    <%= form.label :subprograma %>
    <%= form.text_field :subprograma %>
  </div>

  <div class="field">
    <%= form.label :accion %>
    <%= form.text_field :accion %>
  </div>

  <div class="field">
    <%= form.label :intcauses %>
    <%= form.text_field :intcauses %>
  </div>

  <div class="field">
    <%= form.label :afaspe %>
    <%= form.text_field :afaspe %>
  </div>

  <div class="field">
    <%= form.label :partida %>
    <%= form.number_field :partida %>
  </div>

  <div class="field">
    <%= form.label :articulo %>
    <%= form.text_field :articulo %>
  </div>

  <div class="field">
    <%= form.label :sino %>
    <%= form.text_field :sino %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :presentacion %>
    <%= form.text_field :presentacion %>
  </div>

  <div class="field">
    <%= form.label :precioiva %>
    <%= form.text_field :precioiva %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :presupuesto %>
    <%= form.text_field :presupuesto %>
  </div>

  <div class="field">
    <%= form.label :fuente %>
    <%= form.text_field :fuente %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :observacion %>
    <%= form.text_field :observacion %>
  </div>

  <div class="field">
    <%= form.label :preciolin %>
    <%= form.text_field :preciolin %>
  </div>

  <div class="field">
    <%= form.label :sacp_requisi %>
    <%= form.number_field :sacp_requisi %>
  </div>

  <div class="field">
    <%= form.label :sacp_interno %>
    <%= form.number_field :sacp_interno %>
  </div>

  <div class="field">
    <%= form.label :sacp_anio %>
    <%= form.number_field :sacp_anio %>
  </div>

  <div class="field">
    <%= form.label :fuente_id %>
    <%= form.text_field :fuente_id %>
  </div>

  <div class="field">
    <%= form.label :accion_id %>
    <%= form.text_field :accion_id %>
  </div>

  <div class="field">
    <%= form.label :clave_id %>
    <%= form.text_field :clave_id %>
  </div>

  <div class="field">
    <%= form.label :sacp_esq %>
    <%= form.number_field :sacp_esq %>
  </div>

  <div class="field">
    <%= form.label :clues_id %>
    <%= form.text_field :clues_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
