<p id="notice"><%= notice %></p>

<h1>Poas</h1>

<table>
  <thead>
    <tr>
      <th>Nombreuni</th>
      <th>Programa</th>
      <th>Subprograma</th>
      <th>Accion</th>
      <th>Intcauses</th>
      <th>Afaspe</th>
      <th>Partida</th>
      <th>Articulo</th>
      <th>Sino</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Precioiva</th>
      <th>Cantidad</th>
      <th>Presupuesto</th>
      <th>Fuente</th>
      <th>Marca</th>
      <th>Observacion</th>
      <th>Preciolin</th>
      <th>Sacp requisi</th>
      <th>Sacp interno</th>
      <th>Sacp anio</th>
      <th>Fuente</th>
      <th>Accion</th>
      <th>Clave</th>
      <th>Sacp esq</th>
      <th>Clues</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poas.each do |poa| %>
      <tr>
        <td><%= poa.nombreuni %></td>
        <td><%= poa.programa %></td>
        <td><%= poa.subprograma %></td>
        <td><%= poa.accion %></td>
        <td><%= poa.intcauses %></td>
        <td><%= poa.afaspe %></td>
        <td><%= poa.partida %></td>
        <td><%= poa.articulo %></td>
        <td><%= poa.sino %></td>
        <td><%= poa.descripcion %></td>
        <td><%= poa.presentacion %></td>
        <td><%= poa.precioiva %></td>
        <td><%= poa.cantidad %></td>
        <td><%= poa.presupuesto %></td>
        <td><%= poa.fuente %></td>
        <td><%= poa.marca %></td>
        <td><%= poa.observacion %></td>
        <td><%= poa.preciolin %></td>
        <td><%= poa.sacp_requisi %></td>
        <td><%= poa.sacp_interno %></td>
        <td><%= poa.sacp_anio %></td>
        <td><%= poa.fuente_id %></td>
        <td><%= poa.accion_id %></td>
        <td><%= poa.clave_id %></td>
        <td><%= poa.sacp_esq %></td>
        <td><%= poa.clues_id %></td>
        <td><%= link_to 'Show', poa %></td>
        <td><%= link_to 'Edit', edit_poa_path(poa) %></td>
        <td><%= link_to 'Destroy', poa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poa', new_poa_path %>
