<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreuni:</strong>
  <%= @poa.nombreuni %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @poa.programa %>
</p>

<p>
  <strong>Subprograma:</strong>
  <%= @poa.subprograma %>
</p>

<p>
  <strong>Accion:</strong>
  <%= @poa.accion %>
</p>

<p>
  <strong>Intcauses:</strong>
  <%= @poa.intcauses %>
</p>

<p>
  <strong>Afaspe:</strong>
  <%= @poa.afaspe %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @poa.partida %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @poa.articulo %>
</p>

<p>
  <strong>Sino:</strong>
  <%= @poa.sino %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @poa.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @poa.presentacion %>
</p>

<p>
  <strong>Precioiva:</strong>
  <%= @poa.precioiva %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @poa.cantidad %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @poa.presupuesto %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @poa.fuente %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @poa.marca %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @poa.observacion %>
</p>

<p>
  <strong>Preciolin:</strong>
  <%= @poa.preciolin %>
</p>

<p>
  <strong>Sacp requisi:</strong>
  <%= @poa.sacp_requisi %>
</p>

<p>
  <strong>Sacp interno:</strong>
  <%= @poa.sacp_interno %>
</p>

<p>
  <strong>Sacp anio:</strong>
  <%= @poa.sacp_anio %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @poa.fuente_id %>
</p>

<p>
  <strong>Accion:</strong>
  <%= @poa.accion_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @poa.clave_id %>
</p>

<p>
  <strong>Sacp esq:</strong>
  <%= @poa.sacp_esq %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @poa.clues_id %>
</p>

<%= link_to 'Edit', edit_poa_path(@poa) %> |
<%= link_to 'Back', poas_path %>
