<p>
    <b>Nombreuni:</b>
    <%=raw @poa.nombreuni %>
  </p>
  
  <p>
    <b>Programa:</b>
    <%=raw @poa.programa %>
  </p>
  
  <p>
    <b>Subprograma:</b>
    <%=raw @poa.subprograma %>
  </p>
  
  <p>
    <b>Accion:</b>
    <%=raw @poa.accion_id %>
  </p>
  
  <p>
    <b>Accion:</b>
    <%=raw @poa.accion %>
  </p>
  
  <p>
    <b>Intcauses:</b>
    <%=raw @poa.intcauses %>
  </p>
  
  <p>
    <b>Afaspe:</b>
    <%=raw @poa.afaspe %>
  </p>
  
  <p>
    <b>Partida:</b>
    <%=raw @poa.partida %>
  </p>
  
  <p>
    <b>Articulo:</b>
    <%=raw @poa.articulo %>
  </p>
  
  <p>
    <b>Sino:</b>
    <%=raw @poa.sino %>
  </p>
  
  <p>
    <b>Descripcion:</b>
    <%=raw @poa.descripcion %>
  </p>
  
  <p>
    <b>Presentacion:</b>
    <%=raw @poa.presentacion %>
  </p>
  
  <p>
    <b>Precioiva:</b>
    <%=raw @poa.precioiva %>
  </p>
  
  <p>
    <b>Cantidad:</b>
    <%=raw @poa.cantidad %>
  </p>
  
  <p>
    <b>Presupuesto:</b>
    <%=raw @poa.presupuesto %>
  </p>
  
  <p>
    <b>Fuente:</b>
    <%=raw @poa.fuente %>
  </p>
  
  <p>
    <b>Marca:</b>
    <%=raw @poa.marca %>
  </p>
  
  <p>
    <b>Observacion:</b>
    <%=raw @poa.observacion %>
  </p>
  
  <p>
    <b>Preciolin:</b>
    <%=raw @poa.preciolin %>
  </p>
  
  
  <%= link_to 'Edit', edit_poa_path(@poa) %> |
  <%= link_to 'Back', poas_path %>