<p id="notice"><%= notice %></p>

<h1>Temp4s</h1>

<table>
  <thead>
    <tr>
      <th>Ped</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Marca mod</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Iva</th>
      <th>Caducidad</th>
      <th>Importe</th>
      <th>Total</th>
      <th>Recibido</th>
      <th>Cancelado</th>
      <th>Estado</th>
      <th>Requisicion</th>
      <th>Renglon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp4s.each do |temp4| %>
      <tr>
        <td><%= temp4.ped_id %></td>
        <td><%= temp4.clave_id %></td>
        <td><%= temp4.descripcion %></td>
        <td><%= temp4.presentacion %></td>
        <td><%= temp4.marca_mod %></td>
        <td><%= temp4.cantidad %></td>
        <td><%= temp4.precio %></td>
        <td><%= temp4.iva %></td>
        <td><%= temp4.caducidad %></td>
        <td><%= temp4.importe %></td>
        <td><%= temp4.total %></td>
        <td><%= temp4.recibido %></td>
        <td><%= temp4.cancelado %></td>
        <td><%= temp4.estado_id %></td>
        <td><%= temp4.requisicion_id %></td>
        <td><%= temp4.renglon_id %></td>
        <td><%= link_to 'Show', temp4 %></td>
        <td><%= link_to 'Edit', edit_temp4_path(temp4) %></td>
        <td><%= link_to 'Destroy', temp4, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp4', new_temp4_path %>
