<p id="notice"><%= notice %></p>

<p>
  <strong>Ped:</strong>
  <%= @temp4.ped_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @temp4.clave_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @temp4.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @temp4.presentacion %>
</p>

<p>
  <strong>Marca mod:</strong>
  <%= @temp4.marca_mod %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp4.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @temp4.precio %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @temp4.iva %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @temp4.caducidad %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @temp4.importe %>
</p>

<p>
  <strong>Total:</strong>
  <%= @temp4.total %>
</p>

<p>
  <strong>Recibido:</strong>
  <%= @temp4.recibido %>
</p>

<p>
  <strong>Cancelado:</strong>
  <%= @temp4.cancelado %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temp4.estado_id %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp4.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp4.renglon_id %>
</p>

<%= link_to 'Edit', edit_temp4_path(@temp4) %> |
<%= link_to 'Back', temp4s_path %>
