<%= form_with(model: temp7) do |form| %>
  <% if temp7.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp7.errors.count, "error") %> prohibited this temp7 from being saved:</h2>

      <ul>
        <% temp7.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :partida %>
    <%= form.number_field :partida %>
  </div>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :presentacion %>
    <%= form.text_field :presentacion %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
