<p id="notice"><%= notice %></p>

<h1>Temp7s</h1>

<table>
  <thead>
    <tr>
      <th>Partida</th>
      <th>Partida</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp7s.each do |temp7| %>
      <tr>
        <td><%= temp7.partida_id %></td>
        <td><%= temp7.partida %></td>
        <td><%= temp7.clave %></td>
        <td><%= temp7.descripcion %></td>
        <td><%= temp7.presentacion %></td>
        <td><%= temp7.estado_id %></td>
        <td><%= link_to 'Show', temp7 %></td>
        <td><%= link_to 'Edit', edit_temp7_path(temp7) %></td>
        <td><%= link_to 'Destroy', temp7, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp7', new_temp7_path %>
