<%= form_with(model: proceso) do |form| %>
  <% if proceso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proceso.errors.count, "error") %> prohibited this proceso from being saved:</h2>

      <ul>
        <% proceso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :proceso %>
    <%= form.text_field :proceso %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :tipopro_id %>
    <%= form.text_field :tipopro_id %>
  </div>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :observacion %>
    <%= form.text_area :observacion %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="field">
    <%= form.label :pena %>
    <%= form.text_field :pena %>
  </div>

  <div class="field">
    <%= form.label :sancionmax %>
    <%= form.text_field :sancionmax %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
