<h1>Modificar proceso</h1>

<% form_for(@proceso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :proceso %><br />
    <%= f.text_field :proceso,:size=>64 %>
  </p>
  <p>
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </p>
  <p>
    <%= f.label :tipopro_id %><br />
    <%= f.text_field :tipopro_id %>
  </p>
  <p>
    <%= f.label :partida_id %><br />
    <%= f.text_field :partida_id %>
  </p>
  <p>
    <%= f.label :observacion %><br />
    <%= f.text_field :observacion %>
  </p>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Regresar', procesos_path %>