<%# render :partial => '/navigation' %>
<table border="0" width="60%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="left"><h2>Procesos de Compra</h2></td>
		<td align="right">
			<% if [10,15].include?(current_user.rol_id) %>
				<%= link_to 'Nuevo Proceso', new_proceso_path %>
			<% end%>	
		</td>
	</tr>
</table>

<table border="10">
  <tr>
    <th>Clave</th>
    <th>Proceso</th>
    <th>Fecha</th>
	<% if [10].include?(current_user.rol_id) %>
		<th>Tipo</th>
	<% end %>
    <th>Part.</th>
    <th>Observaciones</th>
  </tr>

<% @procesos.each do |proceso| %>
  <tr>
    <td align="center"><%=h proceso.id %></td>
    <td><%= link_to proceso.proceso,proceso %></td>
    <td><%=h proceso.fecha %></td>
	<% if [10].include?(current_user.rol_id) %>
		<td><%=h proceso.tipopro_id %></td>
	<% end %>
    <td><%=h proceso.partida_id %></td>
    <td><%=h proceso.observacion %></td>
	<% if [10,15].include?(current_user.rol_id) %>
		<td><%= link_to 'Mod.', edit_proceso_path(proceso) %></td>
	<% if [10].include?(current_user.rol_id) %>
		<td><%= link_to 'X', proceso, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>	
	<% end %>	
  </tr>
<% end %>
</table>

<br />
