<p id="notice"><%= notice %></p>

<h1>Procesos</h1>

<table>
  <thead>
    <tr>
      <th>Proceso</th>
      <th>Fecha</th>
      <th>Tipopro</th>
      <th>Partida</th>
      <th>Observacion</th>
      <th>Estado</th>
      <th>Pena</th>
      <th>Sancionmax</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procesos.each do |proceso| %>
      <tr>
        <td><%= proceso.proceso %></td>
        <td><%= proceso.fecha %></td>
        <td><%= proceso.tipopro_id %></td>
        <td><%= proceso.partida_id %></td>
        <td><%= proceso.observacion %></td>
        <td><%= proceso.estado_id %></td>
        <td><%= proceso.pena %></td>
        <td><%= proceso.sancionmax %></td>
        <td><%= proceso.tipo_id %></td>
        <td><%= link_to 'Show', proceso %></td>
        <td><%= link_to 'Edit', edit_proceso_path(proceso) %></td>
        <td><%= link_to 'Destroy', proceso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proceso', new_proceso_path %>
