<div class="container boder_div" >
<h1>Listing reqnotas</h1>
<%= link_to 'New reqnota', new_reqnota_path %>

<table class="table table-sm ">
  <thead class="table-dark">
    <th>Requisicion</th>
    <th>User</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
    <th></th>
    
  </thead>
<tbody> 
<% @reqnotas.each do |reqnota| %>
  <tr >
    <td ><%= reqnota.requisicion_id %></td>
    <td ><%= reqnota.user_id %></td>
    <td ><%= reqnota.fecha %></td>    
    <td><%= link_to 'Show', reqnota_path(reqnota.id),class: :"btn btn-success btn-sm" %></td>
    <td><%= link_to 'Edit', edit_reqnota_path(reqnota),class: :"btn btn-primary btn-sm" %></td>
    <td><%= link_to 'Destroy', reqnota_path(reqnota.id), data: {:confirm => 'Are you sure?'}, :method => :delete, class: :"btn btn-warning btn-sm" %></td>
  </tr>
  <tr>
    <td>Comenta: </td><td colspan="5" ><%= reqnota.comenta %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<br>
<br>
<br>
<div>
<footer >
    <%= will_paginate @reqnotas , class: :"footer"%>
</footer>
</div>