<%= form_with(model: temp3) do |form| %>
  <% if temp3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp3.errors.count, "error") %> prohibited this temp3 from being saved:</h2>

      <ul>
        <% temp3.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :clues_id %>
    <%= form.text_field :clues_id %>
  </div>

  <div class="field">
    <%= form.label :proceso_id %>
    <%= form.text_field :proceso_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :proveedor_id %>
    <%= form.text_field :proveedor_id %>
  </div>

  <div class="field">
    <%= form.label :condiciones_id %>
    <%= form.text_field :condiciones_id %>
  </div>

  <div class="field">
    <%= form.label :almacen_id %>
    <%= form.text_field :almacen_id %>
  </div>

  <div class="field">
    <%= form.label :entrega %>
    <%= form.date_select :entrega %>
  </div>

  <div class="field">
    <%= form.label :requisicion_id %>
    <%= form.text_field :requisicion_id %>
  </div>

  <div class="field">
    <%= form.label :programa_id %>
    <%= form.text_field :programa_id %>
  </div>

  <div class="field">
    <%= form.label :observaciones %>
    <%= form.text_area :observaciones %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :jda_id %>
    <%= form.text_field :jda_id %>
  </div>

  <div class="field">
    <%= form.label :so_id %>
    <%= form.text_field :so_id %>
  </div>

  <div class="field">
    <%= form.label :cp_id %>
    <%= form.text_field :cp_id %>
  </div>

  <div class="field">
    <%= form.label :da_id %>
    <%= form.text_field :da_id %>
  </div>

  <div class="field">
    <%= form.label :dg_id %>
    <%= form.text_field :dg_id %>
  </div>

  <div class="field">
    <%= form.label :adq_id %>
    <%= form.text_field :adq_id %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal %>
  </div>

  <div class="field">
    <%= form.label :iva %>
    <%= form.text_field :iva %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="field">
    <%= form.label :renglon_id %>
    <%= form.text_field :renglon_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :pena %>
    <%= form.text_field :pena %>
  </div>

  <div class="field">
    <%= form.label :contrato %>
    <%= form.number_field :contrato %>
  </div>

  <div class="field">
    <%= form.label :fuente_id %>
    <%= form.text_field :fuente_id %>
  </div>

  <div class="field">
    <%= form.label :fianza_id %>
    <%= form.text_field :fianza_id %>
  </div>

  <div class="field">
    <%= form.label :facfianza %>
    <%= form.text_field :facfianza %>
  </div>

  <div class="field">
    <%= form.label :reqexterna %>
    <%= form.number_field :reqexterna %>
  </div>

  <div class="field">
    <%= form.label :requi2_id %>
    <%= form.text_field :requi2_id %>
  </div>

  <div class="field">
    <%= form.label :requi3_id %>
    <%= form.text_field :requi3_id %>
  </div>

  <div class="field">
    <%= form.label :requi4_id %>
    <%= form.text_field :requi4_id %>
  </div>

  <div class="field">
    <%= form.label :montoreq %>
    <%= form.text_field :montoreq %>
  </div>

  <div class="field">
    <%= form.label :montoreq2 %>
    <%= form.text_field :montoreq2 %>
  </div>

  <div class="field">
    <%= form.label :montoreq3 %>
    <%= form.text_field :montoreq3 %>
  </div>

  <div class="field">
    <%= form.label :montoreq4 %>
    <%= form.text_field :montoreq4 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
