<p id="notice"><%= notice %></p>

<h1>Temp3s</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Clues</th>
      <th>Proceso</th>
      <th>Fecha</th>
      <th>Proveedor</th>
      <th>Condiciones</th>
      <th>Almacen</th>
      <th>Entrega</th>
      <th>Requisicion</th>
      <th>Programa</th>
      <th>Observaciones</th>
      <th>User</th>
      <th>Jda</th>
      <th>So</th>
      <th>Cp</th>
      <th>Da</th>
      <th>Dg</th>
      <th>Adq</th>
      <th>Subtotal</th>
      <th>Iva</th>
      <th>Total</th>
      <th>Estado</th>
      <th>Renglon</th>
      <th>Tipo</th>
      <th>Partida</th>
      <th>Pena</th>
      <th>Contrato</th>
      <th>Fuente</th>
      <th>Fianza</th>
      <th>Facfianza</th>
      <th>Reqexterna</th>
      <th>Requi2</th>
      <th>Requi3</th>
      <th>Requi4</th>
      <th>Montoreq</th>
      <th>Montoreq2</th>
      <th>Montoreq3</th>
      <th>Montoreq4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp3s.each do |temp3| %>
      <tr>
        <td><%= temp3.id %></td>
        <td><%= temp3.clues_id %></td>
        <td><%= temp3.proceso_id %></td>
        <td><%= temp3.fecha %></td>
        <td><%= temp3.proveedor_id %></td>
        <td><%= temp3.condiciones_id %></td>
        <td><%= temp3.almacen_id %></td>
        <td><%= temp3.entrega %></td>
        <td><%= temp3.requisicion_id %></td>
        <td><%= temp3.programa_id %></td>
        <td><%= temp3.observaciones %></td>
        <td><%= temp3.user_id %></td>
        <td><%= temp3.jda_id %></td>
        <td><%= temp3.so_id %></td>
        <td><%= temp3.cp_id %></td>
        <td><%= temp3.da_id %></td>
        <td><%= temp3.dg_id %></td>
        <td><%= temp3.adq_id %></td>
        <td><%= temp3.subtotal %></td>
        <td><%= temp3.iva %></td>
        <td><%= temp3.total %></td>
        <td><%= temp3.estado_id %></td>
        <td><%= temp3.renglon_id %></td>
        <td><%= temp3.tipo_id %></td>
        <td><%= temp3.partida_id %></td>
        <td><%= temp3.pena %></td>
        <td><%= temp3.contrato %></td>
        <td><%= temp3.fuente_id %></td>
        <td><%= temp3.fianza_id %></td>
        <td><%= temp3.facfianza %></td>
        <td><%= temp3.reqexterna %></td>
        <td><%= temp3.requi2_id %></td>
        <td><%= temp3.requi3_id %></td>
        <td><%= temp3.requi4_id %></td>
        <td><%= temp3.montoreq %></td>
        <td><%= temp3.montoreq2 %></td>
        <td><%= temp3.montoreq3 %></td>
        <td><%= temp3.montoreq4 %></td>
        <td><%= link_to 'Show', temp3 %></td>
        <td><%= link_to 'Edit', edit_temp3_path(temp3) %></td>
        <td><%= link_to 'Destroy', temp3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp3', new_temp3_path %>
