<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @temp3.id %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @temp3.clues_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp3.proceso_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @temp3.fecha %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @temp3.proveedor_id %>
</p>

<p>
  <strong>Condiciones:</strong>
  <%= @temp3.condiciones_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp3.almacen_id %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @temp3.entrega %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp3.requisicion_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp3.programa_id %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @temp3.observaciones %>
</p>

<p>
  <strong>User:</strong>
  <%= @temp3.user_id %>
</p>

<p>
  <strong>Jda:</strong>
  <%= @temp3.jda_id %>
</p>

<p>
  <strong>So:</strong>
  <%= @temp3.so_id %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @temp3.cp_id %>
</p>

<p>
  <strong>Da:</strong>
  <%= @temp3.da_id %>
</p>

<p>
  <strong>Dg:</strong>
  <%= @temp3.dg_id %>
</p>

<p>
  <strong>Adq:</strong>
  <%= @temp3.adq_id %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @temp3.subtotal %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @temp3.iva %>
</p>

<p>
  <strong>Total:</strong>
  <%= @temp3.total %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temp3.estado_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp3.renglon_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @temp3.tipo_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp3.partida_id %>
</p>

<p>
  <strong>Pena:</strong>
  <%= @temp3.pena %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @temp3.contrato %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp3.fuente_id %>
</p>

<p>
  <strong>Fianza:</strong>
  <%= @temp3.fianza_id %>
</p>

<p>
  <strong>Facfianza:</strong>
  <%= @temp3.facfianza %>
</p>

<p>
  <strong>Reqexterna:</strong>
  <%= @temp3.reqexterna %>
</p>

<p>
  <strong>Requi2:</strong>
  <%= @temp3.requi2_id %>
</p>

<p>
  <strong>Requi3:</strong>
  <%= @temp3.requi3_id %>
</p>

<p>
  <strong>Requi4:</strong>
  <%= @temp3.requi4_id %>
</p>

<p>
  <strong>Montoreq:</strong>
  <%= @temp3.montoreq %>
</p>

<p>
  <strong>Montoreq2:</strong>
  <%= @temp3.montoreq2 %>
</p>

<p>
  <strong>Montoreq3:</strong>
  <%= @temp3.montoreq3 %>
</p>

<p>
  <strong>Montoreq4:</strong>
  <%= @temp3.montoreq4 %>
</p>

<%= link_to 'Edit', edit_temp3_path(@temp3) %> |
<%= link_to 'Back', temp3s_path %>
