<p id="notice"><%= notice %></p>

<h1>Proceso Ped Reqs</h1>

<table>
  <thead>
    <tr>
      <th>Proceso</th>
      <th>Poas</th>
      <th>Req sacp</th>
      <th>Req sacp interno</th>
      <th>Empate</th>
      <th>Clave</th>
      <th>Detpeds</th>
      <th>Entrega</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proceso_ped_reqs.each do |proceso_ped_req| %>
      <tr>
        <td><%= proceso_ped_req.proceso_id %></td>
        <td><%= proceso_ped_req.poas_id %></td>
        <td><%= proceso_ped_req.req_sacp %></td>
        <td><%= proceso_ped_req.req_sacp_interno %></td>
        <td><%= proceso_ped_req.empate %></td>
        <td><%= proceso_ped_req.clave_id %></td>
        <td><%= proceso_ped_req.detpeds_id %></td>
        <td><%= proceso_ped_req.entrega %></td>
        <td><%= proceso_ped_req.fecha %></td>
        <td><%= proceso_ped_req.cantidad %></td>
        <td><%= link_to 'Show', proceso_ped_req %></td>
        <td><%= link_to 'Edit', edit_proceso_ped_req_path(proceso_ped_req) %></td>
        <td><%= link_to 'Destroy', proceso_ped_req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proceso Ped Req', new_proceso_ped_req_path %>
