<p>
  <b>Clue:</b>
  <%=h @atencion.clue_id %>
</p>

<p>
  <b>Unidad:</b>
  <%=h @atencion.unidad %>
</p>

<p>
  <b>Paciente:</b>
  <%=h @atencion.paciente_id %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @atencion.fecha %>
</p>

<p>
  <b>Diagnosticos:</b>
  <%=h @atencion.diagnosticos %>
</p>

<p>
  <b>Tipoat:</b>
  <%=h @atencion.tipoat %>
</p>

<p>
  <b>Semanas:</b>
  <%=h @atencion.semanas %>
</p>

<p>
  <b>Gesta:</b>
  <%=h @atencion.gesta %>
</p>

<p>
  <b>Para:</b>
  <%=h @atencion.para %>
</p>

<p>
  <b>Aborto:</b>
  <%=h @atencion.aborto %>
</p>

<p>
  <b>Cesareas:</b>
  <%=h @atencion.cesareas %>
</p>

<p>
  <b>Terminacion:</b>
  <%=h @atencion.terminacion %>
</p>

<p>
  <b>Termino:</b>
  <%=h @atencion.termino %>
</p>

<p>
  <b>Altapor:</b>
  <%=h @atencion.altapor %>
</p>

<p>
  <b>Fechaeg:</b>
  <%=h @atencion.fechaeg %>
</p>

<p>
  <b>User:</b>
  <%=h @atencion.user_id %>
</p>


<%= link_to 'Edit', edit_atencion_path(@atencion) %> |
<%= link_to 'Back', atencions_path %>