<p id="notice"><%= notice %></p>

<p>
  <strong>Clue:</strong>
  <%= @atencion.clue_id %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @atencion.unidad %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @atencion.paciente_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @atencion.fecha %>
</p>

<p>
  <strong>Diagnosticos:</strong>
  <%= @atencion.diagnosticos %>
</p>

<p>
  <strong>Tipoat:</strong>
  <%= @atencion.tipoat %>
</p>

<p>
  <strong>Semanas:</strong>
  <%= @atencion.semanas %>
</p>

<p>
  <strong>Gesta:</strong>
  <%= @atencion.gesta %>
</p>

<p>
  <strong>Para:</strong>
  <%= @atencion.para %>
</p>

<p>
  <strong>Aborto:</strong>
  <%= @atencion.aborto %>
</p>

<p>
  <strong>Cesareas:</strong>
  <%= @atencion.cesareas %>
</p>

<p>
  <strong>Terminacion:</strong>
  <%= @atencion.terminacion %>
</p>

<p>
  <strong>Termino:</strong>
  <%= @atencion.termino %>
</p>

<p>
  <strong>Altapor:</strong>
  <%= @atencion.altapor %>
</p>

<p>
  <strong>Fechaeg:</strong>
  <%= @atencion.fechaeg %>
</p>

<p>
  <strong>User:</strong>
  <%= @atencion.user_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @atencion.tipo_id %>
</p>

<%= link_to 'Edit', edit_atencion_path(@atencion) %> |
<%= link_to 'Back', atencions_path %>
