<%= form_with(model: movimiento) do |form| %>
  <% if movimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movimiento.errors.count, "error") %> prohibited this movimiento from being saved:</h2>

      <ul>
        <% movimiento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :almacen_id %>
    <%= form.text_field :almacen_id %>
  </div>

  <div class="field">
    <%= form.label :movimiento_id %>
    <%= form.text_field :movimiento_id %>
  </div>

  <div class="field">
    <%= form.label :ped_id %>
    <%= form.text_field :ped_id %>
  </div>

  <div class="field">
    <%= form.label :oridest %>
    <%= form.number_field :oridest %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="field">
    <%= form.label :consec %>
    <%= form.number_field :consec %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :partida_id %>
    <%= form.text_field :partida_id %>
  </div>

  <div class="field">
    <%= form.label :sancion %>
    <%= form.text_field :sancion %>
  </div>

  <div class="field">
    <%= form.label :importe %>
    <%= form.text_field :importe %>
  </div>

  <div class="field">
    <%= form.label :factura %>
    <%= form.text_field :factura %>
  </div>

  <div class="field">
    <%= form.label :fechafac %>
    <%= form.date_select :fechafac %>
  </div>

  <div class="field">
    <%= form.label :impfac %>
    <%= form.text_field :impfac %>
  </div>

  <div class="field">
    <%= form.label :pedido %>
    <%= form.number_field :pedido %>
  </div>

  <div class="field">
    <%= form.label :facrepc %>
    <%= form.date_select :facrepc %>
  </div>

  <div class="field">
    <%= form.label :nfacrep %>
    <%= form.number_field :nfacrep %>
  </div>

  <div class="field">
    <%= form.label :tipo2 %>
    <%= form.number_field :tipo2 %>
  </div>

  <div class="field">
    <%= form.label :notacre %>
    <%= form.text_field :notacre %>
  </div>

  <div class="field">
    <%= form.label :montonota %>
    <%= form.text_field :montonota %>
  </div>

  <div class="field">
    <%= form.label :cve_factura_sacp %>
    <%= form.text_field :cve_factura_sacp %>
  </div>

  <div class="field">
    <%= form.label :facrep %>
    <%= form.datetime_select :facrep %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
