<table border="0" width="90%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><b>Sistema Integral Estatal de Control de Inventarios</b><hr/>
		<h2>Movimientos de Almacen (Entradas y Salidas)</h2>
		<% if @almacen %>
			<%= @almacen.nombre %>
		<% end %>	
		<td align="center">
			<%= link_to 'Inicio', url_for("/") %>
			<br/><br/><%=raw link_to 'Almacenes', almacens_path %>
			<% if [10,13,21,22].include?(current_user.rol_id) &&  @almacen %>
				<br/><br/><%=raw link_to 'Nuevo Movimiento', new_movimiento_path(:almacen=>@almacen.id) %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="3">
			<% @periodos.each do |periodo| %>		
				<%= link_to(raw(periodo.ano.to_s+"/<b>"+periodo.mes.to_s+"</b>"),movimientos_path(:almacen=>@almacen,:ano=>periodo.ano,:mes=>periodo.mes)) %> 
			<% end %>	
		</td>
	</tr>
</table>
<table border="10" width="100%">
  <tr>
	<% if !@almacen %>
		<th>Almacen</th>
	<% end %>	
    <th>Folio</th>
    <th>Fecha</th>
    <th>Tipo</th>
    <th>Ped.</th>
    <th>Part.</th>
    <th>Descripcion</th>
    <th>Orig./Dest.</th>
	<th>Importe</th>
	<th>Factura</th>
	<th>FechaFac</th>
	<th>Imp.Fact.</th>
    <th>Sanci&oacute;n</th>
    <th>Estado</th>
    <th>Almacenista</th>
    <th>FF/ENT.PED.</th>
  </tr>

<% @movimientos.each do |movimiento| %>
  <tr>
	<% if !@almacen %>
		<td align="center"><%=h movimiento.almacen.nombre %></td>
	<% end %>	
    <td align="center"><%= link_to movimiento.consec,movimiento %>
		<% if [10].include?(current_user.rol_id) %>
			<br/><%= link_to('Mod.', edit_movimiento_path(movimiento)) %>
		<% end %>	
	</td>
    <td align="center"><%=h movimiento.fecha %></td>
    <td align="center"><%=h movimiento.tipo.tipo %></td>
	<% if movimiento.tipo_id == 3 %>
		<td align="center"><%= (movimiento.ped_id.blank? ? (movimiento.pedido.blank? ? "" : movimiento.pedido.to_s+'/2010') : link_to(movimiento.ped_id, ped_path(movimiento.ped_id))) %></td>
	<% else %>
		<td align="center"></td>
	<% end %>
	<td align="center"><%= (movimiento.partida_id.blank? ? "" : link_to(movimiento.partida.partida_armonizada, partida_path(movimiento.partida_id))) %></td>
    <td align="center"><%=h movimiento.descripcion %></td>
    <td align="center">
			<% if !movimiento.ped_id.blank? %>
				<% proveedor_id = movimiento.ped.proveedor_id %>
				<%=h (proveedor_id != nil  ? Prov.find(movimiento.ped.proveedor_id).fiscal : 'FALTA PROVEEDOR EN PEDIDO')+'/'+(movimiento.oridest.blank? ? '' : Almacen.find(movimiento.oridest).nombre) %>
			<% else %>
				<% if !movimiento.pedido.blank? %>
					<% pedido = Pedido.find(:first,:conditions=>{:pedido=>movimiento.pedido}) %>
					<% if pedido %>
						<% proveedor = Prov.find(:first,:conditions=>{:cvealma_id=>pedido.clavepro}) %>
						<%=h !proveedor.blank? ? proveedor.fiscal+'/'+(movimiento.oridest.blank? ? '' : Almacen.find(movimiento.oridest).nombre) : movimiento.oridest != nil ? Almacen.find(movimiento.oridest).nombre: '' %>
					<% end %>	
				<% else %>
					<%= movimiento.oridest != nil && movimiento.oridest != 498 ? Almacen.find(movimiento.oridest).nombre: movimiento.oridest %>
					<%= movimiento.movimiento_id.blank? ? '' : '/'+Movimiento.find(movimiento.movimiento_id).consec.to_s %>
				<% end %>
			<% end %>
	</td>
    <td align="center"><%=h number_to_currency(movimiento.importe, :unit => '$', :separator => ".", :delimiter => ",") %></td>
    <td align="center"><%=h movimiento.factura %></td>
    <td align="center"><%=h movimiento.fechafac %></td>
    <td align="center"><%=h number_to_currency(movimiento.impfac, :unit => '$', :separator => ".", :delimiter => ",") %></td>
    <td align="center"><%=h movimiento.sancion %></td>
    <td align="center"><%= ([10,13,21,22].include?(current_user.rol_id) && (movimiento.estado_id == 1 || (movimiento.facrep == nil && movimiento.tipo_id == 3 && movimiento.nfacrep.blank?))) ? link_to(movimiento.estado.estado,edit_movimiento_path(movimiento)) : movimiento.estado.estado %></td>
	<td align="center"><%=h User.find(movimiento.user_id).name %></td>
						<% 	if movimiento.ped_id != nil && movimiento.ped_id > 0
								pedido = Ped.find(movimiento.ped_id)
								if pedido.requisicion_id != nil && pedido.requisicion_id > 0
									fuente = Requisicion.find(pedido.requisicion_id).fuente_id
								else
									fuente = pedido.fuente_id
								end
								if fuente != nil && fuente > 0
									fuente = Fuente.find(fuente)
								end
							else
								fuente = nil
							end	%>
	<td align="center"><%=h fuente != nil ? fuente.fuente : "" %></td>
	<% if [10].include?(current_user.rol_id) %>
		<td align="center"><%= link_to 'X', movimiento, :confirm => 'Estas Seguro(a)?', :method => :delete %></td>
	<% else %>
		<% if false && movimiento.estado_id == 1 %>
			<% tiene = Lote.find(movimiento.id) %>
			<% if tiene == nil %>
				<td align="center"><%= link_to 'X', movimiento, :confirm => 'Estas Seguro(a)?', :method => :delete %></td>
			<% end %>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>
<br />
