<p id="notice"><%= notice %></p>

<p>
  <strong>Almacen:</strong>
  <%= @movimiento.almacen_id %>
</p>

<p>
  <strong>Movimiento:</strong>
  <%= @movimiento.movimiento_id %>
</p>

<p>
  <strong>Ped:</strong>
  <%= @movimiento.ped_id %>
</p>

<p>
  <strong>Oridest:</strong>
  <%= @movimiento.oridest %>
</p>

<p>
  <strong>User:</strong>
  <%= @movimiento.user_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @movimiento.descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @movimiento.tipo_id %>
</p>

<p>
  <strong>Consec:</strong>
  <%= @movimiento.consec %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @movimiento.estado_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @movimiento.fecha %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @movimiento.partida_id %>
</p>

<p>
  <strong>Sancion:</strong>
  <%= @movimiento.sancion %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @movimiento.importe %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @movimiento.factura %>
</p>

<p>
  <strong>Fechafac:</strong>
  <%= @movimiento.fechafac %>
</p>

<p>
  <strong>Impfac:</strong>
  <%= @movimiento.impfac %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @movimiento.pedido %>
</p>

<p>
  <strong>Facrepc:</strong>
  <%= @movimiento.facrepc %>
</p>

<p>
  <strong>Nfacrep:</strong>
  <%= @movimiento.nfacrep %>
</p>

<p>
  <strong>Tipo2:</strong>
  <%= @movimiento.tipo2 %>
</p>

<p>
  <strong>Notacre:</strong>
  <%= @movimiento.notacre %>
</p>

<p>
  <strong>Montonota:</strong>
  <%= @movimiento.montonota %>
</p>

<p>
  <strong>Cve factura sacp:</strong>
  <%= @movimiento.cve_factura_sacp %>
</p>

<p>
  <strong>Facrep:</strong>
  <%= @movimiento.facrep %>
</p>

<%= link_to 'Edit', edit_movimiento_path(@movimiento) %> |
<%= link_to 'Back', movimientos_path %>
