<p id="notice"><%= notice %></p>

<h1>Temp10s</h1>

<table>
  <thead>
    <tr>
      <th>Idpedido</th>
      <th>Partida</th>
      <th>Idarticulo</th>
      <th>Descripcio</th>
      <th>Presentaci</th>
      <th>Marca</th>
      <th>Cantidad</th>
      <th>Nombreunid</th>
      <th>Preciounit</th>
      <th>Nombrefuen</th>
      <th>Requisicio</th>
      <th>Fiscal</th>
      <th>Ejercicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp10s.each do |temp10| %>
      <tr>
        <td><%= temp10.idpedido %></td>
        <td><%= temp10.partida %></td>
        <td><%= temp10.idarticulo %></td>
        <td><%= temp10.descripcio %></td>
        <td><%= temp10.presentaci %></td>
        <td><%= temp10.marca %></td>
        <td><%= temp10.cantidad %></td>
        <td><%= temp10.nombreunid %></td>
        <td><%= temp10.preciounit %></td>
        <td><%= temp10.nombrefuen %></td>
        <td><%= temp10.requisicio %></td>
        <td><%= temp10.fiscal %></td>
        <td><%= temp10.ejercicio %></td>
        <td><%= link_to 'Show', temp10 %></td>
        <td><%= link_to 'Edit', edit_temp10_path(temp10) %></td>
        <td><%= link_to 'Destroy', temp10, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp10', new_temp10_path %>
