<p id="notice"><%= notice %></p>

<p>
  <strong>Idpedido:</strong>
  <%= @temp10.idpedido %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp10.partida %>
</p>

<p>
  <strong>Idarticulo:</strong>
  <%= @temp10.idarticulo %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @temp10.descripcio %>
</p>

<p>
  <strong>Presentaci:</strong>
  <%= @temp10.presentaci %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @temp10.marca %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp10.cantidad %>
</p>

<p>
  <strong>Nombreunid:</strong>
  <%= @temp10.nombreunid %>
</p>

<p>
  <strong>Preciounit:</strong>
  <%= @temp10.preciounit %>
</p>

<p>
  <strong>Nombrefuen:</strong>
  <%= @temp10.nombrefuen %>
</p>

<p>
  <strong>Requisicio:</strong>
  <%= @temp10.requisicio %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @temp10.fiscal %>
</p>

<p>
  <strong>Ejercicio:</strong>
  <%= @temp10.ejercicio %>
</p>

<%= link_to 'Edit', edit_temp10_path(@temp10) %> |
<%= link_to 'Back', temp10s_path %>
