<%= form_with(model: temp17) do |form| %>
  <% if temp17.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp17.errors.count, "error") %> prohibited this temp17 from being saved:</h2>

      <ul>
        <% temp17.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ped_id %>
    <%= form.text_field :ped_id %>
  </div>

  <div class="field">
    <%= form.label :catalogo_id %>
    <%= form.text_field :catalogo_id %>
  </div>

  <div class="field">
    <%= form.label :nuevoped %>
    <%= form.number_field :nuevoped %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
