<p id="notice"><%= notice %></p>

<h1>Temp17s</h1>

<table>
  <thead>
    <tr>
      <th>Ped</th>
      <th>Catalogo</th>
      <th>Nuevoped</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp17s.each do |temp17| %>
      <tr>
        <td><%= temp17.ped_id %></td>
        <td><%= temp17.catalogo_id %></td>
        <td><%= temp17.nuevoped %></td>
        <td><%= link_to 'Show', temp17 %></td>
        <td><%= link_to 'Edit', edit_temp17_path(temp17) %></td>
        <td><%= link_to 'Destroy', temp17, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp17', new_temp17_path %>
