<p id="notice"><%= notice %></p>

<p>
  <strong>Ped:</strong>
  <%= @temp17.ped_id %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @temp17.catalogo_id %>
</p>

<p>
  <strong>Nuevoped:</strong>
  <%= @temp17.nuevoped %>
</p>

<%= link_to 'Edit', edit_temp17_path(@temp17) %> |
<%= link_to 'Back', temp17s_path %>
