<%= form_with(model: fianza) do |form| %>
  <% if fianza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fianza.errors.count, "error") %> prohibited this fianza from being saved:</h2>

      <ul>
        <% fianza.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :vence %>
    <%= form.date_select :vence %>
  </div>

  <div class="field">
    <%= form.label :observa %>
    <%= form.text_area :observa %>
  </div>

  <div class="field">
    <%= form.label :proceso_id %>
    <%= form.text_field :proceso_id %>
  </div>

  <div class="field">
    <%= form.label :prov_id %>
    <%= form.text_field :prov_id %>
  </div>

  <div class="field">
    <%= form.label :monto %>
    <%= form.text_field :monto %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.text_field :estado_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="field">
    <%= form.label :contratos %>
    <%= form.text_field :contratos %>
  </div>

  <div class="field">
    <%= form.label :contrato_id %>
    <%= form.text_field :contrato_id %>
  </div>

  <div class="field">
    <%= form.label :imp_peds %>
    <%= form.text_field :imp_peds %>
  </div>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :situacion %>
    <%= form.number_field :situacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
