<p id="notice"><%= notice %></p>

<h1>Fianzas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Fecha</th>
      <th>Vence</th>
      <th>Observa</th>
      <th>Proceso</th>
      <th>Prov</th>
      <th>Monto</th>
      <th>Estado</th>
      <th>Tipo</th>
      <th>Contratos</th>
      <th>Contrato</th>
      <th>Imp peds</th>
      <th>Clave</th>
      <th>Situacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fianzas.each do |fianza| %>
      <tr>
        <td><%= fianza.user_id %></td>
        <td><%= fianza.fecha %></td>
        <td><%= fianza.vence %></td>
        <td><%= fianza.observa %></td>
        <td><%= fianza.proceso_id %></td>
        <td><%= fianza.prov_id %></td>
        <td><%= fianza.monto %></td>
        <td><%= fianza.estado_id %></td>
        <td><%= fianza.tipo_id %></td>
        <td><%= fianza.contratos %></td>
        <td><%= fianza.contrato_id %></td>
        <td><%= fianza.imp_peds %></td>
        <td><%= fianza.clave %></td>
        <td><%= fianza.situacion %></td>
        <td><%= link_to 'Show', fianza %></td>
        <td><%= link_to 'Edit', edit_fianza_path(fianza) %></td>
        <td><%= link_to 'Destroy', fianza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fianza', new_fianza_path %>
