<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fianza.user_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @fianza.fecha %>
</p>

<p>
  <strong>Vence:</strong>
  <%= @fianza.vence %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @fianza.observa %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @fianza.proceso_id %>
</p>

<p>
  <strong>Prov:</strong>
  <%= @fianza.prov_id %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @fianza.monto %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @fianza.estado_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @fianza.tipo_id %>
</p>

<p>
  <strong>Contratos:</strong>
  <%= @fianza.contratos %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @fianza.contrato_id %>
</p>

<p>
  <strong>Imp peds:</strong>
  <%= @fianza.imp_peds %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @fianza.clave %>
</p>

<p>
  <strong>Situacion:</strong>
  <%= @fianza.situacion %>
</p>

<%= link_to 'Edit', edit_fianza_path(@fianza) %> |
<%= link_to 'Back', fianzas_path %>
