<table border="0" width="80%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><b>Sistema Integral Estatal de Control de Inventarios</b><hr/>
		<h2>Detalles de Fianza</h2>
		<td align="center">
			<%= link_to 'Inicio', url_for("/") %>
			<% if [10,13,21,22].include?(current_user.rol_id) %>
				<br/><br/><%= link_to 'Fianzas', fianzas_path %>
				<br/><br/><%= link_to 'Nueva Fianza', new_fianza_path %>
			<% end %>
		</td>
	</tr>
</table>
<table border="10" width="100%">
  <tr>
    <th>#F</th>
	<th>Contrato</th>
    <th>Fecha</th>
    <th>Recibida</th>
    <th>Proceso</th>
    <th>Tipo</th>
    <th>Modificada</th>
    <th>Captura</th>
    <th>Estado</th>
    <th>Monto</th>
  </tr>

  <tr>
    <td align="center"><%=h @fianza.id %></td>
    <td align="center"><%=h @fianza.contratos %></td>
    <td align="center"><%=h @fianza.fecha %></td>
    <td align="center"><%=h @fianza.vence %></td>
    <% proceso = Proceso.find(@fianza.proceso_id) %>
    <td align="center"><%=h proceso.proceso %></td>
    <td align="center"><%=h Tipo.find(@fianza.tipo_id).tipo %></td>
    <td align="center"><%=h @fianza.updated_at.to_date %></td>
    <td align="center"><%=h User.find(@fianza.user_id).name %></td>
    <td align="center"><%=h Estado.find(@fianza.estado_id).estado %></td>
    <td align="center"><%=h number_to_currency(@fianza.monto, :unit => '$', :separator => ".", :delimiter => ",") %></td>
	<% if [10].include?(current_user.rol_id) || [1,3].include?(@fianza.estado_id) %>
		<td><%= link_to 'Mod', edit_fianza_path(@fianza) %></td>
		<% if [10].include?(current_user.rol_id) %>
			<td><%= link_to 'X', @fianza, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>	
	<% end %>	
  </tr>
  <tr>
    <td align="center" colspan="5"><%=h Prov.find(@fianza.prov_id).fiscal %></td>
    <td align="center" colspan="5"><%=h @fianza.observa %></td>
  </tr>
</table>
<table border='10' width="100%">
  <tr>
	<th>PEDIDOS</th>
    <td align="right" colspan="5"><b>Total Amparado</b></td>
	<td align="right"><%=h number_to_currency(amparado=(@fianza.monto / (@fianza.tipo_id == 1 ? 0.3 : 0.1)), :unit => '$', :separator => ".", :delimiter => ",") %></td>
  </tr>
  <tr>
    <th>No.</th>
    <th>Clues</th>
    <th>Fecha</th>
    <th>Almacen</th>
    <th>Entrega</th>
    <th>Elabora</th>
    <th>Monto <%=h @fianza.tipo_id != 1 ? 'S' : 'C' %>/IVA </th>
  </tr>
<% montopeds = 0.0 %>
<% @peds.each do |ped| %>
  <tr>
    <td align="center" ><%=link_to ped.id, ped %>
	<td align="center"><% if ped.clues_id != nil %>
		<% clues = Clue.find(ped.clues_id) %>
		<%= clues.nomunidad %>-<%= clues.clues %>
		<% end %>	
    </td>
    <td align="center"><%=h ped.fecha %></td>
	<td align="center">
		<% if ped.almacen_id != nil %>
			<% if current_user.id == 165 or ped.id > 367 %>
				<% almacen = Almacen.find(ped.almacen_id) %>
				<%=h almacen != nil ? almacen.nombre : '' %>
			<% else %>
				<% almacen = Clue.find(ped.almacen_id ) %>
				<%=h almacen != nil ? almacen.nomunidad : '' %>
			<% end %>	
		<% end %>	
    </td>
    <td align="center"><%=h ped.entrega %></td>
	<td align="center"><% if ped.user_id != nil %>
		<%=h User.find(ped.user_id).name %>
		<% end %>	
    </td>
    <td align="right">
		<% if @fianza.tipo_id != 1 %>
			<%=h number_to_currency(ped.subtotal, :unit => '$', :separator => ".", :delimiter => ",") %>
			<% montopeds= montopeds+ped.subtotal %>
		<% else %>
			<%=h number_to_currency(ped.total, :unit => '$', :separator => ".", :delimiter => ",") %>
			<% montopeds= montopeds+ped.total %>
		<% end %>
	</td>
  </tr>
<% end %>
  <tr>
    <td align="right"><b>Diferencia</b></td>
	<td align="left"><%=h number_to_currency(amparado-montopeds, :unit => '$', :separator => ".", :delimiter => ",") %></td>
    <td align="right" colspan="4"><b>Total Pedidos</b></td>
	<td align="right"><%=h number_to_currency(montopeds, :unit => '$', :separator => ".", :delimiter => ",") %></td>
  </tr>
</table>
