<%= form_with(model: poas_asigna) do |form| %>
  <% if poas_asigna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poas_asigna.errors.count, "error") %> prohibited this poas_asigna from being saved:</h2>

      <ul>
        <% poas_asigna.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :poas_id %>
    <%= form.text_field :poas_id %>
  </div>

  <div class="field">
    <%= form.label :proceso_id %>
    <%= form.text_field :proceso_id %>
  </div>

  <div class="field">
    <%= form.label :clues_id %>
    <%= form.text_field :clues_id %>
  </div>

  <div class="field">
    <%= form.label :almacen_id %>
    <%= form.text_field :almacen_id %>
  </div>

  <div class="field">
    <%= form.label :proveedor_id %>
    <%= form.text_field :proveedor_id %>
  </div>

  <div class="field">
    <%= form.label :proveedor %>
    <%= form.text_field :proveedor %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="field">
    <%= form.label :iva %>
    <%= form.text_field :iva %>
  </div>

  <div class="field">
    <%= form.label :empate %>
    <%= form.check_box :empate %>
  </div>

  <div class="field">
    <%= form.label :clave_id %>
    <%= form.text_field :clave_id %>
  </div>

  <div class="field">
    <%= form.label :articulo %>
    <%= form.text_field :articulo %>
  </div>

  <div class="field">
    <%= form.label :sino %>
    <%= form.text_field :sino %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :presentacion %>
    <%= form.text_field :presentacion %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :entrega_1 %>
    <%= form.text_field :entrega_1 %>
  </div>

  <div class="field">
    <%= form.label :entrega_fecha_1 %>
    <%= form.date_select :entrega_fecha_1 %>
  </div>

  <div class="field">
    <%= form.label :detpeds_id_1 %>
    <%= form.number_field :detpeds_id_1 %>
  </div>

  <div class="field">
    <%= form.label :entrega_2 %>
    <%= form.text_field :entrega_2 %>
  </div>

  <div class="field">
    <%= form.label :entrega_fecha_2 %>
    <%= form.date_select :entrega_fecha_2 %>
  </div>

  <div class="field">
    <%= form.label :detpeds_id_2 %>
    <%= form.number_field :detpeds_id_2 %>
  </div>

  <div class="field">
    <%= form.label :entrega_3 %>
    <%= form.text_field :entrega_3 %>
  </div>

  <div class="field">
    <%= form.label :entrega_fecha_3 %>
    <%= form.date_select :entrega_fecha_3 %>
  </div>

  <div class="field">
    <%= form.label :detpeds_id_3 %>
    <%= form.number_field :detpeds_id_3 %>
  </div>

  <div class="field">
    <%= form.label :entrega_4 %>
    <%= form.text_field :entrega_4 %>
  </div>

  <div class="field">
    <%= form.label :entrega_fecha_4 %>
    <%= form.date_select :entrega_fecha_4 %>
  </div>

  <div class="field">
    <%= form.label :detpeds_id_4 %>
    <%= form.number_field :detpeds_id_4 %>
  </div>

  <div class="field">
    <%= form.label :entrega_5 %>
    <%= form.text_field :entrega_5 %>
  </div>

  <div class="field">
    <%= form.label :entrega_fecha_5 %>
    <%= form.date_select :entrega_fecha_5 %>
  </div>

  <div class="field">
    <%= form.label :detpeds_id_5 %>
    <%= form.number_field :detpeds_id_5 %>
  </div>

  <div class="field">
    <%= form.label :sacp_anio_pago %>
    <%= form.number_field :sacp_anio_pago %>
  </div>

  <div class="field">
    <%= form.label :sacp_requisi_pago %>
    <%= form.number_field :sacp_requisi_pago %>
  </div>

  <div class="field">
    <%= form.label :sacp_interno_pago %>
    <%= form.number_field :sacp_interno_pago %>
  </div>

  <div class="field">
    <%= form.label :cve_presup %>
    <%= form.number_field :cve_presup %>
  </div>

  <div class="field">
    <%= form.label :cve_centro_resp %>
    <%= form.number_field :cve_centro_resp %>
  </div>

  <div class="field">
    <%= form.label :sacp_requisi %>
    <%= form.number_field :sacp_requisi %>
  </div>

  <div class="field">
    <%= form.label :sacp_interno %>
    <%= form.number_field :sacp_interno %>
  </div>

  <div class="field">
    <%= form.label :sacp_anio %>
    <%= form.number_field :sacp_anio %>
  </div>

  <div class="field">
    <%= form.label :sacp_esq %>
    <%= form.number_field :sacp_esq %>
  </div>

  <div class="field">
    <%= form.label :fuente_id %>
    <%= form.text_field :fuente_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
