<p id="notice"><%= notice %></p>

<h1>Poas Asignas</h1>

<table>
  <thead>
    <tr>
      <th>Poas</th>
      <th>Proceso</th>
      <th>Clues</th>
      <th>Almacen</th>
      <th>Proveedor</th>
      <th>Proveedor</th>
      <th>Precio</th>
      <th>Iva</th>
      <th>Empate</th>
      <th>Clave</th>
      <th>Articulo</th>
      <th>Sino</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Marca</th>
      <th>Cantidad</th>
      <th>Entrega 1</th>
      <th>Entrega fecha 1</th>
      <th>Detpeds id 1</th>
      <th>Entrega 2</th>
      <th>Entrega fecha 2</th>
      <th>Detpeds id 2</th>
      <th>Entrega 3</th>
      <th>Entrega fecha 3</th>
      <th>Detpeds id 3</th>
      <th>Entrega 4</th>
      <th>Entrega fecha 4</th>
      <th>Detpeds id 4</th>
      <th>Entrega 5</th>
      <th>Entrega fecha 5</th>
      <th>Detpeds id 5</th>
      <th>Sacp anio pago</th>
      <th>Sacp requisi pago</th>
      <th>Sacp interno pago</th>
      <th>Cve presup</th>
      <th>Cve centro resp</th>
      <th>Sacp requisi</th>
      <th>Sacp interno</th>
      <th>Sacp anio</th>
      <th>Sacp esq</th>
      <th>Fuente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poas_asignas.each do |poas_asigna| %>
      <tr>
        <td><%= poas_asigna.poas_id %></td>
        <td><%= poas_asigna.proceso_id %></td>
        <td><%= poas_asigna.clues_id %></td>
        <td><%= poas_asigna.almacen_id %></td>
        <td><%= poas_asigna.proveedor_id %></td>
        <td><%= poas_asigna.proveedor %></td>
        <td><%= poas_asigna.precio %></td>
        <td><%= poas_asigna.iva %></td>
        <td><%= poas_asigna.empate %></td>
        <td><%= poas_asigna.clave_id %></td>
        <td><%= poas_asigna.articulo %></td>
        <td><%= poas_asigna.sino %></td>
        <td><%= poas_asigna.descripcion %></td>
        <td><%= poas_asigna.presentacion %></td>
        <td><%= poas_asigna.marca %></td>
        <td><%= poas_asigna.cantidad %></td>
        <td><%= poas_asigna.entrega_1 %></td>
        <td><%= poas_asigna.entrega_fecha_1 %></td>
        <td><%= poas_asigna.detpeds_id_1 %></td>
        <td><%= poas_asigna.entrega_2 %></td>
        <td><%= poas_asigna.entrega_fecha_2 %></td>
        <td><%= poas_asigna.detpeds_id_2 %></td>
        <td><%= poas_asigna.entrega_3 %></td>
        <td><%= poas_asigna.entrega_fecha_3 %></td>
        <td><%= poas_asigna.detpeds_id_3 %></td>
        <td><%= poas_asigna.entrega_4 %></td>
        <td><%= poas_asigna.entrega_fecha_4 %></td>
        <td><%= poas_asigna.detpeds_id_4 %></td>
        <td><%= poas_asigna.entrega_5 %></td>
        <td><%= poas_asigna.entrega_fecha_5 %></td>
        <td><%= poas_asigna.detpeds_id_5 %></td>
        <td><%= poas_asigna.sacp_anio_pago %></td>
        <td><%= poas_asigna.sacp_requisi_pago %></td>
        <td><%= poas_asigna.sacp_interno_pago %></td>
        <td><%= poas_asigna.cve_presup %></td>
        <td><%= poas_asigna.cve_centro_resp %></td>
        <td><%= poas_asigna.sacp_requisi %></td>
        <td><%= poas_asigna.sacp_interno %></td>
        <td><%= poas_asigna.sacp_anio %></td>
        <td><%= poas_asigna.sacp_esq %></td>
        <td><%= poas_asigna.fuente_id %></td>
        <td><%= link_to 'Show', poas_asigna %></td>
        <td><%= link_to 'Edit', edit_poas_asigna_path(poas_asigna) %></td>
        <td><%= link_to 'Destroy', poas_asigna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poas Asigna', new_poas_asigna_path %>
