<p id="notice"><%= notice %></p>

<p>
  <strong>Poas:</strong>
  <%= @poas_asigna.poas_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @poas_asigna.proceso_id %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @poas_asigna.clues_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @poas_asigna.almacen_id %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @poas_asigna.proveedor_id %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @poas_asigna.proveedor %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @poas_asigna.precio %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @poas_asigna.iva %>
</p>

<p>
  <strong>Empate:</strong>
  <%= @poas_asigna.empate %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @poas_asigna.clave_id %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @poas_asigna.articulo %>
</p>

<p>
  <strong>Sino:</strong>
  <%= @poas_asigna.sino %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @poas_asigna.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @poas_asigna.presentacion %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @poas_asigna.marca %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @poas_asigna.cantidad %>
</p>

<p>
  <strong>Entrega 1:</strong>
  <%= @poas_asigna.entrega_1 %>
</p>

<p>
  <strong>Entrega fecha 1:</strong>
  <%= @poas_asigna.entrega_fecha_1 %>
</p>

<p>
  <strong>Detpeds id 1:</strong>
  <%= @poas_asigna.detpeds_id_1 %>
</p>

<p>
  <strong>Entrega 2:</strong>
  <%= @poas_asigna.entrega_2 %>
</p>

<p>
  <strong>Entrega fecha 2:</strong>
  <%= @poas_asigna.entrega_fecha_2 %>
</p>

<p>
  <strong>Detpeds id 2:</strong>
  <%= @poas_asigna.detpeds_id_2 %>
</p>

<p>
  <strong>Entrega 3:</strong>
  <%= @poas_asigna.entrega_3 %>
</p>

<p>
  <strong>Entrega fecha 3:</strong>
  <%= @poas_asigna.entrega_fecha_3 %>
</p>

<p>
  <strong>Detpeds id 3:</strong>
  <%= @poas_asigna.detpeds_id_3 %>
</p>

<p>
  <strong>Entrega 4:</strong>
  <%= @poas_asigna.entrega_4 %>
</p>

<p>
  <strong>Entrega fecha 4:</strong>
  <%= @poas_asigna.entrega_fecha_4 %>
</p>

<p>
  <strong>Detpeds id 4:</strong>
  <%= @poas_asigna.detpeds_id_4 %>
</p>

<p>
  <strong>Entrega 5:</strong>
  <%= @poas_asigna.entrega_5 %>
</p>

<p>
  <strong>Entrega fecha 5:</strong>
  <%= @poas_asigna.entrega_fecha_5 %>
</p>

<p>
  <strong>Detpeds id 5:</strong>
  <%= @poas_asigna.detpeds_id_5 %>
</p>

<p>
  <strong>Sacp anio pago:</strong>
  <%= @poas_asigna.sacp_anio_pago %>
</p>

<p>
  <strong>Sacp requisi pago:</strong>
  <%= @poas_asigna.sacp_requisi_pago %>
</p>

<p>
  <strong>Sacp interno pago:</strong>
  <%= @poas_asigna.sacp_interno_pago %>
</p>

<p>
  <strong>Cve presup:</strong>
  <%= @poas_asigna.cve_presup %>
</p>

<p>
  <strong>Cve centro resp:</strong>
  <%= @poas_asigna.cve_centro_resp %>
</p>

<p>
  <strong>Sacp requisi:</strong>
  <%= @poas_asigna.sacp_requisi %>
</p>

<p>
  <strong>Sacp interno:</strong>
  <%= @poas_asigna.sacp_interno %>
</p>

<p>
  <strong>Sacp anio:</strong>
  <%= @poas_asigna.sacp_anio %>
</p>

<p>
  <strong>Sacp esq:</strong>
  <%= @poas_asigna.sacp_esq %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @poas_asigna.fuente_id %>
</p>

<%= link_to 'Edit', edit_poas_asigna_path(@poas_asigna) %> |
<%= link_to 'Back', poas_asignas_path %>
