<%= form_with(model: almacen) do |form| %>
  <% if almacen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(almacen.errors.count, "error") %> prohibited this almacen from being saved:</h2>

      <ul>
        <% almacen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clue_id %>
    <%= form.text_field :clue_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_area :nombre %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.number_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :cuenta1 %>
    <%= form.text_field :cuenta1 %>
  </div>

  <div class="field">
    <%= form.label :cuenta2 %>
    <%= form.text_field :cuenta2 %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="field">
    <%= form.label :conta1_id %>
    <%= form.text_field :conta1_id %>
  </div>

  <div class="field">
    <%= form.label :conta2_id %>
    <%= form.text_field :conta2_id %>
  </div>

  <div class="field">
    <%= form.label :almac1_id %>
    <%= form.text_field :almac1_id %>
  </div>

  <div class="field">
    <%= form.label :almac2_id %>
    <%= form.text_field :almac2_id %>
  </div>

  <div class="field">
    <%= form.label :almac3_id %>
    <%= form.text_field :almac3_id %>
  </div>

  <div class="field">
    <%= form.label :depende_id %>
    <%= form.text_field :depende_id %>
  </div>

  <div class="field">
    <%= form.label :almac4_id %>
    <%= form.text_field :almac4_id %>
  </div>

  <div class="field">
    <%= form.label :almac5_id %>
    <%= form.text_field :almac5_id %>
  </div>

  <div class="field">
    <%= form.label :almac6_id %>
    <%= form.text_field :almac6_id %>
  </div>

  <div class="field">
    <%= form.label :almac7_id %>
    <%= form.text_field :almac7_id %>
  </div>

  <div class="field">
    <%= form.label :domicilio %>
    <%= form.text_field :domicilio %>
  </div>

  <div class="field">
    <%= form.label :municipio %>
    <%= form.text_field :municipio %>
  </div>

  <div class="field">
    <%= form.label :cp %>
    <%= form.number_field :cp %>
  </div>

  <div class="field">
    <%= form.label :cpostal %>
    <%= form.text_field :cpostal %>
  </div>

  <div class="field">
    <%= form.label :jefeu %>
    <%= form.number_field :jefeu %>
  </div>

  <div class="field">
    <%= form.label :admoru %>
    <%= form.number_field :admoru %>
  </div>

  <div class="field">
    <%= form.label :cierre1 %>
    <%= form.date_select :cierre1 %>
  </div>

  <div class="field">
    <%= form.label :cierre2 %>
    <%= form.date_select :cierre2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
