<div class="container boder_div" >
<table border="0" width="80%">
	<tr>
		<td><img src="/images/ssslp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><b>Sistema Integral Estatal de Control de Inventarios</b><hr/>
		<h2>Almacenes</h2>
		<td align="center">
			<%= link_to 'Inicio', url_for("/") %>
			<% if [10,13].include?(current_user.rol_id) %>
				<br/><br/><%= link_to 'Nuevo Almacen', new_almacen_path %>
			<% end %>
		</td>
	</tr>
</table>
<table border="10" width="100%">
  <tr>
    <th>#Al.</th>
    <th>Unidad</th>
    <th>Responsable</th>
    <th>Nombre</th>
    <th>Mov.</th>
    <th>Tipo</th>
  </tr>
<% mialmacen = 0 %>
<% @almacens.each do |almacen| %>
	<% if [almacen.conta1_id,almacen.conta2_id,almacen.almac1_id,almacen.almac2_id,almacen.almac3_id,almacen.almac4_id,almacen.almac5_id,almacen.almac6_id,almacen.almac7_id,almacen.user_id].include?(current_user.id) || [almacen.depende_id,1].include?(mialmacen) || [5,10,13,24,26,27].include?(current_user.rol_id) || [165].include?(current_user.id) || (current_user.dato1 != nil && [almacen.id,almacen.depende_id].include?(current_user.dato1)) %>
		<% if almacen.depende_id != mialmacen %>
			<% mialmacen = almacen.id %>
		<% end %>	
		<tr>
			<td align="center"><%=h almacen.id %></td>
			<td align="center"><%=h almacen.clue.nomunidad %></td>
			<td align="center"><%=h almacen.user.name %></td>
			<td align="center"><%= link_to almacen.nombre, almacen_path(almacen.id) %></td>
			<td align="center"><%= link_to 'Ver', movimientos_path(:almacen=>almacen.id),class: :"btn btn-sm btn-primary" %></td>
			<td align="center"><%= link_to almacen.tipo, almacen_path(almacen.id,:marbetes=> true) ,class: :"btn btn-sm btn-success" %></td>
			<% if [10,13,27].include?(current_user.rol_id) || [165].include?(current_user.id) %>
				<!-- <td align="center"><%# link_to 'Mod.', edit_almacen_path(almacen) %></td>-->
				<% if [10].include?(current_user.rol_id) %>
					<!-- <td align="center"><%= link_to 'X', almacen, :confirm => 'Are you sure?', :method => :delete %></td>-->
				<% end %>
			<% end %>
		</tr>
	<% end %>
<% end %>
</table>
</div>
<br />
<br />
<footer >
    <%= will_paginate @almacens , class: :"footer"%>
</footer>

