<p id="notice"><%= notice %></p>

<p>
  <strong>Clue:</strong>
  <%= @almacen.clue_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @almacen.user_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @almacen.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @almacen.tipo %>
</p>

<p>
  <strong>Cuenta1:</strong>
  <%= @almacen.cuenta1 %>
</p>

<p>
  <strong>Cuenta2:</strong>
  <%= @almacen.cuenta2 %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @almacen.tipo_id %>
</p>

<p>
  <strong>Conta1:</strong>
  <%= @almacen.conta1_id %>
</p>

<p>
  <strong>Conta2:</strong>
  <%= @almacen.conta2_id %>
</p>

<p>
  <strong>Almac1:</strong>
  <%= @almacen.almac1_id %>
</p>

<p>
  <strong>Almac2:</strong>
  <%= @almacen.almac2_id %>
</p>

<p>
  <strong>Almac3:</strong>
  <%= @almacen.almac3_id %>
</p>

<p>
  <strong>Depende:</strong>
  <%= @almacen.depende_id %>
</p>

<p>
  <strong>Almac4:</strong>
  <%= @almacen.almac4_id %>
</p>

<p>
  <strong>Almac5:</strong>
  <%= @almacen.almac5_id %>
</p>

<p>
  <strong>Almac6:</strong>
  <%= @almacen.almac6_id %>
</p>

<p>
  <strong>Almac7:</strong>
  <%= @almacen.almac7_id %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @almacen.domicilio %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @almacen.municipio %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @almacen.cp %>
</p>

<p>
  <strong>Cpostal:</strong>
  <%= @almacen.cpostal %>
</p>

<p>
  <strong>Jefeu:</strong>
  <%= @almacen.jefeu %>
</p>

<p>
  <strong>Admoru:</strong>
  <%= @almacen.admoru %>
</p>

<p>
  <strong>Cierre1:</strong>
  <%= @almacen.cierre1 %>
</p>

<p>
  <strong>Cierre2:</strong>
  <%= @almacen.cierre2 %>
</p>

<%= link_to 'Edit', edit_almacen_path(@almacen) %> |
<%= link_to 'Back', almacens_path %>
