<%= form_with(model: evolucion) do |form| %>
  <% if evolucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evolucion.errors.count, "error") %> prohibited this evolucion from being saved:</h2>

      <ul>
        <% evolucion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :paciente_id %>
    <%= form.text_field :paciente_id %>
  </div>

  <div class="field">
    <%= form.label :atencion_id %>
    <%= form.text_field :atencion_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :diagnosticos %>
    <%= form.text_area :diagnosticos %>
  </div>

  <div class="field">
    <%= form.label :ta %>
    <%= form.text_field :ta %>
  </div>

  <div class="field">
    <%= form.label :fr %>
    <%= form.text_field :fr %>
  </div>

  <div class="field">
    <%= form.label :fc %>
    <%= form.text_field :fc %>
  </div>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp %>
  </div>

  <div class="field">
    <%= form.label :condiciones %>
    <%= form.text_area :condiciones %>
  </div>

  <div class="field">
    <%= form.label :pendientes %>
    <%= form.text_area :pendientes %>
  </div>

  <div class="field">
    <%= form.label :pronostico %>
    <%= form.text_field :pronostico %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.text_field :tipo_id %>
  </div>

  <div class="field">
    <%= form.label :fechaeg %>
    <%= form.datetime_select :fechaeg %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
