<table border="0" width="100%">
	<tr>
		<td><img src="/images/ssslp-smp.jpg" alt="Servicios de Salud de S.L.P." width="215" height="101" /></td>
		<td align="center"><b>Seguimiento a Pacientes con Complicaciones durante el Embarazo y/o Puerperio</b></br><hr/>
							<h2>Evoluciones</h2>
			<% if @paciente_id != nil %>
				<%= link_to @paciente_id,paciente_path(@paciente_id) %>-<%= Paciente.find(:first, :conditions=>{:id => @paciente_id}).name %>
			<% end %>
		</td>	
		<td align="center" valign="bottom">	
			<%= link_to 'Inicio', url_for("/") %>
			<% if [10].include?(current_user.rol_id) && false %>
				<br/><%= link_to "Detalle Solicitudes", articulos_url %> 
			<% end %>
		</td>	
	</tr>
</table>
<table border='10' width='100%'>
  <tr>
	<% if @paciente_id == nil %>
		<th>Pac.</th>
	<% end %>	
    <th>Atn.</th>
    <th>Fecha</th>
    <th>Diagnosticos</th>
    <th>Ta</th>
    <th>Fr</th>
    <th>Fc</th>
    <th>Temp</th>
    <th>Condiciones</th>
    <th>Pendientes</th>
    <th>Pronostico</th>
    <th>MD</th>
  </tr>

<% @evolucions.each do |evolucion| %>
  <tr>
	<% if @paciente_id == nil %>
		<td align="center"><%= link_to evolucion.paciente_id, paciente_path(evolucion.paciente_id) %></td>
	<% end %>	
    <td align="center"><%=h evolucion.atencion_id %></td>
    <td align="center"><%=h evolucion.fecha %></td>
    <td align="center"><%=h evolucion.diagnosticos %></td>
    <td align="center"><%=h evolucion.ta %></td>
    <td align="center"><%=h evolucion.fr %></td>
    <td align="center"><%=h evolucion.fc %></td>
    <td align="center"><%=h evolucion.temp %></td>
    <td align="center"><%=h evolucion.condiciones %></td>
    <td align="center"><%=h evolucion.pendientes %></td>
    <td align="center"><%=h evolucion.pronostico %></td>
    <td align="center"><%=h evolucion.user_id %></td>
	<% if [10,18].include?(current_user.rol_id) %>
		<td align="center"><%= link_to 'Mod.', edit_evolucion_path(evolucion) %></td>
		<% if [10,18].include?(current_user.rol_id) %>	
			<td align="center"><%= link_to 'X', evolucion, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>
<br />
