<p>
  <b>Paciente:</b>
  <%=h @evolucion.paciente_id %>
</p>

<p>
  <b>Atencion:</b>
  <%=h @evolucion.atencion_id %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @evolucion.fecha %>
</p>

<p>
  <b>Diagnosticos:</b>
  <%=h @evolucion.diagnosticos %>
</p>

<p>
  <b>Ta:</b>
  <%=h @evolucion.ta %>
</p>

<p>
  <b>Fr:</b>
  <%=h @evolucion.fr %>
</p>

<p>
  <b>Fc:</b>
  <%=h @evolucion.fc %>
</p>

<p>
  <b>Temp:</b>
  <%=h @evolucion.temp %>
</p>

<p>
  <b>Condiciones:</b>
  <%=h @evolucion.condiciones %>
</p>

<p>
  <b>Pendientes:</b>
  <%=h @evolucion.pendientes %>
</p>

<p>
  <b>Pronostico:</b>
  <%=h @evolucion.pronostico %>
</p>

<p>
  <b>User:</b>
  <%=h @evolucion.user_id %>
</p>


<%= link_to 'Edit', edit_evolucion_path(@evolucion) %> |
<%= link_to 'Back', evolucions_path %>