<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @evolucion.paciente_id %>
</p>

<p>
  <strong>Atencion:</strong>
  <%= @evolucion.atencion_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @evolucion.fecha %>
</p>

<p>
  <strong>Diagnosticos:</strong>
  <%= @evolucion.diagnosticos %>
</p>

<p>
  <strong>Ta:</strong>
  <%= @evolucion.ta %>
</p>

<p>
  <strong>Fr:</strong>
  <%= @evolucion.fr %>
</p>

<p>
  <strong>Fc:</strong>
  <%= @evolucion.fc %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @evolucion.temp %>
</p>

<p>
  <strong>Condiciones:</strong>
  <%= @evolucion.condiciones %>
</p>

<p>
  <strong>Pendientes:</strong>
  <%= @evolucion.pendientes %>
</p>

<p>
  <strong>Pronostico:</strong>
  <%= @evolucion.pronostico %>
</p>

<p>
  <strong>User:</strong>
  <%= @evolucion.user_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @evolucion.tipo_id %>
</p>

<p>
  <strong>Fechaeg:</strong>
  <%= @evolucion.fechaeg %>
</p>

<%= link_to 'Edit', edit_evolucion_path(@evolucion) %> |
<%= link_to 'Back', evolucions_path %>
