<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @temp18.id %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @temp18.clues_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @temp18.proceso_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @temp18.fecha %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @temp18.proveedor_id %>
</p>

<p>
  <strong>Condiciones:</strong>
  <%= @temp18.condiciones_id %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @temp18.almacen_id %>
</p>

<p>
  <strong>Entrega:</strong>
  <%= @temp18.entrega %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @temp18.requisicion_id %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @temp18.programa_id %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @temp18.observaciones %>
</p>

<p>
  <strong>User:</strong>
  <%= @temp18.user_id %>
</p>

<p>
  <strong>Jda:</strong>
  <%= @temp18.jda_id %>
</p>

<p>
  <strong>So:</strong>
  <%= @temp18.so_id %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @temp18.cp_id %>
</p>

<p>
  <strong>Da:</strong>
  <%= @temp18.da_id %>
</p>

<p>
  <strong>Dg:</strong>
  <%= @temp18.dg_id %>
</p>

<p>
  <strong>Adq:</strong>
  <%= @temp18.adq_id %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @temp18.subtotal %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @temp18.iva %>
</p>

<p>
  <strong>Total:</strong>
  <%= @temp18.total %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temp18.estado_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @temp18.renglon_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @temp18.tipo_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp18.partida_id %>
</p>

<p>
  <strong>Pena:</strong>
  <%= @temp18.pena %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @temp18.contrato %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @temp18.fuente_id %>
</p>

<p>
  <strong>Fianza:</strong>
  <%= @temp18.fianza_id %>
</p>

<%= link_to 'Edit', edit_temp18_path(@temp18) %> |
<%= link_to 'Back', temp18s_path %>
