<p id="notice"><%= notice %></p>

<h1>Afiliacions</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Institu</th>
      <th>Institucion</th>
      <th>Afiliacion</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @afiliacions.each do |afiliacion| %>
      <tr>
        <td><%= afiliacion.paciente_id %></td>
        <td><%= afiliacion.institu_id %></td>
        <td><%= afiliacion.institucion %></td>
        <td><%= afiliacion.afiliacion %></td>
        <td><%= afiliacion.user_id %></td>
        <td><%= link_to 'Show', afiliacion %></td>
        <td><%= link_to 'Edit', edit_afiliacion_path(afiliacion) %></td>
        <td><%= link_to 'Destroy', afiliacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Afiliacion', new_afiliacion_path %>
