<p>
  <b>Paciente:</b>
  <%=h @afiliacion.paciente_id %>
</p>

<p>
  <b>Institu:</b>
  <%=h @afiliacion.institu_id %>
</p>

<p>
  <b>Institucion:</b>
  <%=h @afiliacion.institucion %>
</p>

<p>
  <b>Afiliacion:</b>
  <%=h @afiliacion.afiliacion %>
</p>

<p>
  <b>User:</b>
  <%=h @afiliacion.user_id %>
</p>


<%= link_to 'Edit', edit_afiliacion_path(@afiliacion) %> |
<%= link_to 'Back', afiliacions_path %>