<%= form_with(model: cat_basico) do |form| %>
  <% if cat_basico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cat_basico.errors.count, "error") %> prohibited this cat_basico from being saved:</h2>

      <ul>
        <% cat_basico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :presentacion %>
    <%= form.text_field :presentacion %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="field">
    <%= form.label :es_causes %>
    <%= form.check_box :es_causes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
