<p id="notice"><%= notice %></p>

<h1>Cat Basicos</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Precio</th>
      <th>Es causes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cat_basicos.each do |cat_basico| %>
      <tr>
        <td><%= cat_basico.clave %></td>
        <td><%= cat_basico.descripcion %></td>
        <td><%= cat_basico.presentacion %></td>
        <td><%= cat_basico.precio %></td>
        <td><%= cat_basico.es_causes %></td>
        <td><%= link_to 'Show', cat_basico %></td>
        <td><%= link_to 'Edit', edit_cat_basico_path(cat_basico) %></td>
        <td><%= link_to 'Destroy', cat_basico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat Basico', new_cat_basico_path %>
