<p id="notice"><%= notice %></p>

<h1>Temp1s</h1>

<table>
  <thead>
    <tr>
      <th>Idpedido</th>
      <th>Partida</th>
      <th>Idarticulo</th>
      <th>Descripcio</th>
      <th>Presentaci</th>
      <th>Marca</th>
      <th>Cantidad</th>
      <th>Nombreunid</th>
      <th>Preciounit</th>
      <th>Nombrefuen</th>
      <th>Requisicio</th>
      <th>Fiscal</th>
      <th>Ejercicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp1s.each do |temp1| %>
      <tr>
        <td><%= temp1.idpedido %></td>
        <td><%= temp1.partida %></td>
        <td><%= temp1.idarticulo %></td>
        <td><%= temp1.descripcio %></td>
        <td><%= temp1.presentaci %></td>
        <td><%= temp1.marca %></td>
        <td><%= temp1.cantidad %></td>
        <td><%= temp1.nombreunid %></td>
        <td><%= temp1.preciounit %></td>
        <td><%= temp1.nombrefuen %></td>
        <td><%= temp1.requisicio %></td>
        <td><%= temp1.fiscal %></td>
        <td><%= temp1.ejercicio %></td>
        <td><%= link_to 'Show', temp1 %></td>
        <td><%= link_to 'Edit', edit_temp1_path(temp1) %></td>
        <td><%= link_to 'Destroy', temp1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp1', new_temp1_path %>
