<p id="notice"><%= notice %></p>

<p>
  <strong>Idpedido:</strong>
  <%= @temp1.idpedido %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @temp1.partida %>
</p>

<p>
  <strong>Idarticulo:</strong>
  <%= @temp1.idarticulo %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @temp1.descripcio %>
</p>

<p>
  <strong>Presentaci:</strong>
  <%= @temp1.presentaci %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @temp1.marca %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @temp1.cantidad %>
</p>

<p>
  <strong>Nombreunid:</strong>
  <%= @temp1.nombreunid %>
</p>

<p>
  <strong>Preciounit:</strong>
  <%= @temp1.preciounit %>
</p>

<p>
  <strong>Nombrefuen:</strong>
  <%= @temp1.nombrefuen %>
</p>

<p>
  <strong>Requisicio:</strong>
  <%= @temp1.requisicio %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @temp1.fiscal %>
</p>

<p>
  <strong>Ejercicio:</strong>
  <%= @temp1.ejercicio %>
</p>

<%= link_to 'Edit', edit_temp1_path(@temp1) %> |
<%= link_to 'Back', temp1s_path %>
