<p id="notice"><%= notice %></p>

<h1>Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Solicitud</th>
      <th>Clues</th>
      <th>Partida</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Presentacion</th>
      <th>Marca mod</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Caducidad</th>
      <th>Almacen</th>
      <th>Entregas</th>
      <th>Requisicion</th>
      <th>Renglon</th>
      <th>Capacitacion</th>
      <th>Muestra</th>
      <th>Notas</th>
      <th>Anexos</th>
      <th>User</th>
      <th>Proceso</th>
      <th>Ped</th>
      <th>Catalogo</th>
      <th>Comprar</th>
      <th>Adquirido</th>
      <th>Cancelado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.solicitud_id %></td>
        <td><%= articulo.clues_id %></td>
        <td><%= articulo.partida_id %></td>
        <td><%= articulo.clave_id %></td>
        <td><%= articulo.descripcion %></td>
        <td><%= articulo.presentacion %></td>
        <td><%= articulo.marca_mod %></td>
        <td><%= articulo.cantidad %></td>
        <td><%= articulo.precio %></td>
        <td><%= articulo.caducidad %></td>
        <td><%= articulo.almacen_id %></td>
        <td><%= articulo.entregas %></td>
        <td><%= articulo.requisicion_id %></td>
        <td><%= articulo.renglon_id %></td>
        <td><%= articulo.capacitacion %></td>
        <td><%= articulo.muestra %></td>
        <td><%= articulo.notas %></td>
        <td><%= articulo.anexos %></td>
        <td><%= articulo.user_id %></td>
        <td><%= articulo.proceso_id %></td>
        <td><%= articulo.ped_id %></td>
        <td><%= articulo.catalogo_id %></td>
        <td><%= articulo.comprar %></td>
        <td><%= articulo.adquirido %></td>
        <td><%= articulo.cancelado %></td>
        <td><%= link_to 'Show', articulo %></td>
        <td><%= link_to 'Edit', edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Destroy', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articulo', new_articulo_path %>
