<p id="notice"><%= notice %></p>

<p>
  <strong>Solicitud:</strong>
  <%= @articulo.solicitud_id %>
</p>

<p>
  <strong>Clues:</strong>
  <%= @articulo.clues_id %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @articulo.partida_id %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @articulo.clave_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @articulo.descripcion %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @articulo.presentacion %>
</p>

<p>
  <strong>Marca mod:</strong>
  <%= @articulo.marca_mod %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @articulo.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @articulo.precio %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @articulo.caducidad %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @articulo.almacen_id %>
</p>

<p>
  <strong>Entregas:</strong>
  <%= @articulo.entregas %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @articulo.requisicion_id %>
</p>

<p>
  <strong>Renglon:</strong>
  <%= @articulo.renglon_id %>
</p>

<p>
  <strong>Capacitacion:</strong>
  <%= @articulo.capacitacion %>
</p>

<p>
  <strong>Muestra:</strong>
  <%= @articulo.muestra %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @articulo.notas %>
</p>

<p>
  <strong>Anexos:</strong>
  <%= @articulo.anexos %>
</p>

<p>
  <strong>User:</strong>
  <%= @articulo.user_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @articulo.proceso_id %>
</p>

<p>
  <strong>Ped:</strong>
  <%= @articulo.ped_id %>
</p>

<p>
  <strong>Catalogo:</strong>
  <%= @articulo.catalogo_id %>
</p>

<p>
  <strong>Comprar:</strong>
  <%= @articulo.comprar %>
</p>

<p>
  <strong>Adquirido:</strong>
  <%= @articulo.adquirido %>
</p>

<p>
  <strong>Cancelado:</strong>
  <%= @articulo.cancelado %>
</p>

<%= link_to 'Edit', edit_articulo_path(@articulo) %> |
<%= link_to 'Back', articulos_path %>
