<p id="notice"><%= notice %></p>

<p>
  <strong>Clues:</strong>
  <%= @clue.clues %>
</p>

<p>
  <strong>Nomunidad:</strong>
  <%= @clue.nomunidad %>
</p>

<p>
  <strong>Tipounidad:</strong>
  <%= @clue.tipounidad %>
</p>

<p>
  <strong>Cvemuni:</strong>
  <%= @clue.cvemuni %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @clue.municipio %>
</p>

<p>
  <strong>Cveloc:</strong>
  <%= @clue.cveloc %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @clue.localidad %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @clue.domicilio %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @clue.cp %>
</p>

<p>
  <strong>Estructura:</strong>
  <%= @clue.estructura_id %>
</p>

<p>
  <strong>Nomabrev:</strong>
  <%= @clue.nomabrev %>
</p>

<p>
  <strong>Juris:</strong>
  <%= @clue.juris_id %>
</p>

<%= link_to 'Edit', edit_clue_path(@clue) %> |
<%= link_to 'Back', clues_path %>
